<template>
    <ul class="nav navbar-nav">
        <li
            v-for="item in menuTree"
            :class="{ dropdown: item.children.length }"
        >
            <a :href="item.url" :title="item.tooltip" :target="item.target">
                {{ item.title }}
                <span class="caret" v-if="item.children.length"></span>
            </a>
            <ul class="dropdown-menu" v-if="item.children.length">
                <main-menu-subitem
                    v-for="subitem in item.children"
                    :item="subitem"
                ></main-menu-subitem>
            </ul>
        </li>

        <li class="font-manager">
            <a href="#" class="font-manager__btn font-manager__btn--reduce" @click.prevent="reduceFont">A<span>-</span></a>
            <a href="#" class="font-manager__btn font-manager__btn--increase" @click.prevent="increaseFont">A<span>+</span></a>
        </li>
    </ul>
</template>

<script>
    import mainMenuDesktopInit from '../../scripts/main-menu-desktop.js';
    import mainMenuMobileInit from '../../scripts/main-menu-mobile.js';

    export default {
        props: ['destination'],
        data() {
            return {
                menuTree: null
            };
        },
        computed: {
            
        },
        methods: {
            getMenu: function(){
                this.$apollo.query({
                    query: gpl`query {
                        menu(id: 4, tree: false) {
                            items {
                                id
                                menu_id
                                parent_id
                                order
                                title
                                url
                                tooltip
                                target
                            }
                        }
                    }`
                }).then( (response) => {
                    let self = this;
                    let menuList = _.cloneDeep(response.data.menu.items)
                    this.menuTree = this.buildTree(menuList);

                    setTimeout(function(){
                        if (self.destination == 'desktop') {
                            mainMenuDesktopInit();
                        } else {
                            mainMenuMobileInit();
                        }
                    }, 100);
                }, (reject) => {
                    console.error('Error in menu request', reject);
                });
            },
            buildTree: function(list){
                var map = {}, node, roots = [], i;
                for (i = 0; i < list.length; i += 1) {
                    map[list[i].id] = i; // initialize the map
                    list[i].children = []; // initialize the children
                }
                for (i = 0; i < list.length; i += 1) {
                    node = list[i];
                    if (node.parent_id != 0) {
                        // if you have dangling branches check that map[node.parent_id] exists
                        list[map[node.parent_id]].children.push(node);
                    } else {
                        roots.push(node);
                    }
                }
                return roots;
            },
            increaseFont: function(){
                var currentFont = parseInt($('html').css('font-size'));

                if(currentFont < 20) {
                    currentFont += 2;
                    $('html').css('font-size', currentFont+'px');
                    localStorage.setItem('mainFontSize', currentFont+'px');
                }
            },
            reduceFont: function(){
                var currentFont = parseInt($('html').css('font-size'));

                if(currentFont > 10) {
                    currentFont -= 2;
                    $('html').css('font-size', currentFont+'px');
                    localStorage.setItem('mainFontSize', currentFont+'px');
                }
            }
        },
        created() {
            this.getMenu();
        }
    }
</script>