<template>
    <li :class="{ 'dropdown dropdown-submenu': item.children.length }">
        <a :href="item.url" :title="item.tooltip" :target="item.target">
            {{ item.title }}
        </a>
        <ul class="dropdown-menu" v-if="item.children.length">
            <main-menu-subitem
                v-for="subitem in item.children"
                :item="subitem"
            ></main-menu-subitem>
        </ul>
    </li>
</template>

<script>
    export default {
        props: ['item'],
        data() {
            return {
                test: null
            };
        }
    }
</script>
