<template>
    <div id="contacts-page" class="contacts-page">
        <div class="row">
            <div class="col-md-3">
                <div id="branch-viewer" v-if="viewingObj">
                    <a class="" href="#" role="button" @click="showAllMap()"><span class="fa fa-arrow-left"></span> Back to list</a>
                    
                    <h3>{{ viewingObj.title }}</h3>

                    <div class="branch-email" v-if="viewingObj.contacts.email">
                        <span><b>Email:</b> {{ viewingObj.contacts.email }}</span>
                    </div>

                    <div class="person-name" v-if="viewingObj.contacts.person_name">
                        <span><b>Contact person:</b> {{ viewingObj.contacts.person_name }}</span>
                    </div>

                    <div class="person-name" v-if="viewingObj.contacts.person_email">
                        <span><b>Personal email:</b> {{ viewingObj.contacts.person_email }}</span>
                    </div>

                    <div class="person-name" v-if="viewingObj.contacts.google_maps_link">
                        <a :href="viewingObj.contacts.google_maps_link">{{ viewingObj.title }} on google maps</a>
                    </div>
                </div>

                <div class="contacts-lists" v-else-if="entries">
                    <div class="panel panel-default">
                        <div class="panel-heading">Main Office: <span class="marker-yellow"></span></div>
                        <div class="panel-body">
                            <a :href="'#' + (entry.id)"
                               class=""
                               v-for="(entry, index) in mainOffice"
                               :key="entry.title"
                               @click="showPlace(entry)">{{ entry.title }}</a>
                        </div>

                        <div class="panel-heading">Branch Offices: <span class="marker-red"></span></div>
                        <div class="panel-body">
                            <a :href="'#' + (entry.id)"
                               class=""
                               v-for="(entry, index) in branchOffices"
                               :key="entry.title"
                               @click="showPlace(entry)">{{ index+1 + '. ' + entry.title + ' (' + String(entry.domain).toUpperCase()  + ')' }}</a>
                        </div>

                        <div class="panel-heading">Research Centers: <span class="marker-blue"></span></div>
                        <div class="panel-body">
                            <a :href="'#' + (entry.id)"
                               class=""
                               v-for="(entry, index) in researchCenters"
                               :key="entry.title"
                               @click="showPlace(entry)">{{ index+1 + '. ' + entry.title + ' (' + String(entry.domain).toUpperCase()  + ')' }}</a>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <span>There are no available branch offices and research centers</span>
                </div>
            </div>

            <div class="col-md-9">
                <gmap-map
                    :center="center"
                    :zoom="zoom"
                    style="width: 100%; height: 700px"
                >
                    <gmap-marker
                        :key="index"
                        v-for="(e, index) in mainOffice"
                        v-if="e.geocode.lat && e.geocode.lng"
                        :position="e.geocode"
                        :title="e.title + ' (' + String(e.domain).toUpperCase()  + ')'"
                        :label="String(index+1)"
                        :clickable="true"
                        :draggable="false"
                        :icon="{url: '/images/marker--yellow.png'}"
                        @click="markerClick(e)"
                    ></gmap-marker>

                    <gmap-marker
                        :key="index"
                        v-for="(e, index) in branchOffices"
                        v-if="e.geocode.lat && e.geocode.lng"
                        :position="e.geocode"
                        :title="e.title + ' (' + String(e.domain).toUpperCase()  + ')'"
                        :label="String(index+1)"
                        :clickable="true"
                        :draggable="false"
                        :icon="{url: '/images/marker--red.png'}"
                        @click="markerClick(e)"
                    ></gmap-marker>

                    <gmap-marker
                        :key="index"
                        v-for="(e, index) in researchCenters"
                        v-if="e.geocode.lat && e.geocode.lng"
                        :position="e.geocode"
                        :title="e.title + ' (' + String(e.domain).toUpperCase()  + ')'"
                        :label="String(index+1)"
                        :clickable="true"
                        :draggable="false"
                        :icon="{url: '/images/marker--blue.png'}"
                        @click="markerClick(e)"
                    ></gmap-marker>
                </gmap-map>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                placeIdFromUrl: '',
                viewingObj: null,

                entries: null,

                center: {lat: 10.0, lng: 10.0},
                zoom: 2,
            };
        },

        computed: {
            mainOffice: function(){
                return this.entries.filter(function (entry) {
                    return entry.type == 'main_office';
                })
            },

            branchOffices: function(){
                return this.entries.filter(function (entry) {
                    return entry.type == 'branch_office';
                })
            },

            researchCenters: function(){
                return this.entries.filter(function (entry) {
                    return entry.type == 'research_center';
                })
            },
        },

        methods: {
            getEntries() {
                this.$http.get('/offices/data', {}).then(
                    response => {
                        this.entries = response.data.data.sort(this.sortAlphaNum);

                        if(this.placeIdFromUrl){
                            let newPlace = _.find(this.entries, entry => { return entry.id == this.placeIdFromUrl; });
                            
                            if(newPlace){
                                this.showPlace(newPlace);
                            }
                        }
                    }, reject => {
                        console.error('Error in request /offices/data', reject);
                    }
                );
            },
            showPlace(newPlace) {
                this.center = newPlace.geocode;
                this.zoom = 17;
                this.viewingObj=newPlace;
            },
            showAllMap(){
                this.center = {lat: 10.0, lng: 10.0};
                this.zoom = 2;
                this.viewingObj=null;
            },
            markerClick(placeInfo){
                if(placeInfo.contacts.google_maps_link){
                    window.open(placeInfo.contacts.google_maps_link, '_blank');
                }
            },
            sortAlphaNum: function (a,b) {
                var reA = /[^a-zA-Z]/g;
                var reN = /[^0-9]/g;
                var aA = a.title.replace(reA, "");
                var bA = b.title.replace(reA, "");

                if(aA === bA) {
                    var aN = parseInt(a.title.replace(reN, ""), 10);
                    var bN = parseInt(b.title.replace(reN, ""), 10);
                    return aN === bN ? 0 : aN > bN ? 1 : -1;
                } else {
                    return aA > bA ? 1 : -1;
                }
            },
            getHash: function(){
                this.placeIdFromUrl = _.toInteger(window.location.hash.slice(1));
            },
            scrollTop: function(){
                $('html, body').animate({
                    scrollTop: $('.locations-page').offset().top - $('.main-navbar').height() - $('.egw-main-menu').height() - 10
                }, 250);
            }
        },

        mounted() {
            this.getHash();
            this.getEntries();

            document.addEventListener("keydown", e => {
                if(e.keyCode==8 && this.zoom!=2) {
                    this.showAllMap();
                }
            });

            // Scroll to top for mobile
            $(document).on('click', '.contacts-lists .panel-body a', function(){
                this.scrollTop();
            });
        }
    }
</script>