<template>
  <div id="faq-page">
    <div class="entities-single" v-if="faqSingle">
      <div class="entities-single__back-link">
        <span @click="closeFaq">
          <i class="fa fa-arrow-left"></i> Back to FAQ list
        </span>
      </div>

      <h3 class="entities-single__title" v-if="faqSingle.title">{{ faqSingle.title }}</h3>

      <div class="entities-single" v-if="faqSingle.body" v-html="faqSingle.body"></div>

      <div class="entities-single" v-else>There are no answer on this question yet</div>
    </div>

    <div class="entities-list-wrap" v-else>
      <div class="entities-filters clearfix">
        <div class="entities-filters__amount">
          Show
          <select class="form-control" v-model="pager.perPage">
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
          </select>
          entries
        </div>
      </div>

      <div class="entities-search">
      	<input type="text" class="form-control" v-model="searchQuery" placeholder="Search for FAQ">
      </div>

      <div class="entities-list list">
        <div class="preloader" v-if="isLoading"></div>

        <ul v-if="pager.total">
          <li :id="'faq/' + entry.id" class="entities-item" v-for="(entry, key) in faqList">
            <a :href="'/faq/' + entry.id" @click.prevent="openFaq(entry)">{{ entry.title }}</a>
          </li>
        </ul>

        <div v-else>There are no faq for your query</div>

        <div class="entities-pagination">
          <pagination
            :total="pager.total"
            :offset="pager.offset"
            :perPage="pager.perPage"
            @page-changed="val => pager.offset = val"
          ></pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        isLoading: false,
        searchQuery: '',
        faqList: {},
        faqSingle: null,
        pager: {
          total: 0,
          offset: 0,
          perPage: 25
        }
      };
    },
    methods: {
      getFaqList: function () {
        this.isLoading = true
        let page = this.pager.offset / this.pager.perPage + 1
        this.$http.get(`/faq/data?search_string=${encodeURI(this.searchQuery)}&page=${page}&limit=${this.pager.perPage}&with=references`)
        .then(response => {
          this.pager.total = response.data.meta.pagination.total
          this.pager.perPage = response.data.meta.pagination.per_page
          let faqArr = _.cloneDeep(response.data)
          delete faqArr.meta
          this.faqList = faqArr
          this.isLoading = false
        })
        .catch(error => {
          console.error('Error in request /faq/data', error)
          this.isLoading = false
        })
      },
      fetchSearchResults: _.debounce ( function () {
        this.getFaqList()
      }, 300),
      openFaq: function (faq) {
        this.faqSingle = faq
      },
      closeFaq: function () {
        this.faqSingle = null
      }
    },
    mounted() {
      this.getFaqList()
    },
    watch: {
      searchQuery: function (val, newVal) {
        if (newVal && newVal !== val) {
          this.fetchSearchResults()
        }
      },
      'pager.offset': function () {
        this.getFaqList()
      },
      'pager.perPage': function () {
        this.getFaqList()
      }
    }
  }
</script>
