<template>
    <div id="staff-page" class="staff-page">
        <div class="entities-collection" :class="{ _hidden: choosenStaff }">
            <div class="entities-filters clearfix">
                <div class="entities-filters__amount">
                    Show
                    <select class="form-control" v-model="pager.perPage">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                    </select>
                    entries
                </div>

                <div class="entities-filters__view-mode">
                    <div class="entities-filters__view-mode-item pile" :class="{ active: viewMode=='pile' }" @click="viewMode = 'pile'">
                        <i class="glyphicon glyphicon-th"></i>
                    </div>
                    <div class="entities-filters__view-mode-item list" :class="{ active: viewMode=='list' }" @click="viewMode = 'list'">
                        <i class="glyphicon glyphicon-th-list"></i>
                    </div>
                </div>
            </div>

            <div class="entities-search">
            	<input type="text" class="form-control" v-model="search.query" placeholder="Search for staff">
            </div>

            <div

                class="entities-list"
                :class="viewMode">
                <div class="preloader" v-if="collectionLoading"></div>

                <div class="entities-item clearfix" v-if="!emptyCollection" v-for="item in staffCollection" @click="getCollectionItem(item.id)">
                    <div class="entities-item__avatar">
                        <img :src="item.avatar.public_path" v-if="item.avatar && item.avatar.public_path" :alt="item.title">
                        <img src="/images/default-person.jpg" v-else alt="Default avatar">
                    </div>
                    <div class="entities-item__name">{{item.title}}</div>
                </div>
            </div>

            <div class="entities-pagination text-center">
            	<pagination
                    :total="pager.total"
                    :offset="pager.offset"
                    :perPage="pager.perPage"
                    @page-changed="val => pager.offset = val"
                ></pagination>
            </div>
        </div>

        <div class="entities-single clearfix" v-if="choosenStaff">
            <div class="preloader" v-if="collectionItemLoading"></div>

            <div class="entities-single__back-link">
                <span @click="deleteChoosenStuff"><i class="fa fa-arrow-left"></i> Back to staff list</span>
            </div>

            <div class="entities-single__img-wrap">
                <img :src="choosenStaff.avatar.public_path" v-if="choosenStaff.avatar && choosenStaff.avatar.public_path" :alt="choosenStaff.title">
                <img src="/images/default-person.jpg" v-else alt="Default avatar">
            </div>
            <div class="entities-single__info">
                <h3>{{ choosenStaff.title }}</h3>
                <div class="entities-single__desc" v-html="choosenStaff.description"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            	collectionLoading: false,
                collectionItemLoading: false,
            	requestId: null,
                viewMode: 'pile',
            	search: {
            		query: ''
            	},
                staffCollection: [],
                pager: {
                	total: 0,
                	perPage: 25,
                	offset: 0
                },
                choosenStaff: null
            };
        },

        computed: {
        	emptyCollection: function(){
        		if(this.staffCollection == null || this.staffCollection.length == 0){
        			return true;
        		} else {
        			return false;
        		};
        	}
        },

        methods: {
        	runSearch: _.debounce(function () {
                this.getCollection();
            }, 400),

            getCollection: function(){
            	this.collectionLoading = true;
                let requestId = this.requestId = Math.random();

            	this.$apollo.query({
                    query: gpl`query staffCollection($take: Int!, $skip: Int!, $title: String!) {
                        staffCollection(take: $take, skip: $skip, title: $title) {
                            total
                            items {
                            	id
                            	title
                            	avatar {
                            		public_path
                            	}
                            }
                        }
                    }`,
                    variables: {
                        take: this.pager.perPage,
                        skip: this.pager.offset,
                        title: this.search.query
                    }
                }).then( (response) => {
                    if(this.requestId == requestId){
                        this.pager.total = response.data.staffCollection.total;
                        this.staffCollection = response.data.staffCollection.items;
                        this.collectionLoading = false;
                    }
                }, (reject) => {
                    if(this.requestId == requestId){
                        this.collectionLoading = false;
                    }
                    console.error('Error in staff collection request', reject);
                });
            },
            getCollectionItem: function(id){
                this.collectionItemLoading = true;
                this.choosenStaff = true;

                this.$apollo.query({
                    query: gpl`query staff($id: Int!) {
                        staff(id: $id) {
                            id
                            title
                            description
                            avatar {
                                public_path
                            }
                        }
                    }`,
                    variables: {
                        id: id
                    }
                }).then( (response) => {
                    this.choosenStaff = response.data.staff;
                    this.collectionItemLoading = false;
                    window.location.hash = this.choosenStaff.id;
                }, (reject) => {
                    this.collectionItemLoading = false;
                    this.choosenStaff = false;
                    window.location.hash = '';
                    console.error('Error in staff collection request', reject);
                });
            },
            deleteChoosenStuff: function(){
                this.choosenStaff = null;
                window.location.hash = '';
            },
            getHash: function(){
                if(window.location.hash.substr(1).length){
                    this.getCollectionItem(window.location.hash.substr(1));
                    this.getCollection();
                } else {
                    this.getCollection();
                }
            }
        },

        mounted() {
            this.getHash();
        },

        watch: {
            'search.query': function(){
            	this.runSearch();
            },
            'pager.offset': function(){
                this.getCollection();
            },
            'pager.perPage': function(){
                this.getCollection();
            },
        },
    }
</script>
