<template>
    <div class="search-query-operators-popup-inner">
        <h2>Query string syntax</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Examples</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h3>Boolean operators</h3>
                        <p>
                            AND (can be written as && or +)<br>
                            OR (can be written as ||)<br>
                            NOT (can be written as ! or -)
                        </p>
                    </td>
                    <td>
                        <span class="code example">writings cover education AND religion OR prophecy NOT management</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h3>Wildcards</h3>
                        <p>
                            AWildcard searches can be run on individual terms, using ? to replace a single character, and * to replace zero or more characters:
                        </p>
                    </td>
                    <td>
                        <span class="code example">proph*</span><br>
                        <span class="code example">?. White</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h3>Field names</h3>
                        <p>
                            It is possible to specify fields in the query syntax:
                        </p>
                    </td>
                    <td>
                        <span class="code example">title: Ellen White</span><br>
                        <span class="code example">title: (Ellen OR James White)</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h3>Fuzzy logic</h3>
                        <p>
                            We can search for terms that are similar to, but not exactly like our search terms, using the “fuzzy” operator:
                        </p>
                    </td>
                    <td>
                        <span class="code example">quikc~ brwn~ foks~</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h3>Proximity searches</h3>
                        <p>
                            While a phrase query (eg "john smith") expects all of the terms in exactly the same order, a proximity query allows the specified words to be further apart or in a different order. In the same way that fuzzy queries can specify a maximum edit distance for characters in a word, a proximity search allows us to specify a maximum edit distance of words in a phrase:
                        </p>
                    </td>
                    <td>
                        <span class="code example">"writer gifted White Mrs."~5</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h3>Grouping</h3>
                        <p>
                            Multiple terms or clauses can be grouped together with parentheses, to form sub-queries:
                        </p>
                    </td>
                    <td>
                        <span class="code example">(Arthur OR James) AND White</span>
                    </td>
                </tr>
            </tbody>   
        </table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                topic: {}
            };
        },
    }
</script>