<template>
    <div class="form-group search-query">
        <input v-model="value" placeholder="Site search" name="search_text" type="text" class="form-control" onFocus="this.select()">

        <div class="search-query-suggestions" v-if="querySuggestions.length > 0">
            <ul>
                <li v-for="item in querySuggestions" @click="chooseSuggestion(item)">{{item}}</li>
            </ul>
        </div>

        <div class="search-query-ctrls">
            <div class="search-query-clear" @click="value=''">
                <span class="fa fa-times"></span>
            </div>

            <div class="search-query-operators-btn" @click="operatorsShow=!operatorsShow">
                <span class="fa fa-question"></span>
            </div>
        </div>

        <div class="search-query-operators-popup" v-if="operatorsShow">
            <div class="search-query-operators-popup-close" @click="operatorsShow=false">
                <span class="fa fa-times"></span>
            </div>

            <query-options-content></query-options-content>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'SearchText',
        data() {
            return {
                value: _.get(this.$store.state.controllers, 'search_text.value', null),
                querySuggestions: [],
                operatorsShow: false,
            }
        },
        methods: {
            setSearchText: _.debounce(function () {
                this.$store.commit('controllerPathSetValue', {
                    path: 'search_text.value',
                    value: this.value ? this.value : null,
                });
                this.$store.commit('controllerPathSetValue', {
                    path: 'pager.offset',
                    value: 0
                });

                this.$root.$emit('setSorting');
            }, 400),
            getSuggestions: function(){
                this.querySuggestions = [];

                let responseSuggestions = _.get(this.$store.state.response, 'hits.suggest', null);

                if(responseSuggestions){
                    _.each(responseSuggestions['completion-suggestion'][0].options, (value) => {
                        this.querySuggestions.push(value.text);
                    });
                    _.each(responseSuggestions['error-suggestion'][0].options, (value) => {
                        this.querySuggestions.push(value.text);
                    });
                    this.querySuggestions = _.uniq(this.querySuggestions);
                }
            },
            chooseSuggestion: function(item){
                this.value = item;
            },
        },
        mounted(){
            // When user click on suggestion search input won't lose focus
            $(document).on('mousedown', '.search-query-suggestions li', function(event) {
                event.preventDefault();
            });

            var vm = this;
            $(document).on('click', '.search-query-operators-popup .example', function(){
                vm.value = this.innerHTML;
            });

            this.$store.watch((state) => state.response, () => {
                this.getSuggestions();
            }, {deep: true});
            this.$store.watch((state) => state.controllers.search_text, (newVal) => {
                this.value = newVal.value;
            }, {deep: true});
        },
        watch: {
            value: {
                handler: function () {
                    this.setSearchText();
                },
                deep: true
            }
        },
    }
</script>
