<template>
  <div class="search-viewer-doc preloader-wrap">
    <div class="preloader" v-if="isLoading"></div>

    <div class="search-viewer__inner-error" v-else-if="errorMessage">
      {{ errorMessage }}
    </div>

    <div class="search-viewer__inner" v-else>
      <div class="search-viewer__inner-content">
        <div v-if="entity.date" class="content"><strong>Date:</strong> {{ entity.date }}</div>
        <div v-html="entity.body" v-if="entity.body" class="content"></div>
        <div v-html="entity.text" v-if="entity.text" class="content"></div>

        <div v-if="entity.mediaFile && entity.mediaFile.public_url" class="search-doc__viewer">
          <div v-if="getExtension(entity.mediaFile.server_path) == 'doc' || getExtension(entity.mediaFile.server_path) == 'docx' || getExtension(entity.mediaFile.server_path) == 'xls'|| getExtension(entity.mediaFile.server_path) == 'xlsx'">
            <div class="search-viewer-btns">
              <div class="search-viewer-btns-item" title="Download">
                <a :href="entity.mediaFile.public_url" download>
                  <span class="fa fa-cloud-download"></span>
                </a>
              </div>
            </div>
            <iframe class="doc-viewer" :src="'https://docs.google.com/gview?url='+entity.mediaFile.public_url+'&embedded=true'"></iframe>
          </div>
          <div v-else-if="getExtension(entity.mediaFile.server_path) == 'pdf'">
            <flowpaper-viewer
              :pdf-path="entity.mediaFile.server_path"
              :pdf-url="entity.mediaFile.public_url"
            ></flowpaper-viewer>
          </div>
          <div v-else>
            <p>The {{ getExtension(entity.doc_path) }} extension can't be watched here, but you can download it:</p>
            <a :href="entity.mediaFile.public_url">Download {{ getExtension(entity.doc_path) }} file</a>
          </div>
        </div>

        <div v-if="entityIsEmpty">In this document are no content</div>
      </div>
      <div class="search-viewer__inner-refs">
        <h4>References: </h4>
        <refs-list
          :refs-data="entity.loadedReferences"
        ></refs-list>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    props: {
      item: {}
    },
    data() {
      return {
        isLoading: true,
        errorMessage: null,
        entity: {},
      }
    },
    computed: {
      entityIsEmpty: function () {
        if (!this.entity.date
          && !this.entity.body
          && !this.entity.text
          && (!this.entity.mediaFile || !this.entity.mediaFile.public_url)) {
          return true
        } else {
          return false
        }
      }
    },
    methods: {
      getData: function (){
        this.isLoading = true
        this.errorMessage = null
        axios.get(`/media/document/${this.item._id}/data?with[]=references&with[]=mediaFile`)
          .then(response => {
            this.entity = response.data
            this.isLoading = false
            this.$emit('getReferences', response.data.loadedReferences)
          })
          .catch(error => {
            console.error('Error in mediaDoc request', error)
            this.$emit('getReferences', [])
            this.isLoading = false
            this.errorMessage = 'Server error. Cannot get data. For more information check console.'
          })
      },
      getExtension: function(fileName){
        return fileName.split(".").pop();
      },
    },
    mounted() {
      this.getData();
    },
    watch: {
      item: {
        handler: function() {
          this.getData()
        },
        deep: true
      }
    },
  }
</script>
