<template>
  <div class="">
    Video
  </div>
</template>

<script>
  export default {
    props: {

    },
    data() {
        return {

        }
    },
    computed: {

    },
    method: {

    },
    mounted() {

    }
  }
</script>
