<template>
  <div class="search-viewer-pamphlet preloader-wrap">
    <div v-if="isLoading" class="preloader"></div>
    <div class="search-viewer__inner-error" v-else-if="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="search-viewer__inner" v-else>
      <div class="search-viewer__inner-content">
        <div class="content" v-if="entity.body" v-html="entity.body"></div>
        <div class="content" v-else>In this pamphlet are no content</div>
      </div>
      <div class="search-viewer__inner-refs">
        <h4>References: </h4>
        <refs-list
          :refs-data="entity.loadedReferences"
        ></refs-list>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    props: {
      item: {},
      item_id: {}
    },
    data() {
      return {
        isLoading: false,
        errorMessage: null,
        entity: {
          body: null,
          thumbnail: null
        }
      }
    },
    computed: {
      pamphletId: function(){
        if(this.item) {
          return this.item._id
        } else if(this.item_id){
          return this.item_id
        } else {
          return null
        }
      }
    },
    methods: {
      getEntity: function(){
        this.isLoading = true
        this.errorMessage = null
        axios.get(`/pamphlets/${this.pamphletId}/data?with[]=references`)
          .then(response => {
            this.isLoading = false
            this.entity = response.data
            this.$emit('getReferences', response.data.loadedReferences)
          })
          .catch(error => {
            this.isLoading = false
            this.$emit('getReferences', [])
            this.errorMessage = 'Server error. Cannot get data. For more information check console.'
            console.error('Error in pamphlet request', error)
          })
      },
    },
    mounted(){
      this.getEntity()
    },
    watch: {
      'item._id': function(newVal){
        this.getEntity()
      },
    }
  }
</script>
