<template>
  <div class="search-viewer-topic preloader-wrap">
    <div v-if="isLoading" class="preloader"></div>
    <div class="search-viewer__inner-error" v-else-if="errorMessage">
        {{ errorMessage }}
    </div>
    <div class="search-viewer__inner" v-else>
      <div class="search-viewer__inner-content">
        <div class="content" v-if="emptyEntity">In this topic are no content</div>

        <div class="content" v-if="entity.body" v-html="entity.body"></div>

        <div class="search-viewer-topic__list" v-if="entity.images && entity.images.length">
          <h4>Images:</h4>
          <ul>
            <li v-for="item in entity.images">
              <a :href="item.route" target="_blank">{{ item.title }}</a>
            </li>
          </ul>
        </div>

        <div class="search-viewer-topic__list" v-if="entity.documents && entity.documents.length">
          <h4>Documents:</h4>
          <ul>
            <li v-for="item in entity.documents">
              <a :href="item.route" target="_blank">{{ item.title }}</a>
            </li>
          </ul>
        </div>

        <div class="search-viewer-topic__list" v-if="entity.audios && entity.audios.length">
          <h4>Audios:</h4>
          <ul>
            <li v-for="item in entity.audios">
              <a :href="item.route" target="_blank">{{ item.title }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="search-viewer__inner-refs">
        <h4>References: </h4>
        <refs-list
          :refs-data="entity.loadedReferences"
        ></refs-list>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    props: {
      item: {},
      item_id: {}
    },
    data() {
      return {
        isLoading: false,
        errorMessage: null,
        entity: {}
      };
    },
    computed: {
      topicId: function(){
        if(this.item) {
          return this.item._id
        } else if(this.item_id){
          return this.item_id
        } else {
          return null
        }
      },
      emptyEntity: function(){
        if(this.entity.body
          || (this.entity.images && this.entity.images.length)
          || (this.entity.documents && this.entity.documents.length)
          || (this.entity.audios && this.entity.audios.length)){
          return false
        } else {
          return true
        }
      }
    },
    methods: {
      getTopic: function(){
        this.isLoading = true
        axios.get(`/topics/${this.topicId}/data?with[]=references`)
          .then(response => {
            this.isLoading = false
            this.entity = response.data
            this.$emit('getReferences', response.data.loadedReferences)
          })
          .catch(error => {
            this.isLoading = false
            this.$emit('getReferences', [])
            this.errorMessage = 'Server error. Cannot get data. For more information check console.'
            console.error('Error in topic request', error)
          })
      },
    },
    mounted() {
      this.getTopic()
    },
    watch: {
      'item._id': function(newVal){
        this.getTopic()
      },
    },
  }
</script>
