<template>
  <div class="search-viewer-audio preloader-wrap">
    <div v-if="isLoading" class="preloader"></div>
    <div class="search-viewer__inner-error" v-else-if="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="search-viewer__inner" v-else>
      <div class="search-viewer__inner-content">
        <audio-player
          v-if="audioData.mediaFile && audioData.mediaFile.public_path"
          :single-track="audioData.mediaFile.public_path"
        ></audio-player>

        <div class="search-viewer-audio-metadata" v-if="audioData.album">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" v-if="audioData.album.title">Album: {{ audioData.album.title }}</h3>
            </div>
            <div class="panel-body">
              <img :src="'/storage/app/public/'+audioData.album.image" alt="" v-if="audioData.album.image">
              <h4>Other compositions from this album</h4>
              <div v-if="audioData.album.tracks && audioData.album.tracks.length">
                <ul class="media-audio-metadata__track-list">
                  <li v-for="item in audioData.album.tracks">
                    <span class="glyphicon glyphicon-music"></span>
                    <a href="#">{{ item.title }}</a>
                  </li>
                </ul>
              </div>
              <div v-else>
                In this album are no more other tracks
              </div>
            </div>
          </div>
        </div>

        <div class="search-viewer-audio-albums">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Other albums</h3>
            </div>
            <div class="panel-body preloader-wrap" v-if="randomAlbumsIsLoading">
              <div class="preloader"></div>
            </div>
            <div class="panel-body" v-else-if="randomAlbumsError">
              {{ randomAlbumsError }}
            </div>
            <div class="panel-body" v-else>
              <div class="search-viewer-audio-albums-item" v-for="item in randomAlbumsData" v-if="item.id != audioData.album.id">
                <a href="#">
                  <h4>{{ item.title }}</h4>
                  <img :src="item.thumbnail" :alt="item.title">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="search-viewer__inner-refs">
        <h4>References: </h4>
        <refs-list
          :refs-data="audioData.loadedReferences"
        ></refs-list>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    props: {
      item: {}
    },
    data() {
      return {
        isLoading: false,
        errorMessage: '',
        audioData: {},
        randomAlbumsData: {},
        randomAlbumsIsLoading: false,
        randomAlbumsError: ''
      }
    },
    methods: {
      getAudioData: function(){
        this.isLoading = true
        this.errorMessage = ''
        axios.get(`media/audio/${this.item._id}/data?with[]=references&with[]=album&with[]=mediaFile`)
          .then(response => {
            this.audioData = response.data
            this.$emit('getReferences', response.data.loadedReferences)
            this.isLoading = false
          })
          .catch(error => {
            this.$emit('getReferences', [])
            console.error('Error in mediaAudio request', error)
            this.errorMessage = 'Error in mediaAudio request'
            this.isLoading = false
          })
      },
      getRandomAlbumsData: function(){
        this.randomAlbumsIsLoading = true
        this.randomAlbumsError = ''

        axios.get(`/media/audio-album/data?limit=6`)
          .then(response => {
            let albumsArr = _.cloneDeep(response.data)
            delete albumsArr.meta
            this.randomAlbumsData = Object.values(albumsArr)
            this.randomAlbumsIsLoading = false
          })
          .catch(error => {
            this.randomAlbumsIsLoading = false
            this.randomAlbumsError = 'Error in get albums request'
            console.error('Error in get albums request', error)
          })
      },
    },
    mounted() {
      this.getAudioData()
      this.getRandomAlbumsData()
    },
    watch: {
      item: {
        handler: function(newVal) {
          this.getAudioData()
          this.getRandomAlbumsData()
        },
        deep: true
      }
    }
  }
</script>
