<template>
  <div class="search-viewer-corr preloader-wrap">
    <div v-if="isLoading" class="preloader"></div>
    <div class="search-viewer__inner-error" v-else-if="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="search-viewer__inner" v-else>
      <div class="search-viewer__inner-content">
        <div v-if="entityIsEmpty">In this correspondence are no content</div>
        <div class="content" v-html="entity.body" v-if="entity.body"></div>
        <div class="correspondence-email" v-html="editedText" v-if="entity.text"></div>
        <flowpaper-viewer
          v-if="entity.pdf && entity.pdf.public_path"
          :pdf-path="entity.pdf.public_path"
          :pdf-url="entity.pdf.public_url"
        ></flowpaper-viewer>
      </div>
      <div class="search-viewer__inner-refs">
        <h4>References: </h4>
        <refs-list
          :refs-data="entity.loadedReferences"
        ></refs-list>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    props: {
        item: {}
    },
    data() {
      return {
        isLoading: false,
        errorMessage: null,
        entity: {}
      }
    },
    computed: {
      entityIsEmpty: function(){
        if(this.entity.body || this.entity.text || (this.entity.pdf && this.entity.pdf.public_path)) {
          return false
        } else {
          return true
        }
      },
      editedText: function(){
        let newStr = this.entity.text ? this.entity.text.replace(/\{\*(.)+\*\}/gi,'_____') : this.entity.text
        return newStr
      }
    },
    methods: {
      getEntity: function(){
        this.isLoading = true
        this.errorMessage = null
        axios.get(`/correspondence/${this.item._id}/data?with[]=pdf&with[]=references`)
          .then(response => {
            this.isLoading = false
            this.entity = response.data
            this.$emit('getReferences', response.data.loadedReferences)
          })
          .catch(error => {
            this.isLoading = false
            this.$emit('getReferences', [])
            this.errorMessage = 'Server error. Cannot get data. For more information check console.'
            console.error('Error in correspondence request', error)
          })
      },
    },
    mounted(){
      this.getEntity()
    },
    watch: {
      'item._id': function(newVal){
        this.getEntity()
      },
    }
  }
</script>
