<template>
  <div class="search-viewer-location preloader-wrap">
    <div v-if="isLoading" class="preloader"></div>
    <div class="search-viewer__inner-error" v-else-if="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="search-viewer__inner" v-else>
      <div class="search-viewer__inner-content">
        <div class="content" v-html="entity.description" v-if="entity.description" style="margin-bottom: 10px;"></div>

        <div v-if="!hasCoord">Missing coordinates, map is unavailable</div>

        <gmap-map
          v-if="hasCoord"
          :id="'search-location-'+item._id"
          :center="parsedGeocode"
          :zoom="4"
          style="width: 100%; height: 450px"
        >
          <gmap-marker
            :position="parsedGeocode"
            :title="entity.title"
            :clickable="true"
            :draggable="false"
          ></gmap-marker>
        </gmap-map>
      </div>
      <div class="search-viewer__inner-refs">
        <h4>References: </h4>
        <refs-list
          :refs-data="entity.loadedReferences"
        ></refs-list>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    props: {
      item: {}
    },
    data() {
      return {
        isLoading: false,
        errorMessage: null,
        entity: {}
      };
    },
    computed: {
      hasCoord: function(){
        if(this.entity.geocode==null){
          return false
        } else if(this.entity.geocode.lat==null && this.entity.geocode.lon==null){
          return false
        } else if(this.entity.geocode.lat==0 && this.entity.geocode.lon==0){
          return false
        } else {
          return true
        }
      },
      parsedGeocode: function () {
        if (this.entity.geocode && this.entity.geocode.lat && this.entity.geocode.lng) {
          return {
            lat: _.toInteger(this.entity.geocode.lat),
            lng: _.toInteger(this.entity.geocode.lng)
          }
        } else {
          return null
        }
      }
    },
    methods: {
      getLocation: function(){
        this.isLoading = true
        axios.get(`/location/${this.item._id}/data?with[]=references`)
          .then(response => {
            this.isLoading = false
            this.entity = this.mapingLocation(response.data)
            this.$emit('getReferences', response.data.loadedReferences)
          })
          .catch(error => {
            this.isLoading = false
            this.$emit('getReferences', [])
            this.errorMessage = 'Server error. Cannot get data. For more information check console.'
            console.error('Error in Location request', error)
          })
      },
      mapingLocation: function(location){
        let newItem = {}
        newItem.id = location.id
        newItem.title = location.title
        newItem.description = location.description
        if(location.geocode != null){
          newItem.geocode = {}
          newItem.geocode.lat = location.geocode.lat
          newItem.geocode.lng = location.geocode.lon // Most important part of mapping
        } else {
          newItem.geocode = null
        }
        return newItem
      },
    },
    mounted() {
      this.getLocation()

      this.$root.$on('searchChangeViewerSize', () => {
        _.debounce( () => {
          this.$gmapDefaultResizeBus.$emit('resize')
        }, 100)();
      });
    },
    watch: {
      item: {
        handler: function(newVal) {
          this.getLocation()
        },
        deep: true
      },
    },
  }
</script>
