<template>
  <div class="search-viewer-event preloader-wrap">
    <div v-if="isLoading" class="preloader"></div>
    <div class="search-viewer__inner-error" v-else-if="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="search-viewer__inner" v-else>
      <div class="search-viewer__inner-content">
        <div class="content" v-if="emptyEntity">In this event are no content</div>

        <div class="content" v-else>
          <div v-if="entity.date_start">
            <strong>Start date:</strong> {{ entity.date_start }}
          </div>
          <div v-if="entity.date_end">
            <strong>Start date:</strong> {{ entity.date_end }}
          </div>
          <div v-if="entity.body" v-html="entity.body"></div>
        </div>
      </div>
      <div class="search-viewer__inner-refs">
        <h4>References: </h4>
        <refs-list
          :refs-data="entity.loadedReferences"
        ></refs-list>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    props: {
      item: {},
      item_id: {}
    },
    data() {
      return {
        isLoading: false,
        errorMessage: null,
        entity: {}
      };
    },
    computed: {
      eventId: function(){
        if(this.item) {
          return this.item._id
        } else if(this.item_id){
          return this.item_id
        } else {
          return null
        }
      },
      emptyEntity: function(){
        if(this.entity.body || this.entity.date_start || this.entity.date_end){
          return false
        } else {
          return true
        }
      }
    },
    methods: {
      getEntity: function(){
        this.isLoading = true
        this.errorMessage = null
        axios.get(`/events/${this.eventId}/data?with[]=references`)
          .then(response => {
            this.isLoading = false
            this.entity = response.data
            this.$emit('getReferences', response.data.loadedReferences)
          })
          .catch(error => {
            this.isLoading = false
            this.$emit('getReferences', [])
            this.errorMessage = 'Server error. Cannot get data. For more information check console.'
            console.error('Error in event request', error)
          })
      },
    },
    mounted(){
      this.getEntity()
    },
    watch: {
      'item._id': function(newVal){
        this.getEntity()
      },
    }
  }
</script>
