<template>
  <div class="search-viewer-wrap">
    <div class="panel panel-default ">
      <div class="panel-heading clearfix search-viewer-head">
        <div class="search-viewer-title" :title="item._source.snippet.title">
          {{ item._source.snippet.title }}
        </div>

        <div class="search-viewer-ctrls">
          <div class="search-viewer-ctrls-item _refs" @click="toggleRefsPopup">
            <span class="fa fa-book" title="References"></span>
          </div>
          <div class="search-viewer-ctrls-item _share">
            <span class="fa fa-share-alt" title="Share" data-toggle="modal" data-target="#search-share-particular"></span>
          </div>
          <div class="search-viewer-ctrls-item _link" v-if="item._source.snippet.url">
            <a :href="item._source.snippet.url" title="Open in new tab" target="_blank" class="search-viewer-head-link">
              <span class="fa fa-external-link"></span>
            </a>
          </div>
          <div class="search-viewer-ctrls-item _expand">
            <span class="fa fa-expand" @click="changeViewerSize" title="Change viewer size"></span>
          </div>
          <div class="search-viewer-ctrls-item _close">
            <span class="fa fa-times" @click="disableViewer" title="Close viewer"></span>
          </div>
        </div>

        <div class="search-viewer__head-refs-popup preloader-wrap" :class="{ _open: refsOpen }">
          <div v-if="refsIsLoading" class="preloader"></div>

          <div class="search-viewer__head-refs-close" @click="toggleRefsPopup"><i class="fa fa-times"></i></div>

          <div class="search-viewer__head-refs-content">
            <h4>References</h4>
            <refs-list
              :refs-data="references"
            ></refs-list>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="search-viewer-content clearfix">
          <component
            :is="map[itemType]"
            :item="item"
            @getReferences="getReferences"
          ></component>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import 'jquery-mousewheel'
  import 'malihu-custom-scrollbar-plugin'
  import Refs from '../../ReferencesList'

  export default {
    components: {
      'refs-list': Refs
    },
    props: {
      item: {}
    },
    data() {
      return {
        map: {
          correspondence: 'search-viewer-corr',
          location: 'search-viewer-location',
          pamphlet: 'search-viewer-pamphlet',
          person: 'search-viewer-people',
          publication: 'search-viewer-publication',
          event: 'search-viewer-event',
          book: 'search-viewer-book',
          article: 'search-viewer-article',
          lesson: 'search-viewer-lesson',
          news: 'search-viewer-news',
          topic: 'search-viewer-topic',
          faq: 'search-viewer-faq',
          media_doc: 'search-viewer-doc',
          media_image: 'search-viewer-img',
          media_audio: 'search-viewer-audio',
          media_video: 'search-viewer-video',
        },
        references: [],
        refsIsLoading: true,
        refsOpen: false
      };
    },
    computed: {
      itemType: function(){
        return _.get(this.item, '_type', null);
      }
    },
    methods: {
      disableViewer: function(){
        this.$emit('disableViewer');
        if(window.player){
          window.player.stop();
        }
      },
      changeViewerSize: function(){
        this.$emit('changeViewerSize');
      },
      getReferences: function(newRefs){
        this.references = newRefs
        this.refsIsLoading = false
      },
      toggleRefsPopup: function(){
        if($('.search-viewer__head-refs-popup:visible').length){
          $('.search-viewer__head-refs-popup').removeClass('_open');
          this.$store.state.viewer.refsOpen = false
          this.refsOpen = false
        } else {
          $('.search-viewer__head-refs-popup').addClass('_open');
          this.$store.state.viewer.refsOpen = true
          this.refsOpen = true
        }
      }
    },
    mounted() {
      this.refsOpen = this.$store.state.viewer.refsOpen

      $('.search-viewer-wrap > .panel > .panel-body').mCustomScrollbar({
        theme: 'dark',
        scrollInertia: 200,
        mouseWheelPixels: 100
      });
    },
    watch: {
      item: {
        handler: function(){
          this.refsIsLoading = true
          this.refsOpen = this.$store.state.viewer.refsOpen
        },
        deep: true
      }
    }
  }
</script>
