<template>
  <div class="search-viewer-book preloader-wrap">
    <div v-if="isLoading" class="preloader"></div>
    <div class="search-viewer__inner-error" v-else-if="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="search-viewer__inner" v-else>
      <div class="search-viewer__inner-content">
        <div class="content" v-if="entityIsEmpty">In this letterbook are no content</div>

        <div class="content" v-if="entity.body" v-html="entity.body"></div>

        <letterbook
          v-if="entity.pdf && entity.pdf.public_path && entity.pdf_text && entity.pdf_text.public_path"
          :first-pdf-path="entity.pdf.server_path"
          :first-pdf-url="entity.pdf.public_url"
          :second-pdf-path="entity.pdf_text.server_path"
          :second-pdf-url="entity.pdf_text.public_url"
        ></letterbook>

        <flowpaper-viewer
          v-else-if="pdfExist"
          :pdf-path="entity.pdf.server_path"
          :pdf-url="entity.pdf.public_url"
        ></flowpaper-viewer>

        <flowpaper-viewer
          v-else-if="pdfTextExist"
          :pdf-path="entity.pdf.server_path"
          :pdf-url="entity.pdf.public_url"
        ></flowpaper-viewer>
      </div>
      <div class="search-viewer__inner-refs">
        <h4>References: </h4>
        <refs-list
          :refs-data="entity.loadedReferences"
        ></refs-list>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    props: {
      item: {},
      item_id: {},
    },
    data() {
      return {
        isLoading: false,
        errorMessage: null,
        entity: {}
      }
    },
    computed: {
      letterBookId: function(){
        if(this.item) {
          return this.item._id;
        } else if(this.item_id){
          return this.item_id;
        } else {
          return null;
        }
      },
      entityIsEmpty: function(){
        let allPathsExist = (this.entity.pdf && this.entity.pdf.public_url && this.entity.pdf.server_path) || (this.entity.pdf_text && this.entity.pdf_text.public_url && this.entity.pdf_text.server_path)
        if(this.entity.body || allPathsExist){
          return false;
        } else {
          return true;
        }
      },
      pdfExist: function () {
        if(this.entity.pdf && this.entity.pdf.public_url && this.entity.pdf.server_path){
          return true;
        } else {
          return false;
        }
      },
      pdfTextExist: function () {
        if(this.entity.pdf_text && this.entity.pdf_text.public_url && this.entity.pdf_text.server_path){
          return true;
        } else {
          return false;
        }
      }
    },
    methods: {
      getEntity: function(){
        this.isLoading = true;
        this.errorMessage = null;

        axios.get(`/letterbooks/${this.letterBookId}/data?with[]=references&with[]=pdf&with[]=pdf_text`)
          .then(response => {
            this.isLoading = false
            this.entity = response.data
            this.$emit('getReferences', response.data.loadedReferences)
          })
          .catch(error => {
            this.isLoading = false
            this.$emit('getReferences', [])
            this.errorMessage = 'Server error. Cannot get data. For more information check console.'
            console.error('Error in letterBook request', error)
          })
      },
    },
    mounted(){
      this.getEntity();
    },
    watch: {
      'item._id': function(newVal){
        this.getEntity();
      },
    }
  }
</script>
