<template>
  <div class="search-viewer-image preloader-wrap">
    <div v-if="isLoading" class="preloader"></div>
    <div class="search-viewer__inner-error" v-else-if="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="search-viewer__inner" v-else>
      <div class="search-viewer__inner-content">
        <div class="search-viewer-image-tabs">
          <ul class="nav nav-tabs">
            <li class="search-viewer-image-tab" :class="{ active: imageTabActive }" @click.prevent="activeTab = 'image'">
              <a href="#">Image</a>
            </li>
            <li class="search-viewer-image-tab" v-if="entity.body || entity.date" :class="{ active: infoTabActive }" @click.prevent="activeTab = 'info'">
              <a href="#">Info</a>
            </li>
          </ul>
        </div>

        <div class="search-viewer-image-content" v-if="activeTab == 'info'">
          <div v-html="entity.body" v-if="entity.body"></div>
          <div v-if="entity.date">Date: {{ entity.date }}</div>
        </div>

        <div class="search-viewer-image-content" v-if="activeTab == 'image'">
          <image-viewer :image-path="entity.mediaFile.public_url" v-if="entity.mediaFile && entity.mediaFile.public_url"></image-viewer>
        </div>
      </div>
      <div class="search-viewer__inner-refs">
        <h4>References: </h4>
        <refs-list
          :refs-data="entity.loadedReferences"
        ></refs-list>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        isLoading: false,
        errorMessage: null,
        entity: {},
        activeTab: 'image'
      }
    },
    props: {
      item: {},
    },
    computed: {
      imageTabActive: function () {
        return this.activeTab === 'image'
      },
      infoTabActive: function () {
        return this.activeTab === 'info'
      }
    },
    methods: {
      getEntity: function(){
        this.isLoading = true
        this.errorMessage = null
        axios.get(`/media/image/${this.item._id}/data?with[]=references&with[]=mediaFile`)
          .then(response => {
            this.isLoading = false
            this.entity = response.data
            this.$emit('getReferences', response.data.loadedReferences)
          })
          .catch(error => {
            this.isLoading = false
            this.$emit('getReferences', [])
            this.errorMessage = 'Server error. Cannot get data. For more information check console.'
            console.error('Error in mediaImage request', error)
          })
      },
      windowResize: _.debounce(function () {
        $(window).resize()
      }, 100)
    },
    mounted() {
      this.getEntity()

      this.$root.$on('searchChangeViewerSize', () => {
        this.windowResize()
      })

      // Create custom scrollbars
      $(document).ready(function() {
        $('.search-viewer-image-metadata').mCustomScrollbar({
          theme: 'dark',
          scrollInertia: 200,
          mouseWheelPixels: 100
        })
      })

      // Open particular page when user click on the page
      var mouseDownPosition;
      $(document).on('mousedown', '.iv-large-image', (event) => {
        mouseDownPosition = {
          clientX: event.clientX,
          clientY: event.clientY
        }
      })
      $(document).on('mouseup', '.iv-large-image', (event) => {
        if(mouseDownPosition.clientX==event.clientX && mouseDownPosition.clientY==event.clientY && this.item._source){
          window.open(this.item._source.snippet.url)
        }
      })
    },
    watch: {
      item: {
        handler: function () {
          this.getEntity()
        },
        deep: true
      }
    }
  }
</script>
