<template>
  <div class="search-viewer-faq preloader-wrap">
    <div v-if="isLoading" class="preloader"></div>
    <div class="search-viewer__inner-error" v-else-if="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="search-viewer__inner" v-else>
      <div class="search-viewer__inner-content">
        <div class="content" v-if="entity.body" v-html="entity.body"></div>
        <div class="content" v-else>In this faq are no content</div>
      </div>
      <div class="search-viewer__inner-refs">
        <h4>References: </h4>
        <refs-list
          :refs-data="entity.loadedReferences"
        ></refs-list>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    props: {
      item: {}
    },
    data() {
      return {
        isLoading: false,
        errorMessage: null,
        entity: {},
      };
    },
    methods: {
      getData: function(){
        this.isLoading = true;
        axios.get(`/faq/${this.item._id}/data?with[]=references`)
          .then(response => {
            this.isLoading = false;
            this.entity = response.data;
            this.$emit('getReferences', response.data.loadedReferences)
          })
          .catch(error => {
            this.isLoading = false;
            this.$emit('getReferences', [])
            this.errorMessage = 'Server error. Cannot get data. For more information check console.';
            console.error('Error in faq request', error);
          })
      },
    },
    mounted() {
      this.getData();
    },
    watch: {
      item: {
        handler: function() {
          this.getData()
        },
        deep: true
      },
    },
  }
</script>
