<template>
  <div class="lesson-page">
    <div class="row">
      <div class="col-md-8">
        <div v-if="parsedLessonData.body" v-html="parsedLessonData.body"></div>

        <div v-else>There are no content in this topic.</div>
      </div>

      <div class="col-md-4">
        <div class="panel-group" id="metadata-accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#metadata-accordion" href="#references">References</a>
              </h2>
            </div>

            <div class="panel-body collapse" id="references">
              <refs-list
                :refs-data="parsedLessonData.loadedReferences"
              ></refs-list>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#metadata-accordion" href="#files">Attached files</a>
              </h2>
            </div>

            <div class="panel-body collapse in" id="files">
              <div class="entities-single__files" v-if="parsedLessonData.files && parsedLessonData.files.length">
                <a :href="file.public_url" v-for="file in parsedLessonData.files">{{ file.file_name }}</a>
              </div>

              <div v-else>Files list is empty</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['lessonData'],
    computed: {
      parsedLessonData: function () {
        return this.lessonData ? JSON.parse(this.lessonData) : {}
      }
    }
  }
</script>
