<template>
    <div class="search-page" :class="viewerSize.className">
        <div v-if="storeIsReady">
            <top-controllers
                :total-results="totalResults"
                @view-format-changed="val => resultViewFormat = val"
            ></top-controllers>

            <div class="clearfix">
                <div class="search-filters">
                    <controllers
                        @copySearchResults="copySearchResults"
                    ></controllers>
                </div>

                <div class="search-result__wrap" :class="[resultViewFormat]">
                    <div class="search-result__loader" :class="{ hidden: !searchInProgress }"></div>

                    <div class="search-result__empty" :class="{ hidden: emptyResults }">No results found for your request</div>

                    <div class="search-result__error" :class="{ hidden: !errorInSearch }">Search request failed.</div>

                    <search-results
                        :class="{ hidden: errorInSearch }"
                        @snippetClick="enableViewer"
                    ></search-results>
                </div>

                <search-viewer
                    v-if="viewer.enabled"
                    :item="viewer.item"
                    @disableViewer="disableViewer"
                    @changeViewerSize="changeViewerSize"
                ></search-viewer>
            </div>

            <div class="search-share-popup modal fade" id="search-share-particular" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title" id="myModalLabel">Share results</h3>
                        </div>
                        <div class="modal-body">
                            <div class="search-share-link">
                                <input id="search-share-particular-input" type="text" class="form-control search-share-input" readonly :value="viewerShareLink" onClick="this.select()">
                                <div class="search-share-link-btn-wrap">
                                    <button class="btn btn-primary" @click="copyShareParticularLink">Copy</button>
                                </div>
                            </div>

                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_compact"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="search-share-popup modal fade" id="search-share-results" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title" id="myModalLabel">Share search results</h3>
                        </div>
                        <div class="modal-body">
                            <div class="search-share-link">
                                <input id="search-share-results-input" type="text" class="form-control search-share-input" readonly onClick="this.select()">
                                <div class="search-share-link-btn-wrap">
                                    <button class="btn btn-primary" @click="copyShareResultsLink">Copy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import 'jquery-mousewheel'
    import 'malihu-custom-scrollbar-plugin'

    export default {
        data () {
            return {
                storeIsReady: false,
                resultViewFormat: 'list',
                totalResults: 0,
                errorInSearch: false,
                searchInProgress: false,
                searchProcessId: null,
                viewer: {},
                viewerSize: {
                    className: '_viewerDisabled',
                    current: 0,
                    options: {
                        enabled: ['_viewerSmall', '_viewerMiddle', '_viewerBig'],
                        disabled: '_viewerDisabled',
                    },
                },
            }
        },
        computed: {
            emptyResults: function(){
                return _.toInteger(this.totalResults)
            },
            viewerShareLink: function(){
                if(this.viewer.hasOwnProperty('item') && this.viewer.item.hasOwnProperty('_source')){
                    return window.location.origin+this.viewer.item._source.snippet.url;
                } else {
                    return window.location.origin;
                }
            },
        },
        methods: {
            setSorting: function(){
                // If all types have same sort then set it for search
                let activeTypes = [];
                _.forIn(this.$store.state.controllers.types, function(value, key) {
                    if(value.value == true){
                        activeTypes.push(value.defaultSort);
                    }
                });
                if(_.uniq(activeTypes).length==1 && this.$store.state.controllers.search_text.value==null){
                    this.$store.commit('controllerPathSetValue', {
                        path: 'sort.value',
                        value: activeTypes[0],
                    });
                } else {
                    this.$store.commit('controllerPathSetValue', {
                        path: 'sort.value',
                        value: 'relevant',
                    });
                }
            },
            copyShareParticularLink: function(){
                $('#search-share-particular-input').select();
                try {
                    document.execCommand('copy');
                } catch (err) {
                    console.log('Oops, unable to copy');
                }
            },
            copyShareResultsLink: function(){
                $('#search-share-results-input').select();
                try {
                    document.execCommand('copy');
                } catch (err) {
                    console.log('Oops, unable to copy');
                }
            },
            removeActiveState: function(){
                $('.search-result__item').removeClass('active');
            },
            enableViewer: function (item) {
                if(!(item._id == this.viewer.item._id && item._type == this.viewer.item._type)){
                    this.$store.commit('viewer/setPathValue',{ path: 'enabled', value: true});
                    if (item) this.$store.commit('viewer/setPathValue',{ path: 'item', value: item});

                    this.viewerSize.className = this.viewerSize.options.enabled[this.viewerSize.current];
                };
            },
            disableViewer: function () {
                this.$store.commit('viewer/setPathValue',{ path: 'enabled', value: false});
                this.$store.commit('viewer/setPathValue',{ path: 'item', value: {}});

                this.viewerSize.className = this.viewerSize.options.disabled;
                this.viewerSize.current = 0;

                this.removeActiveState();
            },
            changeViewerSize: function(){
                if(this.viewerSize.current < 2){
                    this.viewerSize.current++;
                } else {
                    this.viewerSize.current = 0;
                }
                this.viewerSize.className = this.viewerSize.options.enabled[this.viewerSize.current];

                this.$root.$emit('searchChangeViewerSize');
            },
            copySearchResults: function(){
                $('.search-filters__share-search').append(' <span class="inline-loader-light"></span>');
                let newParams = {
                    controllers: this.$store.state.controllers,
                    viewer: this.$store.state.viewer
                };
                newParams = JSON.stringify(newParams);

                this.$apollo.mutate({
                    mutation: gpl`mutation ($params: String!) {
                        createSearchParamSet(params: $params){
                            id
                            hash
                        }
                    }`,
                    variables: {
                        params: newParams
                    },
                }).then( response => {
                    $('.search-filters__share-search .inline-loader-light').remove();
                    window.location.hash = response.data.createSearchParamSet.hash;
                    if(window.addthis_share){
                        window.addthis_share.url = window.location.href;
                    };
                    $('#search-share-results-input').val(window.location.href);
                    $('#search-share-results').modal();
                }, reject => {
                    $('.search-filters__share-search .inline-loader-light').remove();
                    console.error('Error in mutation createSearchParamSet', reject);
                });
            },
            setNewHash: function(){
                let newParams = {
                    controllers: this.$store.state.controllers,
                    viewer: this.$store.state.viewer
                };
                newParams = JSON.stringify(newParams);

                this.$apollo.mutate({
                    mutation: gpl`mutation ($params: String!) {
                        createSearchParamSet(params: $params){
                            id
                            hash
                        }
                    }`,
                    variables: {
                        params: newParams
                    },
                }).then( response => {
                    window.location.hash = response.data.createSearchParamSet.hash;
                }, reject => {
                    console.error('Error in mutation createSearchParamSet', reject);
                });
            },
            getNewHash: function(){
                if(window.location.hash.slice(1,13) == 'searchquery-'){
                    this.$store.state.controllers.search_text.value = window.location.hash.slice(13);
                    window.location.hash = "";

                    this.runSearch();
                    return true;
                }

                if(window.location.hash.length > 0){
                    this.$apollo.query({
                        query: gpl`query SearchParamSet($hash: String!) {
                            SearchParamSet(hash: $hash) {
                                id
                                params
                            }
                        }`,
                        variables: {
                            hash: window.location.hash.slice(1)
                        }
                    }).then( response => {
                        let newParams = JSON.parse(response.data.SearchParamSet.params.replace('\\"', /\"/g));

                        if(_.has(newParams, 'viewer')) this.$store.state.viewer = newParams.viewer;
                        if(_.has(newParams, 'controllers')) this.$store.state.controllers = newParams.controllers;

                        this.runSearch();
                    }, reject => {
                        console.error('Error in query SearchParamSet', reject);
                    });
                } else {
                    this.runSearch();
                }
            },
            runSearch: function(){
                $('.search-result__wrap .mCSB_container').css('top', 0);
                $('.mCSB_dragger').css('top', 0);

                this.searchInProgress = true;
                let searchProcessId = this.searchProcessId = Math.random();

                this.$store.dispatch('performRequest').then(response => {
                    this.$store.commit('updateResponse', response.body);
                    this.$store.commit('updateTypesAmounts', response.body.hits);
                    this.$store.commit('updateMediaTypesAmounts', response.body.hits);

                    if(this.searchProcessId == searchProcessId){
                        this.searchInProgress = false;
                    }
                    this.errorInSearch = false;
                }, reject => {
                    if(this.searchProcessId == searchProcessId){
                        this.searchInProgress = false;
                    }
                    this.errorInSearch = true;
                    console.error('Error in run search request', reject);
                });

                this.removeActiveState();
            },
        },
        mounted() {
            this.getNewHash();

            this.storeIsReady = true;

            // Store watchers
            this.viewer = this.$store.getters['viewer/getViewer'];
            this.$store.watch((state) => state.viewer, () => {
                this.viewer = this.$store.getters['viewer/getViewer'];
            }, {deep: true});
            this.$store.watch((state) => state.controllers, () => {
                this.runSearch();
            }, {deep: true});
            this.$store.watch((state) => state.response, () => {
                this.totalResults = _.get(this.$store.state.response, 'hits.hits.total', 0);
            }, {deep: true});

            this.$root.$on('setSorting', () => {
                this.setSorting();
            });

            this.$root.$on('requestChangeViewerSize', () => {
                this.changeViewerSize();
            });

            $(document).on('click', '.search-result__item-img a, .search-result__item-title a', function(event) {
                if($(window).innerWidth() > 1023){
                    event.preventDefault();
                }
            });

            // Disable search form in header
            $('.main-navbar .navbar-form').addClass('disabled');

            // Create custom scrollbars
            $(document).ready(function() {
                $('.search-result__wrap').mCustomScrollbar({
                    theme: 'dark',
                    scrollInertia: 200,
                    mouseWheelPixels: 100
                });
                $('.search-filters').mCustomScrollbar({
                    theme: 'dark',
                    scrollInertia: 200,
                    mouseWheelPixels: 100
                });
            });

            window.addEventListener("hashchange", function () {
                window.addthis_share.url = window.location.href;
            });

            $('.main-navbar__share > a').click(() => {
                if(!$('.main-navbar__share').hasClass('active')){
                    this.setNewHash();
                }
            });

            $('.search-page').click(() => {
                if($('.main-navbar__share').hasClass('active')){
                    $('.main-navbar__share').removeClass('active');
                    $('.main-navbar__share-items-wrap').fadeOut();
                };
            });
        },
        watch: {
            viewer: {
                handler: function(newVal, oldVal){
                    if(window.addthis_share){
                        addthis_share.url = this.viewerShareLink;
                        addthis.toolbox(".addthis_toolbox");
                        addthis_share.url = window.location.href;
                    };
                    if(newVal.enabled && newVal.enabled!=oldVal.enabled){
                        this.viewerSize.className = this.viewerSize.options.enabled[0];
                    };
                },
                deep: true
            }
        },
    };

</script>
