<template>
    <div class="search-result-items">
        <article 
            v-for="item in searchResults" 
            :id="item._id" 
            class="search-result__item" 
            :class='{ active: (item._id == activeViewer.item._id && item._type == activeViewer.item._type) }' 
            @click="snippetClick(item)">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 search-result__item-img">
                    <a :href="item._source.snippet.url"
                       :title="item._source.snippet.title"
                       class="thumbnail">
                        <img :src="item._source.snippet.thumb" :alt="item._source.snippet.title" />
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 search-result__item-content">
                    <h3 class="search-result__item-title">
                        <a :href="item._source.snippet.url" :title="item._source.snippet.title">
                            {{item._source.snippet.title}}
                        </a>
                    </h3>
                    <p v-html="item._source.snippet.body"></p>

                    <ul class="search-result__item-data">
                        <li v-if="item._source.date">
                            <i class="glyphicon glyphicon-calendar"></i>
                            <span>{{item._source.date}}</span>
                        </li>
                        <li>
                            <i class="glyphicon glyphicon-tags"></i>
                            <span>{{item._source.snippet.type}}</span>
                        </li>
                        <li v-if="!isEmpty(item._source.resources)">
                            <i class="fa fa-cloud-download"></i>
                            <span v-for="(res, resType) in item._source.resources">
                                <span v-if="isArray(res)">
                                    {{ resType }}:&nbsp; [&nbsp;<a v-for="(path, resId) in res" :href="path" download>{{resId}}&nbsp;</a>]
                                </span>
                                <span v-else=""><a :href="res" download>{{resType}}</a></span>

                                &nbsp;
                            </span>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </article>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                activeViewer: {},
            };
        },
        computed: {
            searchResults: function() {
                return this.$store.getters.searchResults
            },
        },
        methods: {
            isEmpty: function(value) {
                return _.isEmpty(value);
            },
            isArray: function(value) {
                return _.isArray(value);
            },
            isActive: function(item){
                if(item._id == this.activeViewer._id && item._type == this.activeViewer._type){
                    return true
                } else {
                    return false
                }
            },
            snippetClick: function (item) {
                this.$emit('snippetClick', item)
            }
        },
        mounted() {
            this.activeViewer = this.$store.getters['viewer/getViewer'];
            this.$store.watch((state) => state.viewer, () => {
                this.activeViewer = this.$store.getters['viewer/getViewer'];
            }, {deep: true});
        },
    }
</script>