<template>
  <div class="ckeditor">
    <textarea :id="id" :value="value"></textarea>
  </div>
</template>
<script>
  export default{
    props: {
      value: {
        type: String
      },
      id: {
        type: String,
        default: 'editor'
      },
      height: {
        type: String,
        default: '200px'
      },
      language: {
        type: String,
        default: 'en'
      },
      extraplugins: {
        type: String,
        default: ''
      }
    },
    beforeUpdate () {
      const ckeditorId = this.id
      if (this.value !== window.CKEDITOR.instances[ckeditorId].getData()) {
        window.CKEDITOR.instances[ckeditorId].setData(this.value)
      }
    },
    mounted () {
      const ckeditorId = this.id
      const ckeditorConfig = {
        language: this.language,
        height: this.height,
        extraPlugins: this.extraplugins
      }
      window.CKEDITOR.replace(ckeditorId, ckeditorConfig)
      window.CKEDITOR.instances[ckeditorId].setData(this.value)
      window.CKEDITOR.instances[ckeditorId].on('change', () => {
        let ckeditorData = window.CKEDITOR.instances[ckeditorId].getData()
        if (ckeditorData !== this.value) {
          this.$emit('input', ckeditorData)
        }
      })
    }
  }
</script>
