<template>
  <div class="image-uploader">
    <input ref="imageUploader" type="file" hidden @change="changeFile">

    <div class="image-uploader__box">
      <img src="" alt="">
    </div>

    <div class="image-uploader__new">
      <button class="btn btn-primary" @click="chooseFile">Choose new</button>
    </div>

    <div class="image-uploader__old" v-if="uploadedImgUrl">
      <button class="btn btn-primary" @click="returnOldImage">Return old</button>
    </div>
  </div><!--/.row-->
</template>

<script>
  import $ from 'jquery'

  export default {
    name: 'image_uploader',
    props: ['uploadedImgUrl'],
    methods: {
      chooseFile: function () {
        $('.image-uploader input[type="file"]').click()
      },
      returnOldImage: function () {
        $('.image-uploader input[type="file"]').value = ''
        $('.image-uploader__box img').attr('src', this.uploadedImgUrl)
        this.$emit('fileRevert')
      },
      createTempFile: function (fileData) {
        this.$http.post(this.$config.app_api.host + this.$config.app_api.prefix + this.$config.app_api.endpoints.file_upload, fileData, {
          headers: {
            'Authorization': 'Bearer ' + this.$store.state.user.accessToken.access_token
          }
        }).then((response) => {
          this.$emit('fileUploaded', JSON.parse(response.bodyText)[0])
          this.readInputImage()
        }).catch((error) => {
          console.error('error in createTempFile request', error)
        })
      },
      changeFile: function () {
        let files = this.$refs.imageUploader.files
        let data = new FormData()
        data.append('image', files[0])
        this.createTempFile(data)
      },
      readInputImage: function () {
        let $component = $(this.$el)
        let input = $component.find('input[type="file"]')[0]
        if (input.files && input.files[0]) {
          var reader = new FileReader()
          reader.onload = function (e) {
            $component.find('.image-uploader__box img').attr('src', e.target.result)
          }
          reader.readAsDataURL(input.files[0])
        }
      }
    },
    mounted () {
      if (this.uploadedImgUrl) {
        $('.image-uploader__box img').attr('src', '' + this.uploadedImgUrl)
      }
    }
  }
</script>

<style>
  .image-uploader__box {
    position: relative;
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #e4e5e6;
    cursor: pointer;
  }
  .image-uploader__box img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    transform: translate(-50%, -50%);
  }
  .image-uploader__new,
  .image-uploader__old {
    float: left;
    height: 150px;
    padding-top: 60px;
    padding-left: 20px;
  }
</style>
