<template>
  <select multiple="multiple" class="form-control">
    <option :value="item.id" v-for="item in value" selected="true" v-once>{{ item.text }}</option>
  </select>
</template>

<script>

  import $ from 'jquery'
  import _ from 'lodash'
  import 'select2'

  export default {
    props: ['value', 'query', 'defaultOptions'],
    methods: {
      initSearchableSelect: function () {
        let vm = this
        $(this.$el).select2({
          ajax: {
            url: vm.$config.graphQL.public.uri,
            dataType: 'json',
            delay: 250,
            data: (params) => {
              return { 'query': 'query{ ' + this.query.queryName + '(' + this.query.attributeName + ':"' + params.term + '") {' + this.query.getValName + '}}' }
            },
            processResults: (data, params) => {
              let newResults = []
              if (params.term) {
                let keyName
                for (var key in data.data) {
                  keyName = key
                }
                newResults = data.data[keyName].map(function (item) {
                  return {
                    id: item.id,
                    text: item.title
                  }
                })
              } else {
                newResults = this.defaultOptions.map(function (item) {
                  return {
                    id: item.id,
                    text: item.text
                  }
                })
              }

              return {
                results: newResults
              }
            },
            cache: true
          },
          closeOnSelect: false
        })
      }
    },
    mounted () {
      var vm = this
      var startValues = []
      _.forEach(this.value, function (item) {
        startValues.push('' + item.id)
      })
      this.initSearchableSelect()
      $(this.$el)
        .on('change', function () {
          vm.$emit('input', $(this).val())
        })
        .val(startValues)
        .trigger('change')
    },
    watch: {
      value (newVal, oldVal) {
        if (_.xor(newVal, oldVal).length > 0) {
          $(this.$el).select2({ data: newVal })
          $(this.$el).val(newVal).trigger('change')
          this.initSearchableSelect()
        }
      }
    },
    destroyed: function () {
      $(this.$el).off().select2('destroy')
    }
  }
</script>
