<template>
  <select class="form-control">
    <option v-if="value != null" :value="value.id" selected="selected">{{ value.text }}</option>
  </select>
</template>

<script>

  import $ from 'jquery'
  import _ from 'lodash'
  import 'select2'

  export default {
    props: ['value', 'query'],
    methods: {
      initSearchableSelect: function () {
        let vm = this
        $(this.$el).select2({
          ajax: {
            url: vm.$config.graphQL.public.uri,
            dataType: 'json',
            delay: 250,
            data: (params) => {
              return { 'query': 'query{ ' + this.query.queryName + '(' + this.query.attributeName + ':"' + params.term + '") {' + this.query.getValName + '}}' }
            },
            processResults: (data, params) => {
              let newResults = []
              if (params.term) {
                let keyName
                for (var key in data.data) {
                  keyName = key
                }
                newResults = data.data[keyName].map(function (item) {
                  return {
                    id: item.id,
                    text: item.title
                  }
                })
              } else {
                newResults = this.defaultOptions.map(function (item) {
                  return {
                    id: item.id,
                    text: item.text
                  }
                })
              }

              return {
                results: newResults
              }
            },
            cache: true
          },
          closeOnSelect: true
        })
      }
    },
    mounted () {
      var vm = this
      this.initSearchableSelect()
      $(this.$el)
        .on('change', function () {
          vm.$emit('input', $(this).val())
        })
      if (this.value != null) {
        $(this.$el).val(vm.value.id).trigger('change')
      }
    },
    watch: {
      value (newVal, oldVal) {
        if (_.xor(newVal, oldVal).length > 0) {
          $(this.$el).select2({ data: newVal })
          $(this.$el).val(newVal).trigger('change')
          this.initSearchableSelect()
        }
      }
    },
    destroyed: function () {
      $(this.$el).off().select2('destroy')
    }
  }
</script>
