<template>
    <div class="search-filters__correspondence">
        <h5>Reciver</h5>
        <div class="search-multiselect">
            <multiselect-remote
                :query="receivers.searchQuery"
                :defaultOptions="receivers.defaultOptions"
                v-model="receivers.value"
            ></multiselect-remote>
        </div>

        <h5>Reciver location</h5>
        <div class="search-multiselect">
            <multiselect-remote
                :query="receiver_location.searchQuery"
                :defaultOptions="receiver_location.defaultOptions"
                v-model="receiver_location.value"
            ></multiselect-remote>
        </div>

        <h5>Sender</h5>
        <div class="search-multiselect">
            <multiselect-remote
                :query="senders.searchQuery"
                :defaultOptions="senders.defaultOptions"
                v-model="senders.value"
            ></multiselect-remote>
        </div>
    
        <h5>Sender Location</h5>
        <div class="search-multiselect">
            <multiselect-remote
                :query="sender_location.searchQuery"
                :defaultOptions="sender_location.defaultOptions"
                v-model="sender_location.value"
            ></multiselect-remote>
        </div>

        <h5>Correspondence type</h5>
        <div class="search-multiselect">
            <multiselect
                :options="correspondence_type.options"
                v-model="correspondence_type.value"
            ></multiselect>
        </div>

        <h5>Is public</h5>
        <div class="search-multiselect">
            <select class="form-control" v-model="is_public.value">
                <option value="null">Any</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>

        <h5>Letterhead</h5>
        <select class="form-control" v-model="letterhead.value">
            <option value="null">Any</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>

        <h5>Handwritten</h5>
        <select class="form-control" v-model="handwritten.value">
            <option value="null">Any</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>

        <h5>Typewritten</h5>
        <select class="form-control" v-model="typewritten.value">
            <option value="null">Any</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                is_public: {
                    value: null
                },
                letterhead: {
                    value: null
                },
                handwritten: {
                    value: null
                },
                typewritten: {
                    value: null
                },

                collection: {
                    value: [],
                    options: {},
                },
                correspondence_type: {
                    value: [],
                    options: {},
                },

                receivers: {
                    searchQuery: {
                        queryName: 'personSuggest',
                        attributeName: 'search',
                        getValName: ['title']
                    },
                    value: [],
                    defaultOptions: {},
                },
                senders: {
                    searchQuery: {
                        queryName: 'personSuggest',
                        attributeName: 'search',
                        getValName: ['title']
                    },
                    value: [],
                    options: {},
                },
                receiver_location: {
                    searchQuery: {
                        queryName: 'locationSuggest',
                        attributeName: 'search',
                        getValName: ['title']
                    },
                    value: [],
                    options: {},
                },
                sender_location: {
                    searchQuery: {
                        queryName: 'locationSuggest',
                        attributeName: 'search',
                        getValName: ['title']
                    },
                    value: [],
                    options: {},
                }
            }
        },
        methods: {
            getStartOptions: function(){
                if(this.$store.state.response.hasOwnProperty('hits')){
                    if(this.$store.state.response.hits.hasOwnProperty('aggregations')){
                        this.receivers.defaultOptions = [];
                        _.forEach(this.$store.state.response.hits.aggregations.receivers.buckets, (value) => {
                            this.receivers.defaultOptions.push(value.key);
                        });

                        this.senders.defaultOptions = [];
                        _.forEach(this.$store.state.response.hits.aggregations.senders.buckets, (value) => {
                            this.senders.defaultOptions.push(value.key);
                        });

                        this.receiver_location.defaultOptions = [];
                        _.forEach(this.$store.state.response.hits.aggregations.receiver_location.buckets, (value) => {
                            this.receiver_location.defaultOptions.push(value.key);
                        });

                        this.sender_location.defaultOptions = [];
                        _.forEach(this.$store.state.response.hits.aggregations.sender_location.buckets, (value) => {
                            this.sender_location.defaultOptions.push(value.key);
                        });
                        this.correspondence_type.options = [];
                        _.forEach(this.$store.state.response.hits.aggregations.corr_type.buckets, (value) => {
                            this.correspondence_type.options.push(value.key);
                        });
                    }
                }
            },
            getStoreValues: function(){
                this.collection.value = this.$store.getters.getControllers.types.correspondence.controllers.collection.value;
                this.correspondence_type.value = this.$store.getters.getControllers.types.correspondence.controllers.correspondence_type.value;
                this.handwritten.value = this.$store.getters.getControllers.types.correspondence.controllers.handwritten.value;
                this.is_public.value = this.$store.getters.getControllers.types.correspondence.controllers.is_public.value;
                this.letterhead.value = this.$store.getters.getControllers.types.correspondence.controllers.letterhead.value;
                this.receiver_location.value = this.$store.getters.getControllers.types.correspondence.controllers.receiver_location.value;
                this.receivers.value = this.$store.getters.getControllers.types.correspondence.controllers.receivers.value;
                this.sender_location.value = this.$store.getters.getControllers.types.correspondence.controllers.sender_location.value;
                this.senders.value = this.$store.getters.getControllers.types.correspondence.controllers.senders.value;
                this.typewritten.value = this.$store.getters.getControllers.types.correspondence.controllers.typewritten.value;

                this.$store.watch((state) => state.controllers, (newVal) => {
                    this.collection.value = newVal.types.correspondence.controllers.collection.value;
                    this.correspondence_type.value = newVal.types.correspondence.controllers.correspondence_type.value;
                    this.handwritten.value = newVal.types.correspondence.controllers.handwritten.value;
                    this.is_public.value = newVal.types.correspondence.controllers.is_public.value;
                    this.letterhead.value = newVal.types.correspondence.controllers.letterhead.value;
                    this.receiver_location.value = newVal.types.correspondence.controllers.receiver_location.value;
                    this.receivers.value = newVal.types.correspondence.controllers.receivers.value;
                    this.sender_location.value = newVal.types.correspondence.controllers.sender_location.value;
                    this.senders.value = newVal.types.correspondence.controllers.senders.value;
                    this.typewritten.value = newVal.types.correspondence.controllers.typewritten.value;
                }, {deep: true});
            },
        },
        mounted(){
            this.getStartOptions();

            this.getStoreValues();
        },
        watch: {
            'receivers.value': function(val){
                this.$store.commit('controllerPathSetValue', {
                    path: 'types.correspondence.controllers.receivers.value',
                    value: val,
                });
            },
            'receivers.searchQuery': function(val){
                if(val != '') this.getPersons('receivers');
            },
            'senders.value': function(val){
                this.$store.commit('controllerPathSetValue', {
                    path: 'types.correspondence.controllers.senders.value',
                    value: val,
                });
            },
            'senders.searchQuery': function(val){
                if(val != '') this.getPersons('senders');
            },
            'receiver_location.value': function(val){
                this.$store.commit('controllerPathSetValue', {
                    path: 'types.correspondence.controllers.receiver_location.value',
                    value: val,
                });
            },
            'receiver_location.searchQuery': function(val){
                if(val != '') this.getLocations('receiver_location');
            },
            'sender_location.value': function(val){
                this.$store.commit('controllerPathSetValue', {
                    path: 'types.correspondence.controllers.sender_location.value',
                    value: val,
                });
            },
            'sender_location.searchQuery': function(val){
                if(val != '') this.getLocations('sender_location');
            },
            'correspondence_type.value': function(val){
                this.$store.commit('controllerPathSetValue', {
                    path: 'types.correspondence.controllers.correspondence_type.value',
                    value: val,
                });
            },
            'is_public.value': function(val){
                this.$store.commit('controllerPathSetValue', {
                    path: 'types.correspondence.controllers.is_public.value',
                    value: val,
                });
            },
            'letterhead.value': function(val){
                this.$store.commit('controllerPathSetValue', {
                    path: 'types.correspondence.controllers.letterhead.value',
                    value: val,
                });
            },
            'handwritten.value': function(val){
                this.$store.commit('controllerPathSetValue', {
                    path: 'types.correspondence.controllers.handwritten.value',
                    value: val,
                });
            },
            'typewritten.value': function(val){
                this.$store.commit('controllerPathSetValue', {
                    path: 'types.correspondence.controllers.typewritten.value',
                    value: val,
                });
            },
        },
    };

</script>