<template>
  <div id="people-page" class="people-page">
    <div class="entities-filters clearfix">
      <div class="entities-filters__amount">
        Show
        <select class="form-control" v-model="pager.perPage">
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
        </select>
        entries
      </div>

      <div class="entities-filters__view-mode">
        <div class="entities-filters__view-mode-item pile" :class="{ active: viewMode=='pile' }" @click="viewMode = 'pile'">
          <i class="glyphicon glyphicon-th"></i>
        </div>
        <div class="entities-filters__view-mode-item list" :class="{ active: viewMode=='list' }" @click="viewMode = 'list'">
          <i class="glyphicon glyphicon-th-list"></i>
        </div>
      </div>
    </div>

    <div class="entities-search">
    	<input type="text" class="form-control" v-model="search.query" placeholder="Search for people">
    </div>

    <div v-if="!emptyPeopleList" class="entities-list" :class="viewMode">
      <div class="preloader" v-if="isLoading"></div>

    	<div class="entities-item clearfix" v-for="item in people">
    		<div class="entities-item__avatar">
    			<a :href="'people/'+item.id">
            <img :src="item.avatar.public_path" v-if="item.avatar && item.avatar.public_path" :alt="item.title">
            <img src="/images/default-person.jpg" v-else alt="Default avatar">
          </a>
    		</div>
    		<div class="entities-item__name"><a :href="'people/'+item.id">{{item.title}}</a></div>
    	</div>
    </div>

    <div class="entities-pagination text-center">
    	<pagination
        :total="pager.total"
        :offset="pager.offset"
        :perPage="pager.perPage"
        @page-changed="val => pager.offset = val"
      ></pagination>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    data() {
      return {
      	isLoading: false,
      	requestId: null,
        viewMode: 'pile',
      	search: {
      		query: ''
      	},
        people: [],
        pager: {
        	total: 0,
        	perPage: 25,
        	offset: 0
        }
      }
    },
    computed: {
    	emptyPeopleList: function(){
    		if(this.people == null || this.people.length == 0){
    			return true
    		} else {
    			return false
    		}
    	}
    },
    methods: {
    	runSearch: _.debounce(function () {
        this.getCollection()
      }, 400),
      getCollection: function(){
      	this.isLoading = true
        let requestId = this.requestId = Math.random()
        let searchString = this.search.query ? encodeURI(this.search.query) : ''
        let page = this.pager.perPage ? (this.pager.offset / this.pager.perPage + 1) : 1
        axios.get(`/people/data?search_string=${searchString}&page=${page}&limit=${this.pager.perPage}`)
          .then(response => {
            if(this.requestId == requestId){
              this.pager.total = response.data.meta.pagination.total
              this.pager.perPage = response.data.meta.pagination.per_page

              let peopleArr = _.cloneDeep(response.data)
              delete peopleArr.meta
              this.people = peopleArr
              this.isLoading = false
            }
          })
          .catch(error => {
            if(this.requestId == requestId){
              this.isLoading = false
            }
            console.error('Error in people collection request', error)
          })
      },
    },
    mounted() {
      this.getCollection()
    },
    watch: {
      'search.query': function(){
      	this.runSearch()
      },
      'pager.offset': function(){
        this.getCollection()
      },
      'pager.perPage': function(){
        this.getCollection()
      },
    },
  }
</script>
