<template>
  <div class="person-page">
    <div class="row">
      <div class="col-md-8">
        <div class="search-viewer-person-inner">
          <div class="person-viewer__bio-img" v-if="parsedPersonData.avatar && parsedPersonData.avatar.public_path">
            <img :src="parsedPersonData.avatar.public_path" alt="">
          </div>

          <div class="person-viewer__bio-row" v-if="parsedPersonData.position && parsedPersonData.position.degree">
            <label>Degree:</label> {{ parsedPersonData.position.degree }}
          </div>
          <div class="person-viewer__bio-row" v-if="parsedPersonData.position && parsedPersonData.position.institution">
            <label>Institution:</label> {{ parsedPersonData.position.institution }}
          </div>
          <div class="person-viewer__bio-row" v-if="parsedPersonData.gender">
            <label>Gender:</label> {{ parsedPersonData.gender }}
          </div>
          <div class="person-viewer__bio-row" v-if="parsedPersonData.name && parsedPersonData.name.full_name">
            <label>Full name:</label> {{ parsedPersonData.name.full_name }}
          </div>
          <div class="person-viewer__bio-row" v-if="parsedPersonData.name && parsedPersonData.name.first_name">
            <label>First name:</label> {{ parsedPersonData.name.first_name }}
          </div>
          <div class="person-viewer__bio-row" v-if="parsedPersonData.name && parsedPersonData.name.last_name">
            <label>Last name:</label> {{ parsedPersonData.name.last_name }}
          </div>
          <div class="person-viewer__bio-row" v-if="parsedPersonData.name && parsedPersonData.name.middle_name">
            <label>Middle name:</label> {{ parsedPersonData.name.middle_name }}
          </div>
          <div class="person-viewer__bio-row" v-if="parsedPersonData.name && parsedPersonData.name.maiden_name">
            <label>Maiden name:</label> {{ parsedPersonData.name.maiden_name }}
          </div>
          <div class="person-viewer__bio-row" v-if="parsedPersonData.name && parsedPersonData.name.generic_name">
            <label>Generic name:</label> {{ parsedPersonData.name.generic_name }}
          </div>
          <div class="person-viewer__bio-row" v-if="parsedPersonData.name && parsedPersonData.name.salutation">
            <label>Salutation:</label> {{ parsedPersonData.name.salutation }}
          </div>
          <div class="person-viewer__bio-row" v-if="parsedPersonData.name && parsedPersonData.name.suffix">
            <label>Suffix:</label> {{ parsedPersonData.name.suffix }}
          </div>
          <div class="person-viewer__bio-row" v-if="parsedPersonData.birthday_date">
            <label>Birthday date:</label> {{ parsedPersonData.birthday_date }}
          </div>
          <div class="person-viewer__bio-row" v-if="parsedPersonData.marriage_date">
            <label>Marriage date:</label> {{ parsedPersonData.marriage_date }}
          </div>
          <div class="person-viewer__bio-row" v-if="parsedPersonData.death_date">
            <label>Death date:</label> {{ parsedPersonData.death_date }}
          </div>

          <div class="person-viewer__bio-info" v-if="parsedPersonData.bio">
            <div class="person-viewer__bio-info-content" v-html="parsedPersonData.bio"></div>
          </div>

          <div class="person-viewer__bio-info" v-if="emptyBioInfo">There is no content for this person</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">
              <a data-toggle="collapse" href="#references">References</a>
            </h2>
          </div>

          <div class="panel-body collapse in" id="references">
            <refs-list
              :refs-data="parsedPersonData.loadedReferences"
            ></refs-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['personData'],
    data() {
      return {
        person: {}
      }
    },
    computed: {
      parsedPersonData: function () {
        return JSON.parse(this.personData)
      },
      emptyBioInfo: function(){
        if(!this.person){
          return true;
        } else if(this.parsedPersonData.bio || this.parsedPersonData.sex || this.parsedPersonData.position.degree || this.parsedPersonData.position.institution || this.parsedPersonData.name.full_name || this.parsedPersonData.name.last_name || this.parsedPersonData.name.first_name || this.parsedPersonData.name.maiden_name || this.parsedPersonData.name.middle_name || this.parsedPersonData.name.generic_name || this.parsedPersonData.name.salutation || this.parsedPersonData.name.suffix || this.parsedPersonData.birthday_date || this.parsedPersonData.death_date || this.parsedPersonData.name.marriage_date){
          return false;
        } else {
          return true;
        }
      },
    }
  }
</script>
