<template>
  <div class="location-page">
    <div class="row">
      <div class="col-md-8">
        <gmap-map
          id="location-map"
          v-if="parsedLocationData.geocode.lat && parsedLocationData.geocode.lon"
          :center="parseGeocode(parsedLocationData.geocode)"
          :zoom="13"
          style="width: 100%; height: 700px"
        >
          <gmap-marker
            :position="parseGeocode(parsedLocationData.geocode)"
            :title="parsedLocationData.title"
            :draggable="false"
          ></gmap-marker>
        </gmap-map>
        <div v-else>In this location are no geocode to show map</div>
      </div>

      <div class="col-md-4">
        <div class="panel-group" id="metadata-accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#metadata-accordion" href="#references">References</a>
              </h2>
            </div>

            <div class="panel-body collapse" id="references">
              <refs-list
                :refs-data="parsedLocationData.loadedReferences"
              ></refs-list>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#metadata-accordion" href="#info">Location data</a>
              </h2>
            </div>

            <div class="panel-body collapse in" id="info">
              <div class="entities-single__metadata-group" v-if="parsedLocationData.description">
                <h5>Description</h5>
                <div class="entities-single__metadata-item">
                  {{ parsedLocationData.description }}
                </div>
              </div>

            	<div class="entities-single__metadata-group" v-if="parsedLocationData.address">
                <h5>Address</h5>

                <div class="entities-single__metadata-item" v-if="parsedLocationData.address.country">
                  <span>Country: </span>{{ parsedLocationData.address.country }}
                </div>
                <div class="entities-single__metadata-item" v-if="parsedLocationData.address.administrative_area">
                  <span>Administrative area: </span>{{ parsedLocationData.address.administrative_area }}
                </div>
                <div class="entities-single__metadata-item" v-if="parsedLocationData.address.sub_administrative_area">
                  <span>Subadministrative area: </span>{{ parsedLocationData.address.sub_administrative_area }}
                </div>
                <div class="entities-single__metadata-item" v-if="parsedLocationData.address.locality">
                  <span>Locality: </span>{{ parsedLocationData.address.locality }}
                </div>
                <div class="entities-single__metadata-item" v-if="parsedLocationData.address.dependent_locality">
                  <span>Dependent locality: </span>{{ parsedLocationData.address.dependent_locality }}
                </div>
                <div class="entities-single__metadata-item" v-if="parsedLocationData.address.address">
                  <span>Address: </span>{{ parsedLocationData.address.address }}
                </div>
                <div class="entities-single__metadata-item" v-if="parsedLocationData.address.thoroughfare">
                  <span>Thoroughfare: </span>{{ parsedLocationData.address.thoroughfare }}
                </div>
                <div class="entities-single__metadata-item" v-if="parsedLocationData.address.postal_code">
                  <span>Postal code: </span>{{ parsedLocationData.address.postal_code }}
                </div>
                <div class="entities-single__metadata-item" v-if="parsedLocationData.address.organisation_name">
                  <span>Organisation name: </span>{{ parsedLocationData.address.organisation_name }}
                </div>
              </div>

              <div class="entities-single__metadata-group" v-if="parsedLocationData.contacts">
                <h5>Contacts</h5>

                <div class="entities-single__metadata-item" v-if="parsedLocationData.contacts.email">
                  <span>Email: </span>{{ parsedLocationData.contacts.email }}
                </div>
                <div class="entities-single__metadata-item" v-if="parsedLocationData.contacts.fax">
                  <span>Fax: </span>{{ parsedLocationData.contacts.fax }}
                </div>
                <div class="entities-single__metadata-item" v-if="parsedLocationData.contacts.phone">
                  <span>Phone: </span>{{ parsedLocationData.contacts.phone }}
                </div>
                <div class="entities-single__metadata-item" v-if="parsedLocationData.contacts.website">
                  <span>Website: </span>{{ parsedLocationData.contacts.website }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['locationData'],
    data() {
      return {

      }
    },
    computed: {
      parsedLocationData: function () {
        return this.locationData ? JSON.parse(this.locationData) : {}
      }
    },
    methods: {
      parseGeocode: function (geocode) {
        return {
          lat: _.toInteger(geocode.lat),
          lng: _.toInteger(geocode.lon)
        }
      }
    }
  }
</script>
