<template>
  <div class="row spinner-parent">
    <spinner ref="spinner" size="md" text="Loading ..."></spinner>

    <div v-if="source" class="col-12">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h1 v-once>{{ source.title }}</h1>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card-header">
          <strong>General</strong>
        </div>
        <div class="card form-horizontal">
          <div class="row">
            <div class="col-12">
              <div class="card-block">
                <div class="form-group row">
                  <label for="title" class="col-md-2">Title</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="title"
                      v-model="entity.title"
                      placeholder="Enter title"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="title" class="col-md-2">Description</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="title"
                      v-model="entity.description"
                      placeholder="Enter description"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="title" class="col-md-2">Address</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="title"
                      v-if="entity.address"
                      v-model="entity.address.address"
                      placeholder="Enter address"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="title" class="col-md-2">Country</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="title"
                      v-if="entity.address"
                      v-model="entity.address.country"
                      placeholder="Enter country"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="title" class="col-md-2">Locality</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="title"
                      v-if="entity.address"
                      v-model="entity.address.locality"
                      placeholder="Enter locality"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="title" class="col-md-2">Postal code</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="title"
                      v-if="entity.address"
                      v-model="entity.address.postal_code"
                      placeholder="Enter postal code"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="title" class="col-md-2">Thoroughfare</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="title"
                      v-if="entity.address"
                      v-model="entity.address.thoroughfare"
                      placeholder="Enter thoroughfare"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="title" class="col-md-2">Organisation name</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="title"
                      v-if="entity.address"
                      v-model="entity.address.organisation_name"
                      placeholder="Enter organisation name"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="title" class="col-md-2">Dependent locality</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="title"
                      v-if="entity.address"
                      v-model="entity.address.dependent_locality"
                      placeholder="Enter dependent locality"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="title" class="col-md-2">Geocode</label>
                  <div class="col-md-5">
                    <input
                      type="text"
                      id="title"
                      v-if="entity.geocode"
                      v-model="entity.geocode.lat"
                      placeholder="Enter lat"
                      class="form-control">
                  </div>
                  <div class="col-md-5">
                    <input
                      type="text"
                      id="title"
                      v-if="entity.geocode"
                      v-model="entity.geocode.lon"
                      placeholder="Enter lon"
                      class="form-control">
                  </div>
                  <div class="col-md-10 offset-md-2">
                    <gmap-map style="width: 100%; height:350px; margin-top: 20px;"
                      v-if="entity.geocode"
                      :center="sourceMapData.center"
                      :zoom="sourceMapData.zoom"
                      @click="mapClick"
                    >
                      <gmap-marker
                        :position="entityMapCenter"
                      ></gmap-marker>
                    </gmap-map>
                  </div>
                  <div class="col-md-10 offset-md-2">
                    <button class="pull-right btn btn-primary mt-2" @click.prevent="setOldGeocode">Return old geocode</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 mb-5">
        <button class="btn btn-success" @click="save">Save</button>
      </div>
    </div>
  </div><!--/.row-->
</template>

<script>

  import gql from 'graphql-tag'
  import _ from 'lodash'

  export default {
    name: 'locations_edit',
    data () {
      return {
        source: null,
        entity: {}
      }
    },
    computed: {
      sourceMapData: function () {
        if (this.source.geocode || this.source.geocode.lat == null || this.source.geocode.lon == null) {
          return {
            center: {
              lat: 0,
              lng: 0
            },
            zoom: 2
          }
        } else {
          return {
            center: {
              lat: this.entity.geocode.lat,
              lng: this.entity.geocode.lon
            },
            zoom: 13
          }
        }
      },
      entityMapCenter: function () {
        if (this.entity.geocode === undefined || this.entity.geocode.lat == null || this.entity.geocode.lon == null) {
          return {
            lat: 0,
            lng: 0
          }
        } else {
          return {
            lat: _.toNumber(this.entity.geocode.lat),
            lng: _.toNumber(this.entity.geocode.lon)
          }
        }
      }
    },
    methods: {
      getSource: function () {
        if (this.$refs.spinner) { this.$refs.spinner.show() }
        this.$apollo.query({
          query: gql`query location($id: Int!) {
            location(id: $id) {
              id
              title
              description
              address{
                address
                country
                locality
                postal_code
                thoroughfare
                organisation_name
                dependent_locality
              }
              geocode{
                lat
                lon
              }
            }
          }`,
          variables: {
            id: this.$route.params.id
          }
        }).then((response) => {
          let newResponse = _.cloneDeep(response.data.location)
          if (newResponse.geocode == null) {
            newResponse.geocode = { lat: null, lon: null }
          }
          this.source = newResponse
          this.entity = _.cloneDeep(newResponse)
          if (this.$refs.spinner) { this.$refs.spinner.hide() }
        }, (reject) => {
          console.error(reject)
          if (this.$refs.spinner) { this.$refs.spinner.hide() }
        })
      },
      save: function () {
        console.log('This methods will upload data to db')
      },
      mapClick: function (event) {
        this.entity.geocode.lat = event.latLng.lat()
        this.entity.geocode.lon = event.latLng.lng()
      },
      setOldGeocode: function () {
        this.entity.geocode.lat = this.source.geocode.lat
        this.entity.geocode.lon = this.source.geocode.lon
      }
    },
    mounted () {
      this.getSource()
    }
  }
</script>
