<template>
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <router-link :to="'/admin/dashboard'" class="nav-link"><i class="icon-speedometer"></i> Dashboard </router-link>
          <router-link :to="'/admin/search'" class="nav-link"><i class="fa fa-search"></i> Search settings </router-link>
          <router-link :to="'/admin/media'" class="nav-link"><i class="fa fa-caret-square-o-right"></i> Media </router-link>
        </li>
        <router-link tag="li" class="nav-item nav-dropdown" :to="{ path: '/admin/content'}" disabled>
          <div class="nav-link nav-dropdown-toggle" @click="handleClick"><i class="fa fa-file"></i> Content types</div>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <router-link :to="'/admin/content/publication'" class="nav-link" exact><i class="fa fa-book"></i> Publications </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="'/admin/content/letterbooks'" class="nav-link" exact><i class="fa fa-book"></i> Letterbooks </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="'/admin/content/correspondence'" class="nav-link" exact><i class="fa fa-file-text"></i> Correspondence </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="'/admin/content/documents'" class="nav-link" exact><i class="fa fa-file-text"></i> Documents </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="'/admin/content/people'" class="nav-link" exact><i class="fa fa-users"></i> People </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="'/admin/content/images'" class="nav-link" exact><i class="fa fa-picture-o"></i> Images </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="'/admin/content/audio'" class="nav-link" exact><i class="fa fa-music"></i> Audio </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="'/admin/content/news'" class="nav-link" exact><i class="fa fa-newspaper-o"></i> News </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="'/admin/content/articles'" class="nav-link" exact><i class="fa fa-newspaper-o"></i> Articles </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="'/admin/content/lessons'" class="nav-link" exact><i class="fa fa-newspaper-o"></i> Lessons </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="'/admin/content/events'" class="nav-link" exact><i class="fa fa-newspaper-o"></i> Events </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="'/admin/content/locations'" class="nav-link" exact><i class="fa fa-map-marker"></i> Locations </router-link>
            </li>
          </ul>
        </router-link>
        <li class="nav-item">
          <a href="#" class="nav-link" @click.prevent="signOut"><i class="fa fa-sign-out"></i> Sign out </a>
        </li>
      </ul>
    </nav>
  </div>
</template>
<script>

export default {
  name: 'sidebar',
  methods: {
    handleClick (e) {
      e.preventDefault()
      e.target.parentElement.classList.toggle('open')
    },
    signOut: function () {
      localStorage.setItem('tokenStorage', '')
      window.location.href = '/#/login'
    }
  }
}
</script>

<style lang="css">
  .nav-link {
    cursor:pointer;
  }
</style>
