<template>
  <div class="row spinner-parent">
    <spinner ref="spinner" size="md" text="Loading ..."></spinner>

    <div v-if="source" class="col-12">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h1 v-once>{{ source.name }}</h1>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card-header">
          <strong>General</strong>
        </div>
        <div class="card form-horizontal">
          <div class="row">
            <div class="col-12">
              <div class="card-block">
                <div class="form-group row">
                  <label for="title" class="col-md-2">Name</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="title"
                      v-model="entity.name"
                      placeholder="Enter name"
                      class="form-control">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="bio" class="col-md-2">File</label>
                  <div class="col-md-10">
                    <files-uploader
                      :options="dropzoneOptions"
                      :uploaded-file="uploadedFile"
                      @uploadSuccess="fileChanged"
                      @fileRemoved="fileChanged"
                    ></files-uploader>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 mb-5">
        <button class="btn btn-success" @click="save">Save</button>
      </div>
    </div>
  </div><!--/.row-->
</template>

<script>

  import gql from 'graphql-tag'
  import _ from 'lodash'

  export default {
    name: 'media_edit',
    data () {
      return {
        source: null,
        entity: {},
        file: {
          temp_filename: '',
          origin_filename: '',
          origin_size: 0,
          origin_type: ''
        },
        dropzoneSettings: {
          maxFiles: 1,
          maxFileSize: 100
        }
      }
    },
    computed: {
      dropzoneOptions: function () {
        return {
          headers: {
            'Authorization': 'Bearer ' + this.$store.state.user.accessToken.access_token
          },
          url: this.$config.app_api.host + this.$config.app_api.prefix + this.$config.app_api.endpoints.file_upload,
          maxFileSize: this.dropzoneSettings.maxFileSize,
          maxFiles: this.dropzoneSettings.maxFiles,
          addRemoveLinks: true
        }
      },
      uploadedFile: function () {
        if (this.source) {
          return {
            file: {
              size: this.source.size,
              name: this.source.file_name
            },
            url: this.source.public_url
          }
        } else {
          return null
        }
      }
    },
    methods: {
      getSource: function () {
        if (this.$refs.spinner) { this.$refs.spinner.show() }
        this.$apollo.query({
          query: gql`query media($id: Int!) {
            media(id: $id) {
              name
              file_name
              public_path
              public_url
              size
            }
          }`,
          variables: {
            id: this.$route.params.id
          }
        }).then((response) => {
          this.source = response.data.media
          this.entity = _.cloneDeep(response.data.media)
          if (this.$refs.spinner) { this.$refs.spinner.hide() }
        }, (reject) => {
          console.error(reject)
          if (this.$refs.spinner) { this.$refs.spinner.hide() }
        })
      },
      fileChanged (file) {
        console.log(file)
        if (file || file.length) {
          this.file.origin_filename = file.name
          this.file.temp_filename = file.name
          this.file.origin_size = file.size
        } else {
          this.file.origin_filename = ''
          this.file.temp_filename = ''
          this.file.origin_size = 0
        }
      },
      save: function () {
        console.log('This methods will upload data to db')
      }
    },
    mounted () {
      this.getSource()
    }
  }
</script>
