<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-4">
              <div class="card-block">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input v-model="username"  type="text" class="form-control" placeholder="Username">
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input v-model="password" type="password" class="form-control" placeholder="Password">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="button" @click="login" class="btn btn-primary px-4">Login</button>
                  </div>
                  <div class="col-6 text-right">
                    <!--<button type="button" class="btn btn-link px-0">Forgot password?</button>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-inverse card-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-block text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Admin dashboard for the Ellen G. White Estate services.</p>
                  <!--<button type="button" class="btn btn-primary active mt-3">Register Now!</button>-->
                </div>
              </div>
            </div>
          </div>
          <div class="card card-inverse card-danger" v-if="errors">
            <div class="card-header">
              Errors
            </div>
            <div class="card-block">
              {{ errors }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'

export default {
  name: 'Login',
  data: function () {
    return {
      username: '',
      password: '',
      errors: null
    }
  },
  methods: {
    login () {
      this.getAccessToken()
    },
    getAccessToken () {
      axios.post(`/login`, {
        username: this.username,
        password: this.password
      })
      .then(response => {
        if (response.data.access_token) {
          localStorage.setItem(this.$config.tokenStorage.name, JSON.stringify(response.data))
          this.$store.commit('user/storeAccessToken')
          this.$router.push('/admin')
        } else if (response.data.message) {
          this.errors = response.data.message
        }
      })
      .catch(e => {
        this.errors = e.message
      })
    }
  },
  mounted () {
    const tokenStorage = JSON.parse(localStorage.getItem(this.$config.tokenStorage.name))
    if (!_.isEmpty(tokenStorage)) {
      this.$router.push('/admin')
    }
  }
}
</script>
