<template>
    <div class="search-filters__publications">
        <div class="checkbox">
        	<label>
    			<input type="checkbox" v-model="ellenOnly"> Ellen White only
        	</label>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                ellenOnly: false
            }
        },
        watch: {
            ellenOnly: function(newVal){
            	this.$store.commit('controllerPathSetValue', {
                    path: 'types.publication.controllers.ellenOnly.value',
                    value: newVal,
                });
            }
        },
    };

</script>