<template>
  <div class="animated fadeIn">
    <div v-if="!$route.params.id"
         class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Events
          </div>
          <div class="card-block">
            <input type="text" class="form-control" placeholder="Search by event title" v-model="searchQuery">
          </div>
          <div class="card-block spinner-parent">
            <spinner ref="spinner" size="md" text="Loading ..."></spinner>

            <table class="table table-bordered table-striped table-sm" v-if="mediaImageCollection.total">
              <thead>
              <tr>
                <th>ID</th>
                <th>Thumbnail</th>
                <th>Title</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(item, key) in mediaImageCollection.items">
                <td>{{ item.id }}</td>
                <td class="text-center"><img :src="$config.app_api.host + item.mediaFile.public_url" alt="" style="max-height: 100px;"></td>
                <td>{{ item.title }}</td>
                <td>
                  <router-link
                    class="btn btn-primary btn-sm"
                    :to="{ name: 'ImagesEdit', params: { id: item.id }}">Edit</router-link>
                  <button class="btn btn-danger btn-sm" @click="deleteEntity(item.id)">Delete</button>
                </td>
              </tr>
              </tbody>
            </table>
            <nav>
              <pager
                :total="mediaImageCollection.total"
                :offset="offset"
                :size="size"
                @page-changed="changePage"/>
            </nav>
          </div>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
    <div class="row"><!--.row-->
      <div class="col-12"><!--.col-->
        <router-view></router-view>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
</template>

<script>
  import gql from 'graphql-tag'

  export default {
    name: 'images',
    data () {
      return {
        searchQuery: '',
        searchProcessId: null,
        offset: 0,
        size: 25,
        mediaImageCollection: {
          total: null,
          offset: null,
          size: null,
          items: []
        }
      }
    },
    methods: {
      getSource: function () {
        if (this.$refs.spinner) { this.$refs.spinner.show() }
        let searchProcessId = this.searchProcessId = Math.random()
        this.$apollo.query({
          query: gql`query mediaImageCollection($take: Int, $skip: Int, $title: String) {
            mediaImageCollection(skip: $skip, take: $take, title: $title) {
              total
              offset
              items {
                id
                title
                mediaFile {
                  id
                  public_url
                }
              }
            }
          }`,
          variables: {
            skip: this.offset,
            title: this.searchQuery
          }
        }).then((response) => {
          if (this.searchProcessId === searchProcessId) {
            if (this.$refs.spinner) { this.$refs.spinner.hide() }
            this.mediaImageCollection = response.data.mediaImageCollection
          }
        }, (reject) => {
          if (this.$refs.spinner) { this.$refs.spinner.hide() }
          console.error(reject)
        })
      },
      changePage (offset) {
        this.offset = offset
      },
      deleteEntity: function (entityId) {
        console.log('this method will delete entity')
      }
    },
    mounted () {
      this.getSource()
    },
    watch: {
      searchQuery: function () {
        this.getSource()
      },
      offset: function () {
        this.getSource()
      }
    }
  }
</script>
