<template>
  <div class="app">
    <AppHeader/>
    <div class="app-body">
      <Sidebar/>
      <main class="main">
        <breadcrumb :list="list"/>
        <div class="container-fluid">
          <router-view></router-view>
        </div>
      </main>
    </div>
    <AppFooter/>
  </div>
</template>

<script>
import AppHeader from '../components/Header'
import Sidebar from '../components/Sidebar'
import AppFooter from '../components/Footer'
import Breadcrumb from '../components/Breadcrumb'
import _ from 'lodash'
import config from '../config'

function verifyAccess (to, from, next) {
  const tokenStorage = JSON.parse(localStorage.getItem(config.tokenStorage.name))
  if (_.isEmpty(tokenStorage)) {
    return next({
      path: '/login'
    })
  }

  return next()
}

export default {
  name: 'full',
  components: {
    AppHeader,
    Sidebar,
    AppFooter,
    Breadcrumb
  },
  beforeRouteEnter (to, from, next) {
    return verifyAccess(to, from, next)
  },
  beforeRouteUpdate (to, from, next) {
    return verifyAccess(to, from, next)
  },
  computed: {
    name () {
      return this.$route.name
    },

    list () {
      return this.$route.matched
    }
  }
}
</script>
