<template>
  <div class="row spinner-parent">
    <spinner ref="spinner" size="md" text="Loading ..."></spinner>

    <div v-if="source" class="col-12">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h1 v-once>{{ source.title }}</h1>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card-header">
          <strong>General</strong>
        </div>
        <div class="card form-horizontal">
          <div class="row">
            <div class="col-12">
              <div class="card-block">
                <div class="form-group row">
                  <label for="title" class="col-md-2">Title</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="title"
                      v-model="entity.title"
                      placeholder="Enter title"
                      class="form-control">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="title" class="col-md-2">Date</label>
                  <div class="col-md-10">
                    <datepicker
                      v-if="entity.hasOwnProperty('date')"
                      v-model="entity.date"
                      format="dd/MM/yyyy"
                    ></datepicker>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="body" class="col-md-2">Body</label>
                  <div class="col-md-10">
                    <ckeditor v-model="entity.body" id="body"></ckeditor>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="text" class="col-md-2">Text</label>
                  <div class="col-md-10">
                    <ckeditor v-model="entity.text" id="text"></ckeditor>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="bio" class="col-md-2">Thumbnail</label>
                  <div class="col-md-10">
                    <image-uploader
                      :uploaded-img-url="imageAbsoluteUrl"
                    ></image-uploader>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="bio" class="col-md-2">PDF</label>
                  <div class="col-md-10">
                    <files-uploader
                      :options="dropzoneOptions"
                      :uploaded-file="uploadedFile"
                      @uploadSuccess="fileChanged"
                      @fileRemoved="fileChanged"
                    ></files-uploader>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 mb-5">
        <button class="btn btn-success" @click="save">Save</button>
      </div>
    </div>
  </div><!--/.row-->
</template>

<script>

  import gql from 'graphql-tag'
  import _ from 'lodash'

  export default {
    name: 'document_edit',
    data () {
      return {
        source: null,
        entity: {},
        pdf: {
          temp_filename: '',
          origin_filename: '',
          origin_size: 0,
          origin_type: ''
        },
        dropzoneSettings: {
          maxFiles: 1,
          maxFileSize: 100
        }
      }
    },
    computed: {
      imageAbsoluteUrl: function () {
        return this.$config.app_api.host + '/' + this.entity.thumbnail
      },
      dropzoneOptions: function () {
        return {
          headers: {
            'Authorization': 'Bearer ' + this.$store.state.user.accessToken.access_token
          },
          url: this.$config.app_api.host + this.$config.app_api.prefix + this.$config.app_api.endpoints.file_upload,
          maxFileSize: this.dropzoneSettings.maxFileSize,
          maxFiles: this.dropzoneSettings.maxFiles,
          addRemoveLinks: true
        }
      },
      uploadedFile: function () {
        if (this.source && this.source.mediaFile) {
          return {
            file: {
              size: this.source.mediaFile.size,
              name: this.source.mediaFile.file_name
            },
            url: this.source.mediaFile.public_url
          }
        } else {
          return null
        }
      }
    },
    methods: {
      getSource: function () {
        if (this.$refs.spinner) { this.$refs.spinner.show() }
        this.$apollo.query({
          query: gql`query mediaDoc($id: Int!) {
            mediaDoc(id: $id) {
              title
              thumbnail
              body
              date
              text
              mediaFile{
                name
                file_name
                mime_type
                disk
                size
                public_path
                server_path
                public_url
              }
            }
          }`,
          variables: {
            id: this.$route.params.id
          }
        }).then((response) => {
          if (response.data.mediaDoc.mediaFile && response.data.mediaDoc.mediaFile.file_name) {
            this.pdf.origin_filename = response.data.mediaDoc.mediaFile.file_name
            this.pdf.temp_filename = response.data.mediaDoc.mediaFile.file_name
            this.pdf.origin_size = response.data.mediaDoc.mediaFile.size
            this.pdf.origin_type = 'pdf'
          } else {
            this.pdf.origin_filename = ''
            this.pdf.temp_filename = ''
            this.pdf.origin_size = 0
            this.pdf.origin_type = 'pdf'
          }

          this.source = response.data.mediaDoc
          this.entity = _.cloneDeep(response.data.mediaDoc)
          if (this.$refs.spinner) { this.$refs.spinner.hide() }
        }, (reject) => {
          console.error(reject)
          if (this.$refs.spinner) { this.$refs.spinner.hide() }
        })
      },
      fileChanged (file) {
        console.log(file)
        if (file || file.length) {
          this.pdf.origin_filename = file.name
          this.pdf.temp_filename = file.name
          this.pdf.origin_size = file.size
        } else {
          this.pdf.origin_filename = ''
          this.pdf.temp_filename = ''
          this.pdf.origin_size = 0
        }
      },
      save: function () {
        console.log('This methods will upload data to db')
      }
    },
    mounted () {
      this.getSource()
    }
  }
</script>
