<template>
  <div class="row spinner-parent">
    <spinner ref="spinner" size="md" text="Loading ..."></spinner>

    <div v-if="source" class="col-12">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h1>{{ source.title }}</h1>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card-header">
          <strong>General</strong>
        </div>
        <div class="card form-horizontal">
          <div class="row">
            <div class="col-12">
              <div class="card-block">
                <div class="form-group row">
                  <label for="title" class="col-md-2">Title</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="title"
                      v-model="entity.title"
                      placeholder="Enter title"
                      class="form-control">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="title" class="col-md-2">Date</label>
                  <div class="col-md-10">
                    <datepicker
                      v-if="entity.hasOwnProperty('date')"
                      v-model="entity.date"
                      format="dd/MM/yyyy"
                    ></datepicker>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="title" class="col-md-2">Receivers</label>
                  <div class="col-md-10">
                    <multiselect-remote
                      id="test"
                      :query="receivers.searchQuery"
                      :defaultOptions="receivers.defaultOptions"
                      v-model="entity.receivers"
                    ></multiselect-remote>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="title" class="col-md-2">Receiver location</label>
                  <div class="col-md-10">
                    <select-remote
                      :query="receiversLocations.searchQuery"
                      :defaultOptions="receiversLocations.defaultOptions"
                      v-model="entity.receiver_location"
                    ></select-remote>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="title" class="col-md-2">Senders</label>
                  <div class="col-md-10">
                    <multiselect-remote
                      :query="senders.searchQuery"
                      :defaultOptions="senders.defaultOptions"
                      v-model="entity.senders"
                    ></multiselect-remote>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="title" class="col-md-2">Sender location</label>
                  <div class="col-md-10">
                    <select-remote
                      :query="sendersLocations.searchQuery"
                      :defaultOptions="sendersLocations.defaultOptions"
                      v-model="entity.sender_location"
                    ></select-remote>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="body" class="col-md-2">Body</label>
                  <div class="col-md-10">
                    <ckeditor v-model="entity.body" id="body"></ckeditor>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-12">
                    <div class="form-group row">
                      <label for="body" class="col-md-2 form-control-label">PDF</label>
                      <div class="col-md-10">
                        <files-uploader
                          :options="dropzoneOptions"
                          :uploaded-file="uploadedFile"
                          @uploadSuccess="fileChanged"
                          @fileRemoved="fileChanged"
                        ></files-uploader>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 mb-5">
        <button class="btn btn-success" @click="save">Save</button>
      </div>
    </div>
  </div><!--/.row-->
</template>

<script>

  import gql from 'graphql-tag'
  import _ from 'lodash'

  export default {
    name: 'correspondence_edit',
    data () {
      return {
        source: null,
        entity: {},
        pdf: {
          temp_filename: '',
          origin_filename: '',
          origin_size: 0,
          origin_type: ''
        },
        receivers: {
          searchQuery: {
            queryName: 'personSuggest',
            attributeName: 'search',
            getValName: 'id title'
          },
          options: {}
        },
        receiversLocations: {
          searchQuery: {
            queryName: 'locationSuggest',
            attributeName: 'search',
            getValName: 'id title'
          },
          options: {}
        },
        senders: {
          searchQuery: {
            queryName: 'personSuggest',
            attributeName: 'search',
            getValName: 'id title'
          },
          options: {}
        },
        sendersLocations: {
          searchQuery: {
            queryName: 'locationSuggest',
            attributeName: 'search',
            getValName: 'id title'
          },
          options: {}
        },
        dropzoneSettings: {
          maxFiles: 1,
          maxFileSize: 100
        }
      }
    },
    computed: {
      dropzoneOptions: function () {
        return {
          headers: {
            'Authorization': 'Bearer ' + this.$store.state.user.accessToken.access_token
          },
          url: this.$config.app_api.host + this.$config.app_api.prefix + this.$config.app_api.endpoints.file_upload,
          maxFileSize: this.dropzoneSettings.maxFileSize,
          maxFiles: this.dropzoneSettings.maxFiles,
          addRemoveLinks: true
        }
      },
      uploadedFile: function () {
        if (this.source && this.source.pdf) {
          return {
            file: {
              size: this.source.pdf.size,
              name: this.source.pdf.file_name
            },
            url: this.source.pdf.public_url
          }
        } else {
          return null
        }
      }
    },
    methods: {
      getSourceData: function () {
        if (this.$refs.spinner) { this.$refs.spinner.show() }
        this.$apollo.query({
          query: gql`query correspondence($id: Int!) {
            correspondence(id: $id) {
              id
              title
              body
              date
              receivers {
                id
                title
              }
              receiver_location {
                id
                title
              }
              senders {
                id
                title
              }
              sender_location {
                id
                title
              }
              pdf {
                file_name
                size
                public_path
                public_url
                server_path
              }
            }
          }`,
          variables: {
            id: this.$route.params.id
          }
        }).then((response) => {
          let newRecievers = []
          let newSenders = []
          let newRecieversLoc = response.data.correspondence.receiver_location === null ? null : {
            id: response.data.correspondence.receiver_location.id,
            text: response.data.correspondence.receiver_location.title
          }
          let newSendersLoc = response.data.correspondence.sender_location === null ? null : {
            id: response.data.correspondence.sender_location.id,
            text: response.data.correspondence.sender_location.title
          }
          _.forEach(response.data.correspondence.receivers, (value) => {
            let newElem = {
              id: value.id,
              text: value.title
            }
            newRecievers.push(newElem)
          })
          _.forEach(response.data.correspondence.senders, (value) => {
            let newElem = {
              id: value.id,
              text: value.title
            }
            newSenders.push(newElem)
          })
          this.source = _.cloneDeep(response.data.correspondence)
          this.source.receivers = newRecievers
          this.source.receiver_location = newRecieversLoc
          this.source.senders = newSenders
          this.source.sender_location = newSendersLoc
          if (response.data.correspondence.pdf && response.data.correspondence.pdf.file_name) {
            this.pdf.origin_filename = response.data.correspondence.pdf.file_name
            this.pdf.temp_filename = response.data.correspondence.pdf.file_name
            this.pdf.origin_size = response.data.correspondence.pdf.size
            this.pdf.origin_type = 'pdf'
          } else {
            this.pdf.origin_filename = ''
            this.pdf.temp_filename = ''
            this.pdf.origin_size = 0
            this.pdf.origin_type = 'pdf'
          }
          this.entity = _.cloneDeep(this.source)
          if (this.$refs.spinner) { this.$refs.spinner.hide() }
        }, (reject) => {
          console.error(reject)
          if (this.$refs.spinner) { this.$refs.spinner.hide() }
        })
      },
      fileChanged (file) {
        console.log(file)
        if (file || file.length) {
          this.pdf.origin_filename = file.name
          this.pdf.temp_filename = file.name
          this.pdf.origin_size = file.size
        } else {
          this.pdf.origin_filename = ''
          this.pdf.temp_filename = ''
          this.pdf.origin_size = 0
        }
      },
      save () {
        this.$apollo.provider.clients.secret.mutate({
          mutation: gql`
            mutation($id: Int!, $title: String, $body: String, $date: String, $pdf: TempFile) {
              correspondenceUpdate(id: $id, title: $title, body: $body, date: $date, pdf: $pdf) {
                id
                title
                body
                date
              }
            }`,
          variables: {
            id: this.$route.params.id,
            title: this.entity.title,
            body: this.entity.body,
            date: this.entity.date,
            pdf: this.pdf
          }
        })
      }
    },
    mounted () {
      this.getSourceData()
    }
  }
</script>
