<template>
  <div class="correspondence-page">
    <div class="row">
      <div class="col-md-8">
        <div class="empty-correspondence" v-if="!parsedCorrData.pdf && !parsedCorrData.text && !parsedCorrData.body">In this correspondence are no pdf, text or body fields</div>

        <div class="" v-else>
          <ul class="nav nav-tabs">
            <li v-if="parsedCorrData.pdf" :class="{active: activeTab=='pdf'}">
              <a href="#" @click.prevent="activeTab = 'pdf'">PDF</a>
            </li>
            <li v-if="parsedCorrData.text" :class="{active: activeTab=='text'}">
              <a href="#" @click.prevent="activeTab = 'text'">Text</a>
            </li>
            <li v-if="parsedCorrData.body" :class="{active: activeTab=='body'}">
              <a href="#" @click.prevent="activeTab = 'body'">Body</a>
            </li>
          </ul>

          <br>

          <div class="tab-content" :class="{ hidden: activeTab !== 'pdf' }">
            <flowpaper-viewer
              v-if="parsedCorrData.pdf && parsedCorrData.pdf.public_path"
              :pdf-path="parsedCorrData.pdf.public_path"
              :pdf-url="parsedCorrData.pdf.public_url"
            ></flowpaper-viewer>
            <div v-else>PDF are not available</div>
          </div>
          <div class="tab-content" :class="{ hidden: activeTab !== 'text' }" v-html="parsedCorrData.text"></div>
          <div class="tab-content" :class="{ hidden: activeTab !== 'body' }" v-html="parsedCorrData.body"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel-group" id="metadata-accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#metadata-accordion" href="#references">References</a>
              </h2>
            </div>

            <div class="panel-body collapse" id="references">
              <refs-list
                :refs-data="parsedCorrData.loadedReferences"
              ></refs-list>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#metadata-accordion" href="#info">Metadata</a>
              </h2>
            </div>

            <div class="panel-body collapse in" id="info">
              <div class="entities-single__metadata-group">
                <div class="entities-single__metadata-item" v-if="parsedCorrData.date">
                  <span>Date: </span>{{ parsedCorrData.date }}
                </div>
              </div>

              <div class="entities-single__metadata-group">
                <div class="entities-single__metadata-item" v-if="parsedCorrData.receivers">
                  <span>Receivers: </span>
                  <a :href="item.route"  v-for="item in parsedCorrData.receivers">
                    {{item.title}}
                    <span v-if="item.id !== parsedCorrData.receivers[parsedCorrData.receivers.length - 1].id">, </span>
                  </a>
                </div>
                <div class="entities-single__metadata-item" v-if="parsedCorrData.receiver_location">
                  <span>Receiver location:</span>
                  <a :href="parsedCorrData.receiver_location.route">{{ parsedCorrData.receiver_location.title }}</a>
                </div>
                <div class="entities-single__metadata-item" v-if="parsedCorrData.senders">
                  <span>Senders: </span>
                  <a :href="item.route"  v-for="item in parsedCorrData.senders">
                    {{item.title}}
                    <span v-if="item.id !== parsedCorrData.senders[parsedCorrData.senders.length - 1].id">, </span>
                  </a>
                </div>
                <div class="entities-single__metadata-item" v-if="parsedCorrData.sender_location.title">
                  <span>Sender location:</span>
                  <a :href="parsedCorrData.sender_location.route">{{ parsedCorrData.sender_location.title }}</a>
                </div>
              </div>

              <div class="entities-single__metadata-group">
                <div class="entities-single__metadata-item">
                  <span>Type: </span> {{ parsedCorrData.type }}
                </div>
                <div class="entities-single__metadata-item">
                  <span>Is public: </span>
                  <span v-if="parsedCorrData.is_public">Yes</span>
                  <span v-else>No</span>
                </div>
                <div class="entities-single__metadata-item">
                  <span>Handwritten: </span>
                  <span v-if="parsedCorrData.handwritten">Yes</span>
                  <span v-else>No</span>
                </div>
                <div class="entities-single__metadata-item">
                  <span>Typewritten: </span>
                  <span v-if="parsedCorrData.typewritten">Yes</span>
                  <span v-else>No</span>
                </div>
                <div class="entities-single__metadata-item">
                  <span>Letterhead: </span>
                  <span v-if="parsedCorrData.letterhead">Yes</span>
                  <span v-else>No</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['corrData'],
    data() {
      return {
        activeTab: 'pdf'
      }
    },
    computed: {
      parsedCorrData: function () {
        return this.corrData ? JSON.parse(this.corrData) : {}
      }
    },
    methods: {
      parseGeocode: function (geocode) {
        return {
          lat: _.toInteger(geocode.lat),
          lng: _.toInteger(geocode.lon)
        }
      }
    }
  }
</script>
