<template>
  <div class="row spinner-parent">
    <spinner ref="spinner" size="md" text="Loading ..."></spinner>

    <div v-if="source" class="col-12">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h1 v-once>{{ source.title }}</h1>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card-header">
          <strong>General</strong>
        </div>
        <div class="card form-horizontal">
          <div class="row">
            <div class="col-12">
              <div class="card-block">
                <div class="form-group row">
                  <label for="title" class="col-md-2">Title</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="title"
                      v-model="entity.title"
                      placeholder="Enter title"
                      class="form-control">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="title" class="col-md-2">Start date</label>
                  <div class="col-md-10">
                    <datepicker 
                      v-if="entity.hasOwnProperty('date_start')"
                      v-model="entity.date_start"
                      format="dd/MM/yyyy"
                    ></datepicker>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="title" class="col-md-2">End date</label>
                  <div class="col-md-10">
                    <datepicker 
                      v-if="entity.hasOwnProperty('date_end')"
                      v-model="entity.date_end"
                      format="dd/MM/yyyy"
                    ></datepicker>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="body" class="col-md-2">Body</label>
                  <div class="col-md-10">
                    <ckeditor v-model="entity.body" id="body"></ckeditor>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="bio" class="col-md-2">Thumbnail</label>
                  <div class="col-md-10">
                    <image-uploader
                      :uploaded-img-url="imageAbsoluteUrl"
                    ></image-uploader>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 mb-5">
        <button class="btn btn-success" @click="save">Save</button>
      </div>
    </div>
  </div><!--/.row-->
</template>

<script>

  import gql from 'graphql-tag'
  import _ from 'lodash'

  export default {
    name: 'event_edit',
    data () {
      return {
        source: null,
        entity: {}
      }
    },
    computed: {
      imageAbsoluteUrl: function () {
        return this.$config.app_api.host + '/' + this.entity.thumbnail
      }
    },
    methods: {
      getSource: function () {
        if (this.$refs.spinner) { this.$refs.spinner.show() }
        this.$apollo.query({
          query: gql`query event($id: Int!) {
            event(id: $id) {
              title
              body
              thumbnail
              date_start
              date_end
            }
          }`,
          variables: {
            id: this.$route.params.id
          }
        }).then((response) => {
          this.source = response.data.event
          this.entity = _.cloneDeep(response.data.event)
          if (this.$refs.spinner) { this.$refs.spinner.hide() }
        }, (reject) => {
          console.error(reject)
          if (this.$refs.spinner) { this.$refs.spinner.hide() }
        })
      },
      save: function () {
        console.log('This methods will upload data to db')
      }
    },
    mounted () {
      this.getSource()
    }
  }
</script>
