<template>
    <div id="images-page">
        <div class="entities-filters clearfix">
            <div class="entities-filters__amount">
                Show
                <select class="form-control" v-model="pager.perPage">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                </select>
                entries
            </div>
        </div>

        <div class="entities-search">
            <input type="text" class="form-control" v-model="search.query" placeholder="Search for images">
        </div>

        <div class="images-list">
            <div class="preloader" v-if="isLoading"></div>

            <div class="images-item" :data-id="item.id" :data-index="index" v-for="(item, index) in imageList" @click="createImageDescription(index)">
                <div class="images-item-inner">
                    <div class="images-item-inner-2">
                        <img v-if="item.thumbnail" :src="item.thumbnail" alt="">
                        <img v-else-if="item.mediaFile && item.mediaFile.public_path" :src="item.mediaFile.public_path" alt="">
                        <img v-else :src="defaultThumbnail" alt="">

                        <div class="images-item__title">
                            <div class="images-item__title-inner">
                                {{ item.title }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="images-desc images-desc--prototype">
            <div class="images-desc__img-wrap">
                <a href="" target="_blank"><img src="" alt=""></a>
            </div>
            <div class="images-desc__info">
                <div class="images-desc__title"><a href="" target="_blank"></a></div>

                <div class="images-desc__info-body"></div>

                <div class="images-desc__more-wrap">
                    <div class="images-desc__more-title">More from this gallery</div>
                    <div class="images-desc__more-list">
                        <div class="preloader"></div>
                    </div>
                </div>
            </div>

            <div class="images-desc__close"><i class="fa fa-times"></i></div>
            <div class="images-desc__ctrl images-desc__ctrl--next"><i class="fa fa-chevron-right"></i></div>
            <div class="images-desc__ctrl images-desc__ctrl--prev"><i class="fa fa-chevron-left"></i></div>
        </div>

        <div class="entities-pagination text-center">
            <pagination
                :total="pager.total"
                :offset="pager.offset"
                :perPage="pager.perPage"
                @page-changed="val => pager.offset = val"
            ></pagination>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                isLoading: false,
                requestId: null,
                search: {
                    query: ''
                },
                pager: {
                    total: 0,
                    perPage: 25,
                    offset: 0
                },
                imageList: [],
                defaultThumbnail: 'http://keithmackay.com/images/picture.jpg',
                activeImageFromHash: null,
                openedImage: null,
                openedImageRow: null,
                openedImageMore: [],
                galleriesRequestsAmount: 0,
                nextImageAvailable: true,
                prevImageAvailable: true,
            };
        },

        methods: {
            runSearch: _.debounce(function () {
                this.getImages();
            }, 400),
            getImages: function(){
                this.isLoading = true;
                let requestId = this.requestId = Math.random();
                this.openedImage = null;
                this.openedImageRow = null;
                $('.images-item').removeClass('active');
                $('.images-list .images-desc').remove();

                this.$apollo.query({
                    query: gpl`query mediaImageCollection($take: Int!, $skip: Int!, $title: String!) {
                        mediaImageCollection(take: $take, skip: $skip, title: $title) {
                            total
                            offset
                            items {
                                id
                                title
                                thumbnail
                                route
                                body
                                date
                                mediaFile {
                                    id
                                    name
                                    file_name
                                    mime_type
                                    disk
                                    size
                                    public_path
                                    server_path
                                    public_url
                                }
                                galleries{
                                    id
                                    title
                                }
                            }
                        }
                    }`,
                    variables: {
                        take: this.pager.perPage,
                        skip: this.pager.offset,
                        title: this.search.query
                    }
                }).then( (response) => {
                    if(this.requestId == requestId){
                        this.pager.total = response.data.mediaImageCollection.total;
                        this.imageList = response.data.mediaImageCollection.items;

                        setTimeout(() => {
                            $('.images-list').imagesLoaded().then(() => {
                                this.isLoading = false;
                                this.imageDetectRow();
                                if(this.activeImageFromHash){
                                    let imageIndex = _.findIndex(this.imageList, (item) => { return item.id == this.activeImageFromHash });
                                    this.createImageDescription(imageIndex);
                                    this.activeImageFromHash = null;
                                }
                            });
                        }, 100);
                    }
                }, (reject) => {
                    if(this.requestId == requestId){
                        this.isLoading = false;
                    }
                    console.error('Error in Images collection request', reject);
                });
            },
            imageDetectRow: function(){
                let maxTopPosition = $('.images-list .images-item:first').offset().top;
                let rowNum = 1;

                $('.images-list .images-item').each(function(){
                    let curTopPosition = $(this).offset().top;
                    if(maxTopPosition < curTopPosition){
                        maxTopPosition = curTopPosition;
                        rowNum++;
                    }
                    $(this).attr('data-row', rowNum)
                });
            },
            createImageDescription: function(imageIndex){
                if (this.openedImage && this.openedImage.id === this.imageList[imageIndex].id) return false
                this.openedImage = this.imageList[imageIndex];
                if(imageIndex <= 0){
                    this.prevImageAvailable = false;
                    this.nextImageAvailable = true;
                } else if(imageIndex >= this.pager.perPage - 1){
                    this.prevImageAvailable = true;
                    this.nextImageAvailable = false;
                } else {
                    this.prevImageAvailable = true;
                    this.nextImageAvailable = true;
                }
                $('.images-item').removeClass('active');
                let curImagesRow = $('.images-item[data-id=' + this.openedImage.id + ']').addClass('active').attr('data-row');

                if(curImagesRow == this.openedImageRow){
                    this.openedImageRow = curImagesRow;
                    this.fillImageDescription(false);
                } else {
                    this.openedImageRow = curImagesRow;
                    setTimeout(() => {
                        $('.images-list .images-desc').remove();
                        $('.images-desc--prototype').clone().removeClass('images-desc--prototype').insertAfter('.images-item[data-row='+this.openedImageRow+']:last');
                        this.fillImageDescription(true);
                    }, 100);
                }
            },
            fillImageDescription: function(needToSlideDown){
                $('.images-list .images-desc .images-desc__img-wrap').prepend('<div class="preloader"></div>');
                if(!this.nextImageAvailable) { $('.images-list .images-desc .images-desc__ctrl--next').hide() } else { $('.images-list .images-desc .images-desc__ctrl--next').show() }
                if(!this.prevImageAvailable) { $('.images-list .images-desc .images-desc__ctrl--prev').hide() } else { $('.images-list .images-desc .images-desc__ctrl--prev').show() }
                $('.images-list .images-desc .images-desc__img-wrap a').attr('href', this.openedImage.route);
                if(this.openedImage.mediaFile && this.openedImage.mediaFile.public_path){
                    $('.images-list .images-desc .images-desc__img-wrap img').attr('src', this.openedImage.mediaFile.public_path);
                } else {
                    $('.images-list .images-desc .images-desc__img-wrap img').attr('src', this.openedImage.thumbnail);
                }
                $('.images-list .images-desc .images-desc__title a').text(this.openedImage.title);
                $('.images-list .images-desc .images-desc__title a').attr('href', this.openedImage.route);
                if(this.openedImage.body) {
                    $('.images-list .images-desc .images-desc__info-body').html(this.openedImage.body);
                    $('.images-list .images-desc .images-desc__info-body').show();
                } else {
                    $('.images-list .images-desc .images-desc__info-body').hide();
                }

                if(!_.isArray(this.openedImage.galleries)){
                    // Do nothing
                } else if(this.openedImage.galleries.length == 1) {
                    $('.images-list .images-desc .images-desc__more-title').text(`More from this gallery (${this.openedImage.galleries[0].title})`);
                    this.getMoreFromGallery();
                } else if(this.openedImage.galleries.length > 1) {
                    let text = '';
                    for(var i = 0; i < this.openedImage.galleries.length; i++){
                        text += this.openedImage.galleries[i].title;
                        if(i < this.openedImage.galleries.length - 1) text += ', ';
                    }
                    $('.images-list .images-desc .images-desc__more-title').text(`More from this galleries (${text})`);
                    this.getMoreFromGallery();
                }

                if(needToSlideDown){
                    $('.images-list .images-desc').slideDown();
                    $('html, body').animate({
                        scrollTop: $('.images-item[data-row='+this.openedImageRow+']:first').offset().top - 86
                    }, 200);
                }
                $('.images-list .images-desc .images-desc__img-wrap').imagesLoaded().then(() => {
                    $('.images-list .images-desc .images-desc__img-wrap .preloader').remove();
                });
            },
            getMoreFromGallery: function(){
                $('.images-list .images-desc__more-list').text('');
                $('.images-list .images-desc__more-list').append('<div class="preloader"></div>');

                this.galleriesRequestsAmount = this.openedImage.galleries.length;

                for(var i = 0; i < this.openedImage.galleries.length; i++){
                    this.galleryRequest(this.openedImage.galleries[i].id).then((response) => {
                        this.galleriesRequestsAmount--;
                        if (this.openedImageMore && this.openedImageMore.length) {
                          this.openedImageMore = _.uniqBy(this.openedImageMore.concat(response.data.mediaImageGallery.images), 'id');
                        } else {
                          this.openedImageMore = response.data.mediaImageGallery.images
                        }
                    }, (reject) => {
                        console.error('Error in Gallery request', reject);
                    })
                };
            },
            drawMoreFromGallery: function(imagesArr){
                let cloneImagesArr = _.cloneDeep(imagesArr);

                if(cloneImagesArr.length > 10) cloneImagesArr = _.sampleSize(cloneImagesArr, 10);

                for(var i = 0; i < cloneImagesArr.length; i++){
                    let element = `
                        <div class="images-desc__more-item">
                            <a href="${cloneImagesArr[i].route}" target="_blank">
                                <img src="${cloneImagesArr[i].thumbnail}" alt="${cloneImagesArr[i].title}" />
                            </a>
                        </div>
                    `;
                    $('.images-list .images-desc .images-desc__more-list').append(element);
                }

                $('.images-list .images-desc__more-list').imagesLoaded().then(() => {
                    $('.images-list .images-desc__more-list .preloader').remove();
                });
            },
            galleryRequest: function(galleryId){
                return this.$apollo.query({
                    query: gpl`query mediaImageGallery($id: Int!, $imagesLimit: Int!) {
                        mediaImageGallery(id: $id, imagesLimit: $imagesLimit) {
                            id
                            title
                            images {
                                id
                                title
                                route
                                thumbnail
                                mediaFile {
                                    id
                                    file_name
                                    public_path
                                }
                            }
                        }
                    }`,
                    variables: {
                        id: galleryId,
                        imagesLimit: 10
                    }
                });
            },
            createImagesLoadedFunction: function(){
                $.fn.imagesLoaded = function () {
                    var $imgs = this.find('img[src!=""]');
                    if (!$imgs.length) {return $.Deferred().resolve().promise();}
                    var dfds = [];
                    $imgs.each(function(){
                        var dfd = $.Deferred();
                        dfds.push(dfd);
                        var img = new Image();
                        img.onload = function(){dfd.resolve();};
                        img.onerror = function(){dfd.resolve();}
                        img.src = this.src;
                    });
                    return $.when.apply($,dfds);
                }
            },
            createHash: function(){
                let hashObject = {
                    perPage: this.pager.perPage,
                    offset: this.pager.offset,
                    query: this.search.query,
                    active: this.openedImage ? this.openedImage.id : null
                }

                window.location.hash = encodeURIComponent(JSON.stringify(hashObject));
            },
            getHash: function(){
                var hashToJSON = decodeURIComponent(window.location.hash).substr(1);
                if(hashToJSON.charAt(0) == '{'){
                    hashToJSON = JSON.parse(hashToJSON);
                    if(this.pager.perPage == hashToJSON.perPage && this.pager.offset == hashToJSON.offset && this.search.query == hashToJSON.query){
                        this.activeImageFromHash = hashToJSON.active;
                        this.getImages();
                    } else {
                        this.activeImageFromHash = hashToJSON.active;
                        this.pager.perPage = hashToJSON.perPage;
                        this.pager.offset = hashToJSON.offset;
                        this.search.query = hashToJSON.query;
                    }
                } else {
                    this.getImages();
                    return false;
                }
            }
        },

        mounted() {
            let self = this;
            this.createImagesLoadedFunction();

            if(window.location.hash.length) {
                this.getHash();
            } else {
                this.getImages();
            }

            $('.images-list').on('click', '.images-desc__close', function(){
                $(this).parents('.images-desc').slideUp(400, function(){
                    $(this).remove();
                    self.openedImage = null;
                    self.openedImageRow = null;
                    self.openedImageMore = [];
                });
                $('.images-list .images-item').removeClass('active');
            });
            $('.images-list').on('click', '.images-desc__ctrl', function () {
                if($(this).hasClass('images-desc__ctrl--next')){
                    self.createImageDescription($('.images-item.active').data('index') + 1);
                } else {
                    self.createImageDescription($('.images-item.active').data('index') - 1);
                }
            });

            $(window).resize(() => {
                this.imageDetectRow();
            });

            $('.main-navbar__share > a').click(() => {
                if(!$('.main-navbar__share').hasClass('active')){
                    this.createHash();
                }
            });
            $('#images-page').click(() => {
                if($('.main-navbar__share').hasClass('active')){
                    $('.main-navbar__share').removeClass('active');
                    $('.main-navbar__share-items-wrap').fadeOut();
                };
            });
            window.addEventListener("hashchange", function () {
                window.addthis_share.url = window.location.href;
            });
        },

        watch: {
            'search.query': function(){
                this.runSearch();
            },
            'pager.offset': function(){
                this.getImages();
            },
            'pager.perPage': function(){
                this.getImages();
            },
            openedImageMore: {
                handler: function(newVal){
                    if(newVal.length && !this.galleriesRequestsAmount){
                        this.drawMoreFromGallery(newVal);
                    }
                },
                deep: true
            },
        },
    }
</script>
