<template>
  <div class="row media-image preloader-wrap" id="image-single-page">
    <div v-if="entityIsLoading" class="preloader"></div>

    <div class="" v-else-if="entityError">{{entityError}}</div>

    <div class="row" v-else>
      <div class="col-md-8" >
        <div class="media-image-viewer" v-if="mediaImage && mediaImage.mediaFile && mediaImage.mediaFile.public_path">
          <image-viewer :image-path="mediaImage.mediaFile.public_path"></image-viewer>
        </div>
      </div>

      <div class="col-md-4 media-image-metadata" v-if="mediaImage">
        <div class="panel-group" id="metadata-accordion">
          <div class="panel panel-default" v-if="mediaImage.loadedReferences && mediaImage.loadedReferences.length">
            <div class="panel-heading">
              <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#metadata-accordion" href="#references">References</a>
              </h2>
            </div>

            <div class="panel-body collapse" id="references">
              <ul class="media-image__refs-list" v-if="mediaImage.loadedReferences.length < refsCountToFilter">
                <li class="media-image__refs-item" v-for="item in mediaImage.loadedReferences" :title="item.title">
                	<a :href="item.route" target="_blank">
                    <div class="media-image__refs-item-img">
                      <img :src="item.thumbnail" alt="">
                    </div>
                    <div class="media-image__refs-item-title">{{item.title}}(item.type)</div>
                  </a>
                </li>
              </ul>

              <div class="media-image__refs-groups" v-else>
                <div class="media-image__refs-group" v-for="type in refsTypes">
                  <h5 class="media-image__refs-group-title">{{ type }}:</h5>

                  <ul class="media-image__refs-list">
                    <li class="media-image__refs-item" v-for="item in filterTypeRefs(type)" :title="item.title">
                      <a :href="item.route" target="_blank">
                        <div class="media-image__refs-item-img">
                          <img :src="item.thumbnail" alt="">
                        </div>
                        <div class="media-image__refs-item-title">{{item.title}} ({{item.type}})</div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
                <a data-toggle="collapse" data-parent="#metadata-accordion" href="#galleries">More images from this gallery</a>
              </h2>
            </div>

            <div class="panel-body preloader-wrap collapse in" id="galleries">
              <div v-if="galleriesIsLoading" class="preloader"></div>

              <div class="" v-else-if="galleriesError">{{galleriesError}}</div>

            	<div class="media-image__gallery-list" v-else>
    						<div class="media-image__gallery-item" v-for="item in galleriesImagesToShow" :title="item.title">
    							<a :href="item.route" target="_blank">
    								<img :src="item.thumbnail" alt="">

    								<div class="media-image__gallery-item-title">{{item.title}}</div>
    							</a>
    						</div>
    					</div>
              <div v-if="!galleriesImagesToShow.length">There are no other images in galleries</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
	  props: ['imageId'],
    data() {
      return {
        entityIsLoading: false,
        entityError: false,
        mediaImage: null,
        galleriesIsLoading: false,
        galleriesError: false,
        galleriesRequestsAmount: 0,
        galleriesImages: [],
        galleriesImagesToShow: [],
        refsCountToFilter: 10,
        refsTypes: []
      };
    },
    methods: {
      getImages: function(){
        this.galleriesIsLoading = true
        this.entityIsLoading = true
        axios.get(`/media/image/${this.imageId}/data?with[]=references&with[]=mediaFile&with[]=galleries`)
          .then(response => {
            this.mediaImage = response.data
            this.getGalleries()
            this.entityIsLoading = false
            this.entityError = false
          })
          .catch(error => {
            this.entityIsLoading = false
            this.entityError = 'Server error'
            console.error('Error in media Image request', error)
          })
      },
      getGalleries: function(){
      	this.galleriesRequestsAmount = this.mediaImage.galleries.length

        for(var i = 0; i < this.mediaImage.galleries.length; i++){
          this.galleryRequest(this.mediaImage.galleries[i].id).then((response) => {
            this.galleriesError = false
            this.galleriesRequestsAmount--
            this.galleriesImages = this.galleriesImages.concat(response.data.mediaImageGallery.images)
          }, (reject) => {
            this.galleriesError = 'Server error in get galleries images request'
            console.error('Error in Gallery request', reject)
          })
        }
      },
      galleryRequest: function(galleryId){
		    return this.$apollo.query({
          query: gpl`query mediaImageGallery($id: Int!, $imagesLimit: Int) {
            mediaImageGallery(id: $id, imagesLimit: $imagesLimit) {
              title
							images {
                id
								title
								thumbnail
								route
							}
            }
          }`,
          variables: {
            id: galleryId,
            imagesLimit: 10
          }
        })
      },
      drawMoreFromGallery: function(imagesArr){
      	let cloneImagesArr = _.uniqBy(imagesArr, 'id')
        function compareRandom(a, b) {
          return Math.random() - 0.5
        }
        cloneImagesArr.sort(compareRandom)
        if(cloneImagesArr.length > 10) cloneImagesArr = cloneImagesArr.slice(0, 10)

        this.galleriesImagesToShow = cloneImagesArr

        this.galleriesIsLoading = false
      },
      filterTypeRefs: function (type) {
        return _.filter(this.mediaImage.loadedReferences, (item) => {
          return item.type == type
        })
      }
    },
    mounted() {
      this.getImages()
    },
    watch: {
      galleriesImages: {
        handler: function(newVal){
          if(newVal.length && this.galleriesRequestsAmount == 0){
            this.drawMoreFromGallery(newVal)
          }
        },
        deep: true
      },
      mediaImage: {
        handler: function (newVal) {
          if (newVal.loadedReferences && newVal.loadedReferences.length) {
            let types = []
            for (var i = 0; i < newVal.loadedReferences.length; i++) {
              types.push(newVal.loadedReferences[i].type)
            }
            this.refsTypes =  _.uniq(types)
          } else {
            this.refsTypes = []
          }
        },
        deep: true
      }
    }
  }
</script>
