<template>
    <div class="audio-player-wrap">
        <div class="panel panel-default wavesurfer-panel">
            <div class="panel-body">
                <div class="wavesurfer">
                    <div class="wavesurfer-preloader" v-if="!playerIsReady"></div>

                    <div class="wavesurfer-close" v-if="closable" @click="closePlayer">
                        <span class="fa fa-times"></span>
                    </div>

                    <div class="wavesurfer-error-msg"></div>

                    <div class="wavesurfer-time">
                        <div class="wavesurfer-time-current">{{currentTime}}</div>
                        <div class="wavesurfer-time-end">{{duration}}</div>
                    </div>
                    <div class="wavesurfer-wave"></div>
                    <div class="wavesurfer-ctrls">
                        <div
                            class="wavesurfer-btn wavesurfer-prev"
                            :class="{disabled: tracklist.current==0}"
                            v-if="tracklist"
                            @click="prevTrack"
                        >
                            <span class="fa fa-backward"></span>
                        </div>

                        <div class="wavesurfer-btn wavesurfer-play" title="Play/Pause">
                            <span class="fa fa-play" v-if="!isPlaying"></span>
                            <span class="fa fa-pause" v-else></span>
                        </div>

                        <div
                            class="wavesurfer-btn wavesurfer-next"
                            v-if="tracklist"
                            :class="{disabled: tracklist.current>=(tracklist.list.length-1)}"
                            @click="nextTrack"
                        >
                            <span class="fa fa-forward"></span>
                        </div>

                        <div class="wavesurfer-btn wavesurfer-list" v-if="tracklist" @click="toggleTracklist">
                            <span class="fa fa-list-ul"></span>
                        </div>

                        <div class="wavesurfer-btn wavesurfer-repeat" title="Repeat" @click="repeatChange()" :class="{ active: repeatActive }">
                            <span class="fa fa-repeat"></span>
                        </div>

                        <a :href="currentTrack" download class="wavesurfer-btn wavesurfer-download" title="Download">
                            <span class="fa fa-cloud-download"></span>
                        </a>

                        <div class="wavesurfer-volume">
                            <div class="wavesurfer-volume-btn wavesurfer-volume-btn--decrease">
                                <span class="fa fa-minus"></span>
                            </div>

                            <div class="wavesurfer-volume-bar">
                                <div></div>
                            </div>

                            <div class="wavesurfer-volume-btn wavesurfer-volume-btn--increase">
                                <span class="fa fa-plus"></span>
                            </div>

                            <div class="wavesurfer-volume-btn wavesurfer-volume-btn--mute" title="Mute">
                                <span class="fa fa-volume-off" v-if="currentVolume < 0.1"></span>
                                <span class="fa fa-volume-up" v-else></span>
                            </div>
                        </div>

                        <div class="wavesurfer-tracklist-popup" v-if="tracklist">
                            <div class="wavesurfer-tracklist-popup-close" @click="toggleTracklist"><span class="fa fa-times"></span></div>
                            <div class="wavesurfer-tracklist-popup-inner">
                                <ul>
                                    <li
                                        v-for="(track, index) in tracklist.list"
                                        :data-track="track.url"
                                        :class="{active: index==tracklist.current}"
                                        @click="tracklist.current = index"
                                    >
                                        <span class="glyphicon glyphicon-music"></span>
                                        <span class="track-name" v-html="track.name"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import wavesurfer from 'wavesurfer.js'

    export default {
        props: {
            singleTrack: {
                default: null,
            },
            tracklist: {
                default: null,
            },
            closable: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {
                currentTime: '0:00',
                duration: 0,
                playerIsReady: false,
                isPlaying: false,
                trackIsChanging: false,
                repeatActive: false,
                currentVolume: 1,
                volumeStep: 0.1,
            };
        },
        computed: {
            currentTrack: function(){
                if(this.tracklist!=null){
                    return this.tracklist.list[this.tracklist.current].url;
                } else if(this.singleTrack != null) {
                    return this.singleTrack;
                } else {
                    console.log("Can't find tracklist or single track for audio player.");
                    return false;
                }
            },
        },
        methods: {
            closePlayer: function(){
                $('.wavesurfer-play').click();
                this.$emit('closeAudioPlayer');
            },
            toggleTracklist: function(){
                $('.wavesurfer-list').toggleClass('active');
                $('.wavesurfer-tracklist-popup').toggleClass('open');
            },
            drawVolumeBar: function(volume){
                $('.wavesurfer-volume-bar > div').width((volume*100)+'%');
            },
            redrawWave: _.debounce(function () {
                window.player.drawBuffer();
            }, 300),
            formatTime(time){
                var result, minutes, seconds;

                time = Math.floor(time);
                minutes = Math.floor(time / 60);
                seconds = time - minutes * 60;
                if(seconds < 10){
                    seconds = '0'+seconds;
                }
                result = minutes+':'+seconds;

                return result;
            },
            repeatChange(){
                this.repeatActive = !(this.repeatActive);
            },
            changeTrack: function(){
                this.trackIsChanging = true;
                player.load(this.currentTrack);
            },
            nextTrack: function(){
                if(this.tracklist.current < (this.tracklist.list.length-1)){
                    this.tracklist.current++;
                }
            },
            prevTrack: function(){
                if(this.tracklist.current > 0){
                    this.tracklist.current--;
                }
            },
        },
        watch: {
            currentVolume(newVal, oldVal){
                if(newVal !== oldVal){
                    this.drawVolumeBar(this.currentVolume);
                }
            },
            singleTrack(newVal){
                player.stop();
                this.isPlaying = false;
                this.playerIsReady = false;
                player.load(newVal);
            },
            'tracklist.list': function(newVal, oldVal){
                if(_.xor(newVal, oldVal).length > 0){
                    player.stop();
                    this.isPlaying = false;
                    this.playerIsReady = false;
                    player.load(this.currentTrack);
                }
            },
            'tracklist.current': function(newVal, oldVal){
                if(newVal != oldVal){
                    $('.wavesurfer-list').removeClass('active');
                    $('.wavesurfer-tracklist-popup').removeClass('open');
                    this.isPlaying = false;
                    this.playerIsReady = false;
                    this.changeTrack();
                }
            },
        },
        mounted() {
            this.$root.$on('searchChangeViewerSize', () => {
                this.redrawWave();
            });

            window.player = wavesurfer.create({
                container: '.wavesurfer-wave',
                waveColor: '#666666',
                progressColor: '#E76C14',
                cursorColor: 'transparent',
                height: 50
            });

            player.load(this.currentTrack);
            player.on('ready', () => {
                this.playerIsReady = true;
                this.duration = this.formatTime(player.getDuration());

                if(this.trackIsChanging){
                    player.play();
                    this.isPlaying = true;
                    this.trackIsChanging = false;
                }
            });
            player.on('error', () => {
                this.playerIsReady = true;
                $('.wavesurfer > div').hide();
                $('.wavesurfer-error-msg').html('Error on rendering audio').show();
            });
            player.on('audioprocess', () => {
                this.currentTime = this.formatTime(player.getCurrentTime());
            });
            player.on('seek', () => {
                this.currentTime = this.formatTime(player.getCurrentTime());
            });
            player.on('finish', () => {
                if(this.repeatActive){
                    player.play();
                } else {
                    if(this.tracklist==null || (this.tracklist.list.length - 1) == this.tracklist.current){
                        player.stop();
                        this.isPlaying = false;
                    } else {
                        this.tracklist.current++;
                    };
                };
            });

            $(window).resize( () => {
                this.redrawWave();
            });

            $('.wavesurfer-play').click( () => {
                player.playPause();
                this.isPlaying = player.isPlaying();
            });
            $('.wavesurfer-volume-btn--decrease').click( () => {
                if(this.currentVolume > 0){
                    this.currentVolume -= this.volumeStep;
                    player.setVolume(this.currentVolume);
                }
            });
            $('.wavesurfer-volume-btn--increase').click( () => {
                if(this.currentVolume < 1){
                    this.currentVolume += this.volumeStep;
                    player.setVolume(this.currentVolume);
                }
            });
            $('.wavesurfer-volume-btn--mute').click( () => {
                player.toggleMute();
                this.currentVolume = player.getVolume();
            });
            $('.wavesurfer-volume-bar').click( (e) => {
                var barCoordinateX = e.target.getBoundingClientRect().left,
                    clickCoordinateX = e.clientX,
                    barWidth = $('.wavesurfer-volume-bar').width(),
                    newVolume;

                newVolume = (clickCoordinateX - barCoordinateX)/barWidth;
                newVolume = Math.round(newVolume*10)/10;
                this.currentVolume = newVolume;
                player.setVolume(this.currentVolume);
            });
        },
    }
</script>
