<template>
    <div class="date-range">
    	<h4 class="date-range__title" @click="toggleDisabling()">Date <span v-if="!enabled">(Disabled)</span> <span v-else>(Enabled)</span> <span class="date-range__title-tip">Click to eneble/disable</span></h4>

        <div class="date-range__slider-wrap">
            <div id="dateSlider"></div>
        </div>

        <div class="clearfix">
            <div class="date-range__picker-wrap">
                <label for="">Start Date</label>
                <input type="text" id="startDate" class="form-control">
            </div>

            <div class="date-range__picker-wrap">
                <label for="">End Date</label>
                <input type="text" id="endDate" class="form-control">
            </div>
        </div>

        <div class="date-range__disabled-area" v-if="!enabled"></div>
    </div>
</template>

<script>

    import '../lib/jquery-ui-slider.js'
    import 'bootstrap-datepicker'
    import moment from 'moment'
    import 'moment-timezone'

    export default {
        props: ['searchStartTime', 'searchEndTime', 'minTime', 'maxTime', 'dateFormat', 'enabled'],
        computed: {
            validMinTime: function(){
                return _.isDate(this.minTime) ? this.minTime : new Date(this.minTime);
            },
            validMaxTime: function(){
                return _.isDate(this.maxTime) ? this.maxTime : new Date(this.maxTime);
            },
            validSearchStartTime: function(){
                return (this.searchStartTime == null) ? this.validMinTime : this.searchStartTime;
            },
            validSearchEndTime: function(){
                return (this.searchEndTime == null) ? this.validMaxTime : this.searchEndTime;
            }
        },
        methods: {
        	updateStartTime: function(newValue){
				this.$emit('updateStartTime', newValue);
        	},
        	updateEndTime: function(newValue){
				this.$emit('updateEndTime', newValue);
        	},
            toggleDisabling: function(){
                this.$emit('toggleDisabling', !this.enabled);
            }
        },
        watch: {
        	searchStartTime(){
                $('#startDate').datepicker("update", this.validSearchStartTime);
        		$('#dateSlider').slider({
        			values: [moment(this.validSearchStartTime, this.dateFormat.toUpperCase()).valueOf(), moment(this.searchEndTime, this.dateFormat.toUpperCase()).valueOf()]
    			});
        	},
        	searchEndTime(){
                $('#endDate').datepicker("update", this.validSearchEndTime);
        		$('#dateSlider').slider({
        			values: [moment(this.validSearchStartTime, this.dateFormat.toUpperCase()).valueOf(), moment(this.validSearchEndTime, this.dateFormat.toUpperCase()).valueOf()]
    			});
        	},
            enabled(newValue){
                if(newValue == false){
                    $('#startDate').datepicker("update", this.minTime);
                    $('#endDate').datepicker("update", this.maxTime);
                    $('#dateSlider').slider({
                        values: [moment(this.minTime, this.dateFormat.toUpperCase()).valueOf(), moment(this.maxTime, this.dateFormat.toUpperCase()).valueOf()]
                    });
                    this.updateStartTime(moment(this.minTime, this.dateFormat.toUpperCase()).format(this.dateFormat.toUpperCase()));
                    this.updateEndTime(moment(this.maxTime, this.dateFormat.toUpperCase()).format(this.dateFormat.toUpperCase()));
                }
            }
        },
        mounted() {
            $('#startDate').datepicker({
                format: this.dateFormat,
                startDate: this.minTime,
                endDate: this.maxTime
            }).on(
                'changeDate', () => { this.updateStartTime($('#startDate').val());}
            ).datepicker("update", this.validSearchStartTime);

            $('#endDate').datepicker({
                format: this.dateFormat,
                startDate: this.minTime,
                endDate: this.maxTime
            }).on(
                'changeDate', () => { this.updateEndTime($('#endDate').val()) }
            ).datepicker("update", this.validSearchEndTime);

            $('#dateSlider').slider({
                range: true,
                animate: 'fast',
                min: this.validMinTime.getTime(),
                max: this.validMaxTime.getTime(),
                values: [this.validSearchStartTime.getTime(), this.validSearchEndTime.getTime()],
                slide: (event, ui) => {
                    $('#startDate').datepicker('update', moment(ui.values[0]).format(this.dateFormat.toUpperCase()));
                    $('#endDate').datepicker('update', moment(ui.values[1]).format(this.dateFormat.toUpperCase()));
                    this.updateStartTime(moment(ui.values[0]).format(this.dateFormat.toUpperCase()));
                    this.updateEndTime(moment(ui.values[1]).format(this.dateFormat.toUpperCase()));
                }
            });
        }
    }
</script>
