<template>
    <div class="epub">
        <div class="epub-download">
            <a :href="ebubPath" download>
                <i class="fa fa-cloud-download"></i>
            </a>
        </div>

        <div class="epub-wrapper">
            <div class="epub-ctrl epub-ctrl--prev">‹</div>
            <div id="area" class="epub-area"></div>
            <div class="epub-ctrl epub-ctrl--next">›</div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            ebubPath: {
                default: null,
            },
        },

        data() {
            return {
                book: null
            };
        },

        methods: {
            initViewer: function(){
                this.book = ePub(this.ebubPath, {
                    spreads : false
                });

                this.book.renderTo("area");
                $('.epub-ctrl--prev').click(() => {
                    this.book.prevPage();
                });
                $('.epub-ctrl--next').click(() => {
                    this.book.nextPage();
                });
            },
            destroyViewer: function(){
                this.book.destroy();
            },
        },

        mounted() {
            this.initViewer();
        },

        watch: {
            ebubPath: function(){
                this.destroyViewer();
                this.initViewer();
            },
        },
    }
</script>