<template>
    <div class="home-section__body row">
        <div class="home-section__body-col col-md-3">
            <div class="box">
                <input type="text" class="form-control" placeholder="Search Ellen G. White Writings Database" v-model="searchField">

                <div class="search-res" v-if="searchField">
                    <div class="search-res__loader" v-if="searchIsInProgress"></div>

                    <div class="well search-res__empty" v-if="Array.isArray(searchRes) && searchRes.length==0">
                        No results found.
                    </div>

                    <div class="well" v-for="item in searchRes">
                        <h4 class="well-title"><a :href="'https://m.egwwritings.org/'+item.lang+'/book/'+item.para_id" :title="item.refcode_long" target="_blank">{{ item.pub_name }}</a></h4>  
                    </div>
                </div>
            </div>
        </div>
        <div class="home-section__body-col col-md-3">
            <div class="box box-minor">
                <div class="well" v-for="item in minorItems">
                    <div class="well-img">
                        <img :src="item.thumb" alt="">
                    </div>
                    <h4 class="well-title"><a :href="item.route">{{ item.title }}</a></h4>  
                </div>
            </div>
        </div>
        <div class="home-section__body-col col-md-3">
            <div class="box box-rotating">
                <div class="well" v-for="item in rotatingItems">
                    <div class="well-img">
                        <img :src="item.thumb" alt="">
                    </div>
                    <h4 class="well-title"><a :href="item.route">{{ item.title }}</a></h4>  
                </div>
            </div>
        </div>
        <div class="home-section__body-col col-md-3">
            <div class="box box-major">
                <div class="well">
                    <div class="well-img">
                        <img :src="majorItems.thumb" alt="">
                    </div>
                    <h4 class="well-title"><a :href="majorItems.route">{{ majorItems.title }}</a></h4>
                    <div class="well-snippet">{{majorItems.summary}} <a :href="majorItems.route">Read more</a></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['sectionName'],
        data() {
            return {
                searchField: '',
                searchIsInProgress: false,
                searchProcessId: '',

                sectionItems: [],

                searchRes: [],
                minorItems: [],
                rotatingItems: [],
                majorItems: [],
            }
        },
        methods: {
            getItems: function(){
                this.$http.get('/homepage/data').then(response => {
                    this.sectionItems = response.body[this.sectionName];

                    this.minorItems = this.sectionItems.minor;
                    this.rotatingItems = this.sectionItems.rotating;
                    this.majorItems = this.sectionItems.major;
                }, reject => {
                    console.error('Error in request /homepage/data', reject);
                });
            },
            getRandomItems(itemsAmount){
                var randomItems = [];
                var itemsTotal = this.sectionItems.length;

                for(var i=0; i<itemsAmount; i++){
                    randomItems.push(this.sectionItems[Math.floor(Math.random() * itemsTotal)]);
                }

                return randomItems;
            },
            getSearchRes: function(){
                this.searchRes = [];
                this.searchIsInProgress = true;
                var searchProcessId = this.searchProcessId = Math.random();

                this.$http.get('/writings/search?query='+this.searchField).then(response => {
                    this.searchRes = response.body.results;
                    if(searchProcessId == this.searchProcessId) {
                        this.searchIsInProgress = false;
                    }
                }, response => {
                    // error callback
                    if(searchProcessId == this.searchProcessId) {
                        this.searchIsInProgress = false;
                    }
                });
            },
            fetchSearchRes: _.debounce(function () { 
                this.getSearchRes();
            }, 500),

        },
        watch: {
            searchField(){
                this.searchIsInProgress = true;
                this.fetchSearchRes();
            }
        },
        mounted() {
            if(this.sectionName){
                this.getItems();
            };
        }
    }
</script>