<template>
    <div class="image-viewer">
        <div class="search-viewer-btns">
            <div class="search-viewer-btns-item">
                <a :href="imagePath" download>
                    <span class="fa fa-cloud-download"></span>
                </a>
            </div>
            <div class="search-viewer-btns-item">
                <span @click="openPrintTab(imagePath)">
                    <span class="fa fa-print"></span>
                </span>
            </div>
        </div>

        <img :src="imagePath" alt="" class="image-viewer__img">
    </div>
</template>

<script>

    import '../lib/imageviewer.min.js'

    export default {
        props: ['imagePath'],
        data(){
            return {
                imageViewer: null
            }
        },
        methods: {
            initViewer: function(){
                $('.image-viewer__img').ImageViewer();
            },
            openPrintTab: function(url){
                var w = window.open(url);
                w.print();
            },
        },
        mounted() {
            this.initViewer();
        },
        watch: {
            imagePath: function(newVal){
                $('.iv-container').remove();
                $('.image-viewer').append('<img src="'+newVal+'" alt="" class="image-viewer__img">');
                this.initViewer();
            },
        },
    }
</script>
