<template>
    <div class="letterbook">
        <ul class="letterbook-nav nav nav-tabs">
            <li class="active"><a href="#" :data-path="firstPdfPath" :data-url="firstPdfUrl">PDF viewer</a></li>
            <li class=""><a href="#" :data-path="secondPdfPath" :data-url="secondPdfUrl">Text</a></li>
        </ul>

        <div class="letterbook-flowpaper">
            <flowpaper-viewer
                v-if="currentPdf.path && currentPdf.url"
                :pdf-path="currentPdf.path"
                :pdf-url="currentPdf.url"
            ></flowpaper-viewer>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['firstPdfPath', 'firstPdfUrl', 'secondPdfPath', 'secondPdfUrl'],
        data() {
            return {
                currentPdf: {
                    path: null,
                    url: null
                }
            };
        },
        computed: {
            allProps: function(){
                return this.firstPdfPath + this.firstPdfUrl + this.secondPdfPath + this.secondPdfUrl;
            }
        },
        methods: {
            initLetterbook: function(){
                this.currentPdf.path = this.firstPdfPath;
                this.currentPdf.url = this.firstPdfUrl;

                $('.letterbook-nav li').removeClass('active');
                $('.letterbook-nav li:first-child').addClass('active');
            },
        },
        mounted() {
            this.initLetterbook();

            var vm = this;
            $(document).on('click', '.letterbook-nav a', function(e){
                e.preventDefault();

                $('.letterbook-nav li').removeClass('active');
                $(this).parent().addClass('active');

                vm.currentPdf.path = $(this).attr('data-path');
                vm.currentPdf.url = $(this).attr('data-url');
            });
        },
        watch: {
            allProps: function(){
                this.initLetterbook();
            }
        },
    }
</script>
