<template>
    <select multiple="multiple" class="form-control">
        <slot></slot>
    </select>
</template>

<script>
    import 'select2'
    
    export default {
        props: ['options','value', 'searchable'],
        methods: {
            getSearchQuery: _.debounce(function(context){
                this.$emit('multiselectChangeQuery', $(context).val());
            }, 400),
        },
        mounted() {
            var vm = this;

            $(this.$el)
                // init select2
                .select2({
                    data: vm.options,
                    tags: true
                })
                .val(vm.value)
                .trigger('change')
                // emit event on change.
                .on('change', function () {
                    let newVal = $(this).val();
                    vm.$emit('input', $(this).val());
                });

            if(this.searchable){
                let inputEventRegistred = false;
                let test = $(this.$el).siblings('span').find('.select2-search__field');

                $(this.$el).on('select2:open', () => {
                    if(!inputEventRegistred){
                        $(this.$el).siblings('span').find('.select2-search__field').on('input', function(){
                            vm.getSearchQuery(this);
                        });
                        inputEventRegistred = true;
                    };
                });
            }
        },
        watch: {
            options(newVal){
                $(this.$el).select2().empty();
                $(this.$el).select2({
                    data: newVal
                });
            },
            value(newVal, oldVal){
                if(_.xor(newVal, oldVal).length > 0){
                    $(this.$el).select2({ data: newVal });
                    $(this.$el).val(newVal).trigger('change');
                }
            },
        },
        destroyed: function () {
            $(this.$el).off().select2('destroy')
        }
    }
</script>
