<template>
    <div class="publication-writings clearfix">
        <div class="publication-writings__audio">
            <audio-player
                v-if="playerOpen"
                :tracklist="tracklist"
                :closable="true"
                @closeAudioPlayer="() => playerOpen=false"
            ></audio-player>
        </div>

        <div class="publication-writings-inner">
            <div class="publication-writings__toc" v-if="wBookTrackList && wBookTrackList.length==0">
                <h4>There is no audio in table of content</h4>
            </div>
            <div class="publication-writings__toc" v-if="wBookTrackList && wBookTrackList.length!=0">
                <h4>Audio table of content</h4>

                <div class="publication-writings__toc-list">
                    <div class="publication-writings__loader" v-if="loading"></div>

                    <div class="publication-writings__toc-item" v-if="wBookTrackList" v-for="chapter in wBookTrackList">
                        <i class="glyphicon glyphicon-music"></i>
                        <span
                        	class="publication-writings__toc-item-name"
                        	@click="openAudio(chapter.para_id)"
                          v-html="chapter.title"
                        ></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            publicationId: {},
            bookId: {}
        },
        data() {
            return {
                loading: false,
                wBookTrackList: null,
                playerOpen: false,
                tracklist: {
                    list: [],
                    current: 0,
                },
            }
        },
        methods: {
            getBookToc: function(){
                this.loading = true;
                this.$apollo.query({
                    query: gpl`query wBookTrackList($book_id: Int!) {
                        wBookTrackList(book_id: $book_id) {
                            mp3
                            title
                        }
                    }`,
                    variables: {
                        book_id: this.bookId
                    }
                }).then( response => {
                    this.wBookTrackList = _.filter(_.cloneDeep(response.data.wBookTrackList), (item) => {
                        return item.mp3 != null;
                    });
                    this.loading = false;
                    $(window).resize();
                }, reject => {
                    this.loading = false;
                    console.error('Error in book table of content request', reject);
                });
            },

            // Audio player
            createTracklist: function(para_id){
                let mirror = this.$store.state.writings.content.mirrors[0];

                _.forEach(this.wBookTrackList, (item) => {
                    this.tracklist.list.push({
                        name: item.title,
                        url: mirror+item.mp3,
                    });
                });
            },
            openAudio: function(para_id){
                if(this.tracklist.list.length == 0){
                    this.createTracklist();
                };

                this.tracklist.current = _.findIndex(this.wBookTrackList, (item) => {
                    return item.para_id == para_id;
                });
                this.playerOpen = true;
            },
        },
        mounted(){
            $('.publication-writings-inner > div').hide();
            $('.publication-writings__toc').show();
            this.getBookToc();
        }
    }
</script>
