<template>
    <div class="publication-writings clearfix">
        <div class="publication-writings__audio">
            <audio-player
                v-if="playerOpen"
                :tracklist="tracklist"
                :closable="true"
                @closeAudioPlayer="() => playerOpen=false"
            ></audio-player>
        </div>

        <div class="publication-writings-inner">
            <div class="publication-writings__toc">
                <div class="publication-writings__search-btn" v-if="wBookTocWithAudio" @click="openSearch">
                    <i class="fa fa-search"></i>
                </div>

                <h4 v-if="wBookTocWithAudio">Table of content</h4>

                <div class="publication-writings__toc-list">
                    <div class="publication-writings__loader" v-if="loading"></div>

                    <div class="publication-writings__toc-item" v-if="wBookTocWithAudio" v-for="chapter in wBookTocWithAudio">
                        <span class="publication-writings__toc-item-name" @click="openChapter(chapter.para_id)">{{ chapter.title }}</span>
                        <span class="publication-writings__toc-audio" v-if="chapter.hasOwnProperty('mp3')" @click="openAudio(chapter.para_id)">
                            <i class="glyphicon glyphicon-music"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="publication-writings__chapter">
                <div class="publication-writings__ctrl text-center"><span @click="openToc"><span class="fa fa-arrow-left"></span> Back to table of content</span></div>

                <div class="publication-writings__search-btn" @click="openSearch">
                    <i class="fa fa-search"></i>
                </div>

                <div class="publication-writings__chapter-ctrls">
                    <div class="publication-writings__chapter-ctrls__prev" v-if="getPrevChapterParaid()!=false" @click="openPrevChapter">
                        <div class="fa fa-arrow-left"></div>
                    </div>
                    <div class="publication-writings__chapter-ctrls__next" v-if="getNextChapterParaid()!=false" @click="openNextChapter">
                        <div class="fa fa-arrow-right"></div>
                    </div>
                </div>

                <div class="publication-writings__chapter__wrap">
                    <div class="publication-writings__loader" v-if="loading"></div>

                    <div class="publication-writings__chapter__paragraph" v-if="wBookChapter.currentChapter" v-for="paragraph in wBookChapter.currentChapter">
                        <h1 v-if="paragraph.element_type=='h1'" v-html="paragraph.content"></h1>
                        <h3 v-if="paragraph.element_type=='h3'" v-html="paragraph.content"></h3>
                        <p v-if="paragraph.element_type=='p'" v-html="paragraph.content"></p>
                    </div>
                </div>
            </div>

            <div class="publication-writings__search">
                <div class="publication-writings__ctrl"><span @click="openToc"><span class="fa fa-arrow-left"></span> Back to table of content</span></div>

                <div class="publication-writings__search__close" @click="closeSearch">
                    <i class="fa fa-times"></i>
                </div>

                <input type="text" class="form-control" placeholder="Search in book" v-model="bookSearch.query" onFocus="this.select()">

                <div class="publication-writings__search__res">
                    <div class="publication-writings__search__res-loader" v-if="bookSearch.loading"></div>
                    
                    <h4 v-if="bookSearch.resultsIsEmpty">
                        No results found for your request
                    </h4>

                    <ol v-if="bookSearch.results">
                        <li v-for="item in bookSearch.results" v-html="item.snippet" @click="openSearchRes(item.para_id)"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            publicationId: {},
            bookId: {}
        },
        data() {
            return {
                loading: false,
                wBookTocWithAudio: null,
                wBookChapter: {
                    currentChapter: null,
                    prevChapter: null,
                    nextChapter: null,
                },
                wBookTrackList: null,
                bookSearch: {
                    query: null,
                    results: null,
                    loading: false,
                    loadingId: null,
                    resultsIsEmpty: false
                },
                playerOpen: false,
                tracklist: {
                    list: [],
                    current: 0,
                },
            }
        },
        methods: {
            // graphql wbook requests
            requestChapter: function(para_id){
                return this.$apollo.query({
                    query: gpl`query wBookChapter($para_id: String!) {
                        wBookChapter(para_id: $para_id) {
                            para_id
                            content
                            element_type
                        }
                    }`,
                    variables: {
                        para_id: para_id
                    }
                });
            },
            getBookToc: function(){
                this.loading = true;
                this.$apollo.query({
                    query: gpl`query wBookToc($book_id: Int!) {
                        wBookToc(book_id: $book_id) {
                            para_id
                            title
                            dup
                        }

                        wBookTrackList(book_id: $book_id) {
                            para_id
                            chapters
                            mp3
                            title
                        }
                    }`,
                    variables: {
                        book_id: this.bookId
                    }
                }).then( (response) => {
                    let wBookTocWithAudio = _.filter(_.cloneDeep(response.data.wBookToc), function(o){ return o.dup==null }),
                        wBookTrackList = _.cloneDeep(response.data.wBookTrackList),
                        mirror = this.$store.state.writings.content.mirrors[0];

                    _.forEach(wBookTrackList, (value) => {
                        if(value.mp3){
                            let paraidIndex = _.findIndex(wBookTocWithAudio, (item) => {
                                return item.para_id == value.para_id
                            });
                            wBookTocWithAudio[paraidIndex]['mp3'] = mirror + value.mp3;
                        }
                    });

                    this.wBookTocWithAudio = wBookTocWithAudio;
                    this.wBookTrackList = wBookTrackList;

                    this.loading = false;
                    $(window).resize();
                }, (reject) => {
                    this.loading = false;
                    console.error('Error in book table of content request', reject);
                });
            },
            getTocChapter: function(para_id) {
                this.loading = true;

                this.requestChapter(para_id).then(
                    response => {
                        this.loading = false;
                        this.wBookChapter.currentChapter = response.data.wBookChapter;
                        $(window).resize();
                    }, reject => {
                        this.loading = false;
                        console.error('Error in book table of content request', reject);
                    }
                );
                if(this.getPrevChapterParaid(para_id)){
                    this.requestChapter(this.getPrevChapterParaid(para_id)).then(
                        (response) => {
                            this.wBookChapter.prevChapter = response.data.wBookChapter;
                        }, (reject) => {
                            console.error('Error in book table of content request', reject);
                        }
                    );
                };

                if(this.getNextChapterParaid(para_id)){
                    this.requestChapter(this.getNextChapterParaid(para_id)).then(
                        response => {
                            this.wBookChapter.nextChapter = response.data.wBookChapter;
                        }, reject => {
                            console.error('Error in book table of content request', reject);
                        }
                    );
                };                
            },
            getSingleChapter: function(para_id){
                this.loading = true;

                this.requestChapter(para_id).then(
                    response => {
                        this.loading = false;
                        this.wBookChapter.currentChapter = response.data.wBookChapter;
                        $(window).resize();
                    }, reject => {
                        this.loading = false;
                        console.error('Error in book table of content request', reject);
                    }
                );
            },

            // Book search
            searchInBook: _.debounce(function () {
                this.bookSearch.loading = true;
                let loadingId = this.bookSearch.loadingId = Math.random();

                this.$apollo.query({
                    query: gpl`query wSeach($query: String!, $book_id: Int!) {
                        wSeach(query: $query, book_id: $book_id) {
                            results {
                                para_id
                                snippet
                            }
                        }
                    }`,
                    variables: {
                        query: this.bookSearch.query,
                        book_id: this.bookId
                    }
                }).then( response => {
                    if(this.bookSearch.loadingId == loadingId){
                        this.bookSearch.loading = false;    
                    };
                    if(response.data.wSeach==null || response.data.wSeach.results.length==0){
                        this.bookSearch.results = null;
                        this.bookSearch.resultsIsEmpty = true;
                    } else {
                        this.bookSearch.results = response.data.wSeach.results;
                        this.bookSearch.resultsIsEmpty = false;
                    }
                }, reject => {
                    if(this.bookSearch.loadingId == loadingId){
                        this.bookSearch.loading = false;    
                    };
                    console.error(reject);
                });
            }, 400),

            // Navigation in viewer
            openSearch: function(){
                if($('.search-page').hasClass('_viewerSmall')){
                    $('.publication-writings-inner > div').hide();
                } else {
                    $('.publication-writings-inner').addClass('active-search');
                }

                $('.publication-writings__search').show();
                $('.publication-writings__search input').focus();
            },
            closeSearch: function(){
                $('.publication-writings-inner').removeClass('active-search');
                $('.publication-writings__search').hide();
            },
            openToc: function(){
                if($('.search-page').hasClass('_viewerSmall')){
                    $('.publication-writings-inner > div').hide();
                } else {
                    $('.publication-writings__chapter').hide();
                }

                $('.publication-writings__toc').show();
            },
            openChapter: function(para_id){
                if(this.wBookChapter.currentChapter==null || this.getCurrentChapterParaid()!=para_id){
                    this.getTocChapter(para_id);
                }

                if($('.search-page').hasClass('_viewerSmall')){
                    $('.publication-writings-inner > div').hide();
                } else {
                    $('.publication-writings__toc').hide();
                }

                $('.publication-writings__chapter').show();
            },
            openSearchRes: function(para_id){
                if($('.search-page').hasClass('_viewerSmall')){
                    $('.search-page').removeClass('_viewerSmall');
                    $('.search-page').addClass('_viewerMiddle');
                }

                if(this.wBookChapter.currentChapter==null || this.getCurrentChapterParaid()!=para_id){
                    this.getSingleChapter(para_id);
                }

                $('.publication-writings__toc').hide();
                $('.publication-writings__chapter').show();
                $('.publication-writings-inner').addClass('active-search');
            },
            openPrevChapter: function(){
                this.openChapter(this.getPrevChapterParaid());
            },
            openNextChapter: function(){
                this.openChapter(this.getNextChapterParaid());
            },
            getCurrentChapterParaid: function(chapterParaid = null){
                if(chapterParaid == null){
                    if(this.wBookChapter.currentChapter!=null){
                        chapterParaid = this.wBookChapter.currentChapter[0].para_id;
                    } else {
                        return false;
                    };
                };
                return chapterParaid;
            },
            getPrevChapterParaid: function(chapterParaid = null){
                let currentChapterParaId = this.getCurrentChapterParaid(chapterParaid);

                let currentChapterIndex = _.findIndex(this.wBookTocWithAudio, (item) => {
                    return item.para_id == currentChapterParaId;
                });

                if(currentChapterIndex==0 || currentChapterIndex==-1 || currentChapterIndex==false){
                    return false;
                } else {
                    return this.wBookTocWithAudio[currentChapterIndex-1].para_id
                }
            },
            getNextChapterParaid: function(chapterParaid = null){
                let currentChapterParaId = this.getCurrentChapterParaid(chapterParaid);

                let currentChapterIndex = _.findIndex(this.wBookTocWithAudio, (item) => {
                    return item.para_id == currentChapterParaId;
                });

                if(this.wBookTocWithAudio==null || currentChapterIndex >= this.wBookTocWithAudio.length-1 || currentChapterIndex===false){
                    return false;
                } else {
                    return this.wBookTocWithAudio[currentChapterIndex+1].para_id
                };
            },

            // Audio player
            createTracklist: function(para_id){
                let mirror = this.$store.state.writings.content.mirrors[0];

                _.forEach(this.wBookTrackList, (item) => {
                    this.tracklist.list.push({
                        name: item.title,
                        url: mirror+item.mp3,
                    });
                });
            },
            openAudio: function(para_id){
                if(this.tracklist.list.length == 0){
                    this.createTracklist();
                };

                this.tracklist.current = _.findIndex(this.wBookTrackList, (item) => {
                    return item.para_id == para_id;
                });
                this.playerOpen = true;
            },
        },
        mounted(){
            $('.publication-writings-inner > div').hide();
            $('.publication-writings__toc').show();
            this.getBookToc();
        },
        watch: {
            'bookSearch.query': function(newVal){
                if(!newVal){
                    this.bookSearch.results = null;
                } else {
                    this.searchInBook();
                }
            },
        },
        destroyed(){

        },
    }
</script>