<template>
  <div id="references" class="refs-wrap">
    <div v-if="!refs || refs.length == 0">There are no references</div>

    <ul class="refs-list" v-else-if="refs && refs.length < refsCountToFilter">
      <li class="refs-item" v-for="item in refs" :title="item.title">
        <a :href="item.route" target="_blank">
          <div class="refs-item-img">
            <img :src="item.thumbnail" alt="">
          </div>
          <div class="refs-item-title">
            {{item.title}}
            <span class="badge">{{ item.type }}</span>
          </div>
        </a>
      </li>
    </ul>

    <div class="refs-groups" v-else>
      <div class="refs-group" v-for="type in refsTypes">
        <h5 class="refs-group-title">{{ showType(type) }}:</h5>

        <ul class="refs-list">
          <li class="refs-item" v-for="item in filterTypeRefs(type)" :title="item.title">
            <a :href="item.route" target="_blank">
              <div class="refs-item-img">
                <img :src="item.thumbnail" alt="">
              </div>
              <div class="refs-item-title">
                {{item.title}}
                <span class="badge">{{ item.type }}</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['refsData'],
    data () {
      return {
        refs: [],
        refsCountToFilter: 10,
        refsTypes: []
      }
    },
    methods: {
      filterTypeRefs: function (type) {
        return _.filter(this.parsedPersonData.loadedReferences, (item) => {
          return item.type == type
        })
      }
    },
    created () {
      if (_.isArray(this.refsData)) {
        this.refs = this.refsData
      } else if (_.isString(this.refsData)) {
        this.refs = JSON.parse(this.refsData)
      } else {
        this.refs = []
      }
    },
    watch: {
      refsData: {
        handler: function (newVal) {
          if (_.isArray(this.refsData)) {
            this.refs = this.refsData
          } else if (_.isString(this.refsData)) {
            this.refs = JSON.parse(this.refsData)
          } else {
            this.refs = []
          }
        },
        deep: true
      },
      refs: {
        handler: function (newVal) {
          let types = []
          if (newVal && newVal.length) {
            for (var i = 0; i < newVal.length; i++) {
              types.push(newVal[i].type)
            }
            types =  _.uniq(types)
          }
          this.refsTypes = types
        },
        deep: true
      }
    }
  }
</script>
