<template>
    <div class="event-viewer">
        <div v-if="event" v-html="event.body" class="content"></div>
    </div>
</template>

<script>
    const event = gpl`query event($id: Int!) {
        event(id: $id) {
            title
            body
            date_start
            date_end
            thumbnail
        }
    }`;

    export default {
        apollo: {
            event: {
                query: event,
                variables() {
                    return {
                        id: this.eventId
                    }
                }
            },
        },
        props: {
            item: {}
        },
        computed: {
            eventId: function(){
                if(this.item) {
                    return this.item._id;
                } else if(this.item_id){
                    return this.item_id;
                } else {
                    return null;
                }
            },
        }
    }
</script>