<template>
    <div class="search-viewer-corr">
        <div v-if="loading" class="preloader"></div>
        <div v-if="entityIsEmpty">In this correspondence are no content</div>
        <div v-html="correspondence.body" v-if="correspondence.body" class="content"></div>
        <div class="correspondence-email" v-html="correspondence.text" v-if="correspondence.text"></div>
        <flowpaper-viewer 
            v-if="correspondence.pdf_path" 
            :pdf-path="correspondence.pdf_path" 
            :pdf-url="correspondence.pdf_url"
        ></flowpaper-viewer>
    </div>
</template>

<script>
    export default {
        props: {
            item: {}
        },
        data() {
            return {
                loading: false,
                correspondence: {
                    title: null,
                    body: null,
                    text: null,
                    pdf_path: null,
                    pdf_url: null,
                },
            };
        },
        computed: {
            entityIsEmpty: function(){
                if(this.correspondence.body || this.correspondence.text || this.correspondence.pdf_path) {
                    return false;
                } else {
                    return true;
                }
            }
        },
        methods: {
            getCorrespondence: function(){
                this.loading = true;
                this.$apollo.query({
                    query: gpl`query correspondence($id: Int!) {
                        correspondence(id: $id) {
                            title
                            body
                            text
                            pdf_path
                            pdf_url
                        }
                    }`,
                    variables: {
                        id: this.item._id
                    }
                }).then( (response) => {
                    this.loading = false;
                    this.correspondence = response.data.correspondence;
                }, (reject) => {
                    this.loading = false;
                    console.error('Error in correspondence request', reject);
                });
            },
        },
        mounted(){
            this.getCorrespondence();
        },
        watch: {
            'item._id': function(newVal){
                this.getCorrespondence();
            },
        }
    }
</script>