<template>
    <div class="pamphlet-viewer">
        <h4 v-if="pamphlet && pamphlet.author"><strong>Author:</strong> {{pamphlet.author}}</h4>
        <div v-if="pamphlet" v-html="pamphlet.body" class="content"></div>
    </div>
</template>

<script>
    const pamphlet = gpl`query pamphlet($id: Int!) {
        pamphlet(id: $id) {
            title
            body
            author
        }
    }`;

    export default {
        apollo: {
            pamphlet: {
                query: pamphlet,
                variables() {
                    return {
                        id: this.pamphletId
                    }
                }
            },
        },
        props: {
            item: {}
        },
        computed: {
            pamphletId: function(){
                if(this.item) {
                    return this.item._id;
                } else if(this.item_id){
                    return this.item_id;
                } else {
                    return null;
                }
            },
        }
    }
</script>