<template>
    <div class="search-viewer-topic">
        <div class="preloader" v-if="loading"></div>

        <div v-if="!topic.body && !topic.files">There is no content in this topic</div>

        <div v-html="topic.body" v-if="topic.body" class="content"></div>

        <div v-if="topic.files" class="search-viewer-topic-files">
            <h4>Attached links:</h4>

            <ul>
                <li v-for="file in topic.files">
                    <a :href="file.relative_route" target="_blank" v-if="file">{{ file.title }}</a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            item: {}
        },
        data() {
            return {
                loading: false,
                topic: {}
            };
        },
        methods: {
            getTopic: function(){
                this.loading = true;
                this.$apollo.query({
                    query: gpl`query topic($id: Int!) {
                        topic(id: $id) {
                            title
                            body
                            files{
                                title
                                body
                                absolute_route
                                relative_route
                            }
                        }
                    }`,
                    variables: {
                        id: this.item._id
                    }
                }).then( (response) => {
                    this.loading = false;
                    this.topic = response.data.topic;
                }, (reject) => {
                    this.loading = false;
                    console.log('Error in topic request', reject);
                });
            },
        },
        mounted() {
            this.getTopic();
        },
        watch: {
            'item._id': function(newVal){
                this.getTopic();
            },
        },
    }
</script>