<template>
    <div class="search-viewer-wrap">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix search-viewer-head">
                <div class="search-viewer-title" :title="item._source.snippet.title">
                    {{ item._source.snippet.title }}
                </div>

                <div class="search-viewer-ctrls">
                    <div class="search-viewer-ctrls-item _refs" v-if="!refsIsEmpty" @click="toggleRefsPopup">
                        <span class="fa fa-book" title="References"></span>
                    </div>
                    <div class="search-viewer-ctrls-item _share">
                        <span class="fa fa-share-alt" title="Share" data-toggle="modal" data-target="#search-share-particular"></span>
                    </div>
                    <div class="search-viewer-ctrls-item _link" v-if="item._source.snippet.url">
                        <a :href="item._source.snippet.url" title="Open in new tab" target="_blank" class="search-viewer-head-link">
                            <span class="fa fa-external-link"></span>
                        </a>
                    </div>
                    <div class="search-viewer-ctrls-item _expand">
                        <span class="fa fa-expand" @click="changeViewerSize" title="Change viewer size"></span>
                    </div>
                    <div class="search-viewer-ctrls-item _close">
                        <span class="fa fa-times" @click="disableViewer" title="Close viewer"></span>
                    </div>
                </div>

                <div class="search-viewer__refs-popup">
                    <div class="search-viewer__refs-close" @click="toggleRefsPopup"><i class="fa fa-times"></i></div>

                    <ul class="search-viewer__refs-tabs clearfix" v-if="refsTabsIsActive">
                        <li @click="refsActiveTab = 'by'" :class="{ active: refsActiveTab == 'by' }">Referenced by</li>
                        <li @click="refsActiveTab = 'to'" :class="{ active: refsActiveTab == 'to' }">Referencing to</li>
                    </ul>

                    <div class="search-viewer__refs-content" v-if="references && refsActiveTab=='by'">
                        <ul v-if="references.referenced && references.referenced.length">
                            <li v-for="item in references.referenced"><a :href="item.route" target="_blank">{{ item.title}}</a></li>
                        </ul>
                        <div v-else>There are no references</div>
                    </div>

                    <div class="search-viewer__refs-content" v-if="references && refsActiveTab=='to'">
                        <ul v-if="references.referencing && references.referencing.length">
                            <li v-for="item in references.referencing"><a :href="item.route" target="_blank">{{ item.title}}</a></li>
                        </ul>
                        <div v-else>There are no references</div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="search-viewer-content clearfix">
                    <component 
                        :is="map[itemType]"
                        :item="item"
                    ></component>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            item: {}
        },
        data() {
            return {
                map: {
                    correspondence: 'search-viewer-corr',
                    location: 'search-viewer-location',
                    pamphlet: 'search-viewer-pamphlet',
                    person: 'search-viewer-people',
                    publication: 'search-viewer-publication',
                    event: 'search-viewer-event',
                    book: 'search-viewer-book',
                    article: 'search-viewer-article',
                    lesson: 'search-viewer-lesson',
                    news: 'search-viewer-news',
                    topic: 'search-viewer-topic',
                    faq: 'search-viewer-faq',
                    media_doc: 'search-viewer-doc',
                    media_image: 'search-viewer-img',
                    media_audio: 'search-viewer-audio',
                    media_video: 'search-viewer-video',
                },
                references: null,
                refsActiveTab: 'by'
            };
        },
        computed: {
            itemType: function(){
                return _.get(this.item, '_type', null);
            },
            refsIsEmpty: function(){
                if(!this.references){
                    return true;
                } else if(this.references.referencing || this.references.referenced){
                    return false;
                } else {
                    return true;
                }
            },
            refsTabsIsActive: function(){
                if(!this.references){
                    return false;
                } else if(this.references.referencing && this.references.referenced){
                    return true;
                } else {
                    return false;
                }
            }
        },
        methods: {
            disableViewer: function(){
                this.$emit('disableViewer');
                if(window.player){
                    window.player.stop();
                }
            },
            changeViewerSize: function(){
                this.$emit('changeViewerSize');
            },
            getReferences: function(){
                this.references = {
                    referencing: [
                        {
                            "__typename": "MediaImage",
                            "id": 904,
                            "title": "William C. White Family, 1915 83 | ELDER W.C. WHITE with his second wife, Ethel ...",
                            "thumbnail": "/media/1063/conversions/thumb.jpg",
                            "route": "/media/image/904"
                        },
                        {
                            "__typename": "MediaDoc",
                            "id": 155,
                            "title": "The Integrity of Ellen White’s Testimonies",
                            "thumbnail": "/files/default/media-doc/1.jpg",
                            "route": "/media/document/155"
                        },
                    ],
                    referenced: []
                };
            },
            toggleRefsPopup: function(){
                if($('.search-viewer__refs-popup:visible').length){
                    $('.search-viewer__refs-popup').hide();
                } else {
                    $('.search-viewer__refs-popup').show();
                }
            }
        },
        mounted() {
            this.getReferences();
            $('.search-viewer-wrap > .panel > .panel-body').mCustomScrollbar({
                theme: 'dark',
                scrollInertia: 200,
                mouseWheelPixels: 100
            });
        },
        watch: {
            item: {
                handler: function(){
                    $('.search-viewer__refs-popup').hide();
                    this.getReferences();
                },
                deep: true
            }
        }
    }
</script>