<template>
    <div class="">
        Video
    </div>
</template>

<script>
    export default {
        mounted() {

        },
        props: {
            
        },
        method: {
            
        },
        computed: {

        },
        data() {
            return {
                
            };
        },
    }
</script>