<template>
    <div class="person-viewer">
        <div class="person-viewer__tabs">
            <ul class="nav nav-tabs">
                <li :class="{ active: activeTab=='bio' }" @click.prevent="activeTab='bio'"><a href="#">Bio</a></li>
                <li :class="{ active: activeTab=='refsTo' }" @click.prevent="activeTab='refsTo'" v-if="!isNoRefsTo"><a href="#">References to</a></li>
                <li :class="{ active: activeTab=='refsBy' }" @click.prevent="activeTab='refsBy'" v-if="!isNoRefsBy"><a href="#">References by</a></li>
            </ul>
        </div>

        <div class="person-viewer__tabs-content" v-if="person">
            <div class="person-viewer__bio clearfix" v-if="activeTab == 'bio'">
                <div class="person-viewer__bio-img" v-if="person.thumbnail">
                    <img :src="person.thumbnail" alt="">
                </div>

                <div class="person-viewer__bio-row" v-if="person.sex">
                    <label>Gender:</label> {{ person.sex }}
                </div>
                <div class="person-viewer__bio-row" v-if="person.position.degree">
                    <label>Degree:</label> {{ person.position.degree }}
                </div>
                <div class="person-viewer__bio-row" v-if="person.position.institution">
                    <label>Institution:</label> {{ person.position.institution }}
                </div>
                <div class="person-viewer__bio-row" v-if="person.sex">
                    <label>Gender:</label> {{ person.sex }}
                </div>
                <div class="person-viewer__bio-row" v-if="person.name.full_name">
                    <label>Full name:</label> {{ person.name.full_name }}
                </div>
                <div class="person-viewer__bio-row" v-if="person.name.first_name">
                    <label>First name:</label> {{ person.name.first_name }}
                </div>
                <div class="person-viewer__bio-row" v-if="person.name.last_name">
                    <label>Last name:</label> {{ person.name.last_name }}
                </div>
                <div class="person-viewer__bio-row" v-if="person.name.maiden_name">
                    <label>Maiden name:</label> {{ person.name.maiden_name }}
                </div>
                <div class="person-viewer__bio-row" v-if="person.name.generic_name">
                    <label>Generic name:</label> {{ person.name.generic_name }}
                </div>
                <div class="person-viewer__bio-row" v-if="person.name.salutation">
                    <label>Salutation:</label> {{ person.name.salutation }}
                </div>

                <div class="person-viewer__bio-info" v-if="person.bio">
                    <div class="person-viewer__bio-info-content" v-html="person.bio"></div>
                </div>

                <div class="person-viewer__bio-info" v-if="emptyBioInfo">There is no content for this person</div>
            </div>

            <div class="person-viewer__refs" v-if="activeTab == 'refsTo' && !isNoRefsTo">
                <div class="person-viewer__refs-inner">
                    <person-references :refs="person.referenced"></person-references>
                </div>
            </div>

            <div class="person-viewer__refs" v-if="activeTab == 'refsBy' && !isNoRefsBy">
                <div class="person-viewer__refs-inner">
                    <person-references :refs="person.referencing"></person-references>
                </div>
            </div>
        </div>
        <div v-else-if="person == 'error'">There is some error in person request</div>
        <div v-else>
            <div class="preloader"></div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            item: {},
            item_id: {},
        },
        data() {
            return {
                person: null,
                activeTab: 'bio',
                refWay: ''
            };
        },
        computed: {
            emptyBioInfo: function(){
                if(!this.person){
                    return true;
                } else if(this.person.bio || this.person.sex || this.person.position.degree || this.person.position.institution || this.person.name.full_name || this.person.name.last_name || this.person.name.first_name || this.person.name.maiden_name || this.person.name.middle_name || this.person.name.generic_name || this.person.name.salutation){
                    return false;
                } else {
                    return true;
                }
            },
            personId: function(){
                if(this.item) {
                    return this.item._id;
                } else if(this.item_id){
                    return this.item_id;
                } else {
                    return null;
                }
            },
            isNoRefsTo: function(){
                if(!this.person){
                    return true;
                } else if(this.person.referenced.length == 0){
                    return true;
                } else {
                    return false;
                }
            },
            isNoRefsBy: function(){
                if(!this.person){
                    return true;
                } else if(this.person.referencing.length == 0){
                    return true;
                } else {
                    return false;
                }
            },
        },
        methods: {
            getPerson: function(){
                this.person = null;
                this.$apollo.query({
                    query: gpl`query person($id: Int!) {
                        person(id: $id) {
                            title
                            bio
                            sex
                            thumb_site_path
                            thumbnail
                            route
                            position{
                                degree
                                institution
                            }
                            name{
                                search
                                display
                                full_name
                                last_name
                                first_name
                                maiden_name
                                middle_name
                                generic_name
                                salutation
                            }
                            referencing{
                                __typename
                                id
                                title
                                thumbnail
                                route
                            }
                            referenced{
                                __typename
                                id
                                title
                                thumbnail
                                route
                            }
                        }
                    }`,
                    variables: {
                        id: this.personId
                    }
                }).then( (response) => {
                    this.person = response.data.person;
                }, (reject) => {
                    console.error('Error in correspondence request', reject);
                });
            }
        },
        mounted(){
            this.getPerson();
        },
        watch: {
            'item._id': function(){
                this.activeTab = 'bio';
                this.refWay = '';
                this.getPerson();
            }
        }
    }
</script>