<template>
    <div class="publication">
        <div class="publication-content clearfix">
            <div class="publication-main">
                <div v-html="publication.body" v-if="publication.body" class="content"></div>

                <div class="publication-img" v-if="publication.img">
                    <img :src="publication.img.public_path" alt="">
                </div>

                <div class="publication-tabs" v-if="!emptyWritings">
                    <ul class="nav nav-tabs">
                        <li v-if="publication.egw_writings.files.epub"><a href="#" @click="activeViewer.value='epub'">EPUB</a></li>
                        <li v-if="publication.egw_writings.files.mobi" @click="activeViewer.value='mobi'"><a href="#">MOBI</a></li>
                        <li @click="activeViewer.value='mp3'"><a href="#">MP3</a></li>
                        <li v-if="publication.egw_writings.files.pdf" @click="activeViewer.value='pdf'"><a href="#">PDF</a></li>
                        <li @click="activeViewer.value='toc'"><a href="#">Table of content</a></li>
                    </ul>
                </div>

                <div class="publication-tab-content">
                    <div class="publication-epub" v-if="activeViewer.value=='epub'">
                        <div class="publication-epub-inner">
                            <epub-viewer
                                :ebub-path="writingsMirror + publication.egw_writings.files.epub"
                            ></epub-viewer>
                        </div>
                    </div>
                    <div class="publication-tab-mobi" v-if="activeViewer.value=='mobi'">
                        <a :href="writingsMirror + publication.egw_writings.files.mobi">Download mobi</a>

                        <p>To view this document you can use <a href="https://www.amazon.com/kindle-dbs/fd/kcp" target="_blank">kindle PC reader</a></p>
                    </div>
                    <div class="publication-tab-mp3" v-if="activeViewer.value=='mp3'">
                        <div class="publication-tab-mp3-link"  v-if="publication.egw_writings.files.mp3">
                            <a :href="writingsMirror + publication.egw_writings.files.mp3" download>Download archive with mp3</a>
                            <br><br>
                        </div>
                        
                        <publication-audio 
                            :publication-id="publicationId"
                            :book-id="publication.egw_writings.book_id"
                        ></publication-audio>
                    </div>
                    <div class="publication-tab-pdf" v-if="activeViewer.value=='pdf'">
                        <flowpaper-viewer 
                            v-if="publication.egw_writings.files.pdf" 
                            :pdf-path="writingsMirror + publication.egw_writings.files.pdf" 
                            :pdf-url="writingsMirror + publication.egw_writings.files.pdf"
                        ></flowpaper-viewer>
                    </div>
                    <div class="publication-tab-writings" v-if="activeViewer.value=='toc'">
                        <publication-writings 
                            :publication-id="publicationId"
                            :book-id="publication.egw_writings.book_id"
                        ></publication-writings>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</template>

<script>
    const publication = gpl`query publication($id: Int!) {
        publication(id: $id) {
            id
            title
            body
            img {
                public_path
            }
            egw_writings {
                book_id
                files {
                    mp3
                    mobi
                    epub
                    pdf
                }
            }
        }
    }`;

    export default {
        apollo: {
            publication: {
                query: publication,
                variables() {
                    return {
                        id: this.publicationId
                    }
                }
            },
        },
        props: {
            item: {},
            item_id: {}
        },
        data() {
            return {
                publication: {
                    id: null,
                    title: null,
                    body: null,
                    img_path: null,
                    egw_writings: {
                        book_id: null,
                        files: null,
                    },
                },
                activeViewer: {
                    options: ['mp3', 'pdf', 'epub', 'mobi', 'toc'],
                    value: null
                },                
            };
        },
        computed: {
            publicationId: function(){
                if(this.item) {
                    return this.item._id;
                } else if(this.item_id){
                    return this.item_id;
                } else {
                    return null;
                }
            },
            writingsMirror: function(){
                return this.$store.state.writings.content.mirrors[0];
            },
            emptyWritings: function(){
                if(!this.publication.egw_writings || !this.publication.egw_writings.files){
                    return true;
                } else {
                    if(!this.publication.egw_writings.files.epub && !this.publication.egw_writings.files.mobi && !this.publication.egw_writings.files.mp3 && !this.publication.egw_writings.files.pdf){
                        return true;
                    } else {
                        return false;
                    };
                };
            },
        },
        methods: {
            
        },
        mounted(){
            $(document).on('click', '.publication-tabs li', function(event) {
                event.preventDefault();
                $('.publication-tabs li').removeClass('active');
                $(this).addClass('active');
            });
        },
        watch: {
            item: {
                handler: function() {
                    this.activeViewer.value = null;
                    $('.publication-tabs li').removeClass('active');
                },
                deep: true
            },
        },

    }
</script>