<template>
    <div class="lesson-viewer">
        <div v-if="lesson" v-html="lesson.body" class="content"></div>
    </div>
</template>

<script>
    const lesson = gpl`query lesson($id: Int!) {
        lesson(id: $id) {
            title
            body
            thumbnail
        }
    }`;

    export default {
        apollo: {
            lesson: {
                query: lesson,
                variables() {
                    return {
                        id: this.lessonId
                    }
                }
            },
        },
        props: {
            item: {}
        },
        computed: {
            lessonId: function(){
                if(this.item) {
                    return this.item._id;
                } else if(this.item_id){
                    return this.item_id;
                } else {
                    return null;
                }
            },
        }
    }
</script>