<template>
    <div class="search-viewer-audio">
        <audio-player 
            v-if="audioData.mediaFile.public_path"
            :single-track="audioData.mediaFile.public_path"
        ></audio-player>

        <div class="search-viewer-audio-metadata" style="display: none">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" v-if="albumData.title">Album: {{ albumData.title }}</h3>
                </div>
                <div class="panel-body">
                    <img :src="'/storage/app/public/'+albumData.image" alt="" v-if="albumData.image">
                    <h4>Other compositions from this album</h4>
                    <div v-if="albumData.tracks">
                        <ul class="media-audio-metadata__track-list">
                            <li v-for="item in albumData.tracks">
                                <span class="glyphicon glyphicon-music"></span>
                                <a href="#">{{ item.title }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-viewer-audio-albums" v-if="randomAlbumsData.length != 0">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Other albums</h3>
                </div>
                <div class="panel-body">
                    <div class="search-viewer-audio-albums-item" v-for="item in randomAlbumsData" v-if="item.id != albumData.id">
                        <a href="#">
                            <h4>{{ item.title }}</h4>
                            <img :src="'/storage/app/public/'+item.image" :alt="item.title">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            item: {}
        },
        data() {
            return {
                endpoints: {
                    album: '/media/api/audio-album/'
                },
                audioData: {},
                albumData: {},
                randomAlbumsData: {},
            };
        },
        methods: {
            getAudioData: function(){
                this.$apollo.query({
                    query: gpl`query mediaAudio($id: Int!) {
                        mediaAudio(id: $id) {
                            title
                            body
                            thumbnail
                            mediaFile{
                                id
                                name
                                file_name
                                mime_type
                                disk
                                size
                                public_path
                                server_path
                                public_url
                            }
                        }
                    }`,
                    variables: {
                        id: this.item._id
                    }
                }).then( (response) => {
                    this.audioData = response.data.mediaAudio;
                }, (reject) => {
                    console.log('Error in mediaAudio request', reject);
                });
            },
            getRandomAlbumsData: function(parametrs = null){
                this.$http.get(this.endpoints.album+parametrs).then(response => {
                    this.randomAlbumsData = response.body;
                }, reject => {
                    console.log('Error in audio request');
                });
            },
        },
        mounted() {
            this.getAudioData();
            this.getRandomAlbumsData('?sort=random&limit=4');
        },
        watch: {
            item: {
                handler: function(newVal) {
                    this.getAudioData() 
                    this.getRandomAlbumsData('?sort=random&limit=4');
                },
                deep: true
            },
        },
    }
</script>