<template>
    <div class="">
        <div v-html="entityData.body" class="content"></div>
    </div>
</template>

<script>
    export default {
        props: {
            item: {}
        },
        data() {
            return {
                endpoints: {
                    entities: '/faq/api/faq/',
                },
                entityData: {
                    title: null,
                    body: null,
                },
            };
        },
        methods: {
            getData: function(entityId){
                this.$http.get(this.endpoints.entities+entityId).then(response => {
                    this.entityData = response.body;
                }, reject => {
                    console.log('Error in faq request');
                });
            },
        },
        mounted() {
            this.getData(this.item._id);
        },
        watch: {
            item: {
                handler: function(newVal) {
                    this.getData(newVal._id)
                },
                deep: true
            },
        },

    }
</script>t>