<template>
    <div class="search-viewer-location">
        <div v-html="entityData.description" v-if="entityData.description" class="content"></div>

        <div v-if="!hasCoord">Missing coordinates, map is unavailable</div>

        <gmap-map
            v-if="hasCoord"
            :id="'search-location-'+item._id"
            :center="entityData.geocode"
            :zoom="4"
            style="width: 100%; height: 450px"
        >
            <gmap-marker
                :position="entityData.geocode"
                :title="entityData.title"
                :clickable="true"
                :draggable="false"
            ></gmap-marker>
        </gmap-map>
    </div>
</template>

<script>
    export default {
        props: {
            item: {}
        },
        data() {
            return {
                entityData: {
                    geocode: null
                },
            };
        },
        computed: {
            hasCoord: function(){
                if(this.entityData.geocode==null){
                    return false;
                } else if(this.entityData.geocode.lat==null && this.entityData.geocode.lon==null){
                    return false;
                } else if(this.entityData.geocode.lat==0 && this.entityData.geocode.lon==0){
                    return false;
                } else {
                    return true;
                }
            }
        },
        methods: {
            getLocation: function(locId){
                this.$apollo.query({
                    query: gpl`query location($id: Int!) {
                        location(id: $id) {
                            id
                            title
                            description
                            geocode{
                                lat
                                lon
                            }
                        }
                    }`,
                    variables: {
                        id: locId
                    }
                }).then( (response) => {
                    this.entityData = this.mapingLocation(response.data.location)
                }, (reject) => {
                    console.error('Error in Location request', reject);
                });
            },
            mapingLocation: function(location){
                let newItem = {};
                newItem.id = location.id;
                newItem.title = location.title;
                newItem.description = location.description;
                if(location.geocode != null){
                    newItem.geocode = {};
                    newItem.geocode.lat = location.geocode.lat;
                    newItem.geocode.lng = location.geocode.lon; // Most important part of mapping
                } else {
                    newItem.geocode = null;
                }
                return newItem;
            },
        },
        mounted() {
            this.getLocation(this.item._id);

            this.$root.$on('searchChangeViewerSize', () => {
                _.debounce( () => { 
                    this.$gmapDefaultResizeBus.$emit('resize');
                }, 100)();
            });
        },
        watch: {
            item: {
                handler: function(newVal) {
                    this.getLocation(newVal._id)
                },
                deep: true
            },
        },

    }
</script>