<template>
    <div class="">
        <div v-html="article.body" v-if="article && article.body" class="content"></div>
    </div>
</template>

<script>
    const article = gpl`query article($id: Int!) {
        article(id: $id) {
            title
            thumbnail
            body
        }
    }`;

    export default {
        apollo: {
            article: {
                query: article,
                variables() {
                    return {
                        id: this.articleId
                    }
                }
            },
        },
        props: {
            item: {},
            item_id: {},
        },
        data() {
            return {
                
            };
        },
        computed: {
            articleId: function(){
                if(this.item) {
                    return this.item._id;
                } else if(this.item_id){
                    return this.item_id;
                } else {
                    return null;
                }
            },
        },

    }
</script>