<template>
    <div class="search-viewer-book">
        <div v-html="letterBook.body" v-if="letterBook.body" class="content"></div>
        
        <letterbook
            :first-pdf-path="letterBook.pdf.server_path"
            :first-pdf-url="letterBook.pdf.public_url"
            :second-pdf-path="letterBook.pdf_text.server_path"
            :second-pdf-url="letterBook.pdf_text.public_url"
        ></letterbook>
    </div>
</template>

<script>
    const letterBook = gpl`query letterBook($id: Int!) {
        letterBook(id: $id) {
            title
            body
            pdf {
                public_url
                server_path
            }
            pdf_text {
                public_url
                server_path
            }
        }
    }`;

    export default {
        apollo: {
            letterBook: {
                query: letterBook,
                variables() {
                    // Use vue reactive properties here
                    return {
                        id: this.item._id
                    }
                }
            }
        },
        props: {
            item: {}
        },
        data() {
            return {
                letterBook: {
                    title: null,
                    body: null,
                    pdf: {
                        public_url: null,
                        server_path: null,
                    },
                    pdf_text: {
                        public_url: null,
                        server_path: null,
                    },
                },
            };
        },
    }
</script>