<template>
    <div class="controllers search-filters-inner">
        <div class="search-filters__share-search" @click="copySearchResults"><i class="fa fa-share-alt"></i> Share results</div>

        <!--Content types controllers-->

        <h4 class="search-filters__types-title" data-slide-target=".search-filters__types--contents">Filter by content type (<span class="search-filters__clear" @click="clearSearchFilters">Reset filters</span>)</h4>
        <div class="search-filters__types search-filters__types--contents">
            <div class="checkbox" v-for="(type, name) in types" :name="name">
                <label>
                    <input
                        type="checkbox"
                        :id="name"
                        v-model="type.value"
                        @click="changeType(type, name)"
                    >
                    {{ type.label }}
                    <span class="badge" v-if="type.amount > 0">{{ type.amount }}</span>
                </label>

                <div class="search-filters__types-nested" v-if="checkNestedController(name) && type.value">
                    <component
                        :is="'controllers-'+name"
                    ></component>
                </div>
            </div>
        </div>

        <hr>

        <!--Media types controllers-->

        <h4 class="search-filters__types-title" data-slide-target=".search-filters__types--media">Filter by media type</h4>
        <div class="search-filters__types search-filters__types--media">
            <div class="checkbox" v-for="(type, name) in media_types" :name="name">
                <label>
                    <input
                            type="checkbox"
                            :id="name"
                            v-model="type.value"
                            @click="changeMediaType(type, name)"
                    >
                    {{ type.label }}
                    <span class="badge" v-if="type.amount > 0">{{ type.amount }}</span>
                </label>

                <div class="search-filters__types-nested" v-if="checkNestedController(name) && type.value">
                    <component
                            :is="'controllers-'+name"
                    ></component>
                </div>
            </div>
        </div>
        <hr>

        <h4>Other Filters</h4>

        <div class="checkbox">
            <label>
                <input type="checkbox">
                Ellen White only
            </label>
        </div>

        <hr>

        <date-range
            :search-start-time="date.startTime"
            :search-end-time="date.endTime"
            :enabled="date.enabled"
            :min-time="this.$store.state.controllers.date.minDatetime"
            :max-time="this.$store.state.controllers.date.maxDatetime"
            :date-format="this.$store.state.controllers.date.dateTimeFormat"
            @updateStartTime="val => $store.commit('controllerPathSetValue', {path: 'date.value.start', value: val})"
            @updateEndTime="val => $store.commit('controllerPathSetValue', {path: 'date.value.end', value: val})"
            @toggleDisabling="val => $store.commit('controllerPathSetValue', {path: 'date.enabled', value: val})"
        ></date-range>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                date: {
                    startTime: null,
                    endTime: null,
                    enabled: null,
                },
                types: {},
                media_types: {},
                componentsList: [],
            }
        },
        methods: {
            /**
             * Change type value in the store
             * @TODO get rid of duplicate code in order this function similar to changeMediaType
             */
            changeType: function(type, name) {
                this.$store.commit('controllerPathSetValue', {
                    path: 'types.' + name + '.value',
                    value: type.value,
                });
                if(type.value==false){
                    this.$store.commit('defaultTypesControllers', {
                        path: name,
                    });
                };

                this.$root.$emit('setSorting');
            },
            /**
             * Change media type value in the store
             * @TODO get rid of duplicate code in order this function similar to changeType
             */
            changeMediaType: function(type, name) {
                this.$store.commit('controllerPathSetValue', {
                    path: 'media_types.' + name + '.value',
                    value: type.value,
                });
                if(type.value==false){
                    this.$store.commit('defaultMediaTypesControllers', {
                        path: name,
                    });
                };

                this.$root.$emit('setSorting');
            },
            clearSearchFilters: function(){
                this.$store.dispatch('clearSearchFilters');
            },
            checkNestedController: function(name){
                // debugger;
                if(this.componentsList.indexOf('controllers-'+name) != -1){
                    return true;
                } else {
                    return false;
                }
            },
            copySearchResults: function(){
                this.$emit('copySearchResults');
            },
        },
        mounted(){       
            $(document).ready(() => {
                _.forEach(Object.getPrototypeOf(app.__vue__.$options.components), (value, key) => {
                    if(key.search('controllers-') != -1){
                        this.componentsList.push(key);
                    }
                });

                $('.search-filters__types-title').click(function(){
                    let targetClass = $(this).data('slide-target');
                    if($(targetClass+':hidden').length == 0){
                        $(targetClass).slideUp();
                    } else {
                        $(targetClass).slideDown();
                    };
                });
            });

            this.date.startTime = this.$store.state.controllers.date.value.start;
            this.date.endTime = this.$store.state.controllers.date.value.end;
            this.date.enabled = this.$store.state.controllers.date.enabled;
            this.$store.watch((state) => state.controllers.date, (newVal) => {
                this.date.startTime = newVal.value.start;
                this.date.endTime = newVal.value.end;
                this.date.enabled = newVal.enabled;
            }, {deep: true});

            // Content types
            // @TODO Get rid of code duplication blow
            this.types = this.$store.state.controllers.types;
            this.$store.watch((state) => state.controllers.types, (newVal) => {
                _.forEach(newVal, (value, key) => {
                    this.types[key] = value;
                });
            }, {deep: true});

            // Media types
            // @TODO Get rid of code duplication blow
            this.media_types = this.$store.state.controllers.media_types;
            this.$store.watch((state) => state.controllers.media_types, (newVal) => {
                _.forEach(newVal, (value, key) => {
                    this.media_types[key] = value;
                });
            }, {deep: true});
        }
    };
</script>