<template>
    <div class="search-top clearfix">
        <div class="search-top__disabler"></div>

        <div class="search-top__query">
            <search-text></search-text>
        </div>

        <div class="search-top__filters">
            <div class="search-top__sort">
                <h4>Sorting: </h4>
                <select class="form-control" v-model="sort.value">
                    <option :value="item.value" v-for="item in sort.options">{{ item.label }}</option>
                </select>
            </div>

            <div class="search-top__filters-right">
                <div class="search-top__amount">
                    <h4>Items: </h4>
                    <select class="form-control" v-model="pager.limit" @change="setOffsetZero">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                    </select>
                </div>

                <div class="search-top__format">
                    <div class="search-top__format-btn thumbs" @click="changeViewFormat('thumbs')">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                    <div class="search-top__format-btn list active" @click="changeViewFormat('list')">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </div>
                </div>
            </div>

            <div class="search-top__pagination">
                <pagination
                    :total="totalResults"
                    :offset="pager.offset"
                    :perPage="pager.limit"
                    @page-changed="val => pager.offset = val">
                </pagination>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            totalResults: {}
        },
        data() {
            return {
                sort: _.get(this.$store.state.controllers, 'sort', null),
                pager: _.get(this.$store.state.controllers, 'pager', null),
            };
        },
        computed: {
            
        },
        methods: {
            /**
             * Mutate pager limit in the state.
             * @see this.$store.state.controllers.pager
             */
            changePager: function() {
                this.$store.commit('controllerPathSetValue', {
                    path: 'pager.limit',
                    value: this.pager.limit
                });
                this.$store.commit('controllerPathSetValue', {
                    path: 'pager.offset',
                    value: this.pager.offset
                });
            },
            setOffsetZero: function(){
                this.pager.offset = 0;
            },
            changeSort: function(){
                this.$store.commit('controllerPathSetValue', {
                    path: 'sort.value',
                    value: this.sort.value
                })
            },
            changeViewFormat: function(format){
                $('.search-top__format-btn').removeClass('active');
                $('.search-top__format-btn.'+format).addClass('active');
                this.$emit('view-format-changed', format);
            },
        },
        mounted() {
            this.$store.watch((state) => state.controllers.pager, (newVal, oldVal) => {
                this.pager.limit = newVal.limit;
                this.pager.offset = newVal.offset;
            }, {deep: true});
            this.$store.watch((state) => state.controllers.sort, (newVal, oldVal) => {
                this.sort.value = newVal.value;
            }, {deep: true});
        },
        watch: {
            pager: {
                handler: function(newVal, oldVal){
                    this.changePager();
                },
                deep: true
            },
            sort: {
                handler: function(){
                    this.changeSort();
                },
                deep: true
            },
        }
    }
</script>